{% extends "_layout.html" %}
{% set metatitle = "Glossary" %}
{% set metadescription = "A glossary of the terms used on All About Berlin." %}

{% block postHead %}
	{{ super() }}
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="{{ metatitle }}" />
	<meta property="og:description" content="{{ metadescription }}" />
	<link rel="canonical" href="{{ site_url }}/glossary">
{% endblock %}

{% block content %}
	<h1>Glossary</h1>
	<div class="post-meta">
		<nav class="breadcrumb">
			<ol itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
					<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ site_url }}">
						<span itemprop="name">Home</span>
					</a>
					<meta itemprop="position" content="1" />
				</li>
				<li class="title" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
					<a itemtype="http://schema.org/Thing" itemprop="item" href="{{ site_url }}/glossary">
						<span itemprop="name">Glossary</span>
					</a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</nav>
	</div>
	<nav class="glossary-links">
		{% for entry in get_entries('glossary', sort_by='german_term') %}
			<a title="Definition of {{ entry.german_term }}" rel="tag" href="{{ entry.url }}">{{ entry.german_term }}</a>
		{% endfor %}
	</dl>
{% endblock %}
