{% extends "_layout.html" %}
{% set entry = entries['guides/best-bank-germany.md'] %}
{% set metatitle = entry.title %}
{% set metadescription = entry.description %}

{% include '_js/vue/components/blank.js' %}
{% include '_js/vue/components/tabs.js' %}

{% js %}
	new Vue({
		el: document.querySelector('main .article-body'),
		data() {
			return {
				radioValue: 'one',
				checkboxValue: false,
			}
		}
	})
{% endjs %}


{% block postHead %}
	<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
	<h1>Component test</h1>
	<div class="article-body show-errors">
		<div class="form-group">
			<label>Tabs</label>
			<tabs
				id="tabs1"
				value="null"
				:options="[{label: 'True', value: true}, {label: 'False', value: false}]"></tabs>
			<tabs
				:value="false"
				id="tabs2"
				:options="[{label: 'True', value: true}, {label: 'False', value: false}]"></tabs>
			<tabs
				id="tabs3"
				value="null"
				required
				:options="[{label: 'True', value: true}, {label: 'False', value: false}]"></tabs>
		</div>

		<hr>

		<div class="form-group">
			<span class="label">Optional</span>
			<input type="text">
		</div>
		<div class="form-group optional">
			<span class="label">Explicitly optional</span>
			<input type="text">
		</div>
		<div class="form-group optional">
			<span class="label">Very long label name, Mietschuldenfreiheitsbescheinigung</span>
			<textarea>Input text</textarea>
		</div>

		<hr>

		<div class="form-group">
			<label>Instructions</label>
			<input type="text">
			<span class="input-instructions">A set of instructions intended to provide extra information or context about a form control.</span>
			<a class="input-instructions internal-link" href="/guides/german-health-insurance">Internal link</a>
			<input type="text">
			<a class="input-instructions external-link" href="https://google.com">External link</a>
			<input type="text">
			<details class="input-instructions">
				<summary>Collapsible instructions</summary>
				<strong>This</strong> is how you do instructions!
			</details>
		</div>
	</div>
{% endblock %}