{% extends "_layout.html" %}
{% set metatitle = "Tests" %}
{% set metadescription = "" %}

{% block postHead %}
	<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
	<h1>{{ metatitle }}</h1>
	<p>
		Commit {{ commit_id }}, built on {{ now.isoformat() }}.
	</p>
	<div class="article-body">
		<ul>
			<li><a href="/tests/unit">Unit tests</a></li>
			<li><a href="/tests/component">Component tests</a></li>
			<li><a href="/tests/markdown">Markdown tests</a></li>
		</ul>
	</div>
{% endblock %}