# Optional; adds a prefix to docker image names
COMPOSE_PROJECT_NAME=allaboutberlin

# The domain and email used to generate SSL certificates
# Only works in prod
SSL_DOMAIN=allaboutberlin.com
SSL_EMAIL=contact@allaboutberlin.com

# Used to send emails
# Only works in prod
MAILGUN_API_KEY=...

# Used for newsletter management
BUTTONDOWN_API_KEY=...

# Used to clear the cloudflare cache
# Only works in prod
CLOUDFLARE_API_KEY=...
CLOUDFLARE_ZONE=...

# Where API database backups are stored
# Only works in prod
DB_BACKUPS_PATH=/path/to/db/backups

# Optional: Where remote backups are sent
REMOTE_DB_BACKUPS_PATH=user@server:/path/to/db-backups

# = PRODUCTION CONFIG ==========================================================

# Load the production configuration for docker
COMPOSE_FILE=docker-compose.yml:docker-compose.prod.yml

# Configuration for GitHub webhooks
GITHUB_WEBHOOK_SECRET=...