version: '3.2'

services:
  api:
    build: ./api
    depends_on:
      - mysql
    environment:
      - MAILGUN_API_KEY
    volumes:
      - "./api/api:/app"
  appointments:
    build: https://github.com/nicbou/burgeramt-appointments-websockets.git#main
    environment:
      - PYTHONUNBUFFERED=1
      - BOOKING_TOOL_ID
      - BOOKING_TOOL_EMAIL
  proxy:
    build:
      context: ./proxy
      args:
        - "SSL_DOMAIN"
        - "SSL_EMAIL"
    ports:
      - 80:80
      - 443:443
    depends_on:
      - api
      - appointments
    volumes:
      # STATIC_SITE_PATH is the path to your generated website.
      - "${STATIC_SITE_PATH}:/var/www/html"
      - "ssl_certs:/etc/ssl-certs"
      - "acme_sh:/root/.acme.sh"
  mysql:
    image: "mysql"
    volumes:
      - "mysql:/var/lib/mysql"
    environment:
      - MYSQL_DATABASE=api
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
volumes:
  mysql:
  ssl_certs:
  acme_sh: