# Production docker file
# - Only rebuilds static site once, when started
# - Build the static site to a staging area before overwriting the old version
# - Disables debugging
# - Enables log rotation
# - Enables email sending
# - Enables SSL certificate generation
# - Enables local and remote database backups

services:
  frontend:
    build:
      target: prod
    environment:
      - "URSUS_SITE_URL=https://allaboutberlin.com"
      - "CLOUDFLARE_ZONE"
      - "CLOUDFLARE_API_KEY"
    volumes: !override
      - ".:/var/project:ro"
      - "temp_static_site:/var/output"
      - "static_site:/var/live-output"
    logging: &prod-logging
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  backend:
    build:
      target: prod
    environment:
      - "MAILGUN_API_KEY"
      - "REMOTE_DB_BACKUPS_PATH"
    volumes: !override
      - "api_db:/var/db"
      - "api_staticfiles:/var/www/api/staticfiles"
      - "${DB_BACKUPS_PATH:-./db-backups}:/var/db-backups"
      - "~/.ssh:/root/.ssh:ro"
    restart: unless-stopped
    logging: *prod-logging
  proxy:
    environment:
      - SSL_DOMAIN
      - SSL_EMAIL
    volumes:
      - "static_site:/var/www/html"
    restart: unless-stopped
    logging: *prod-logging
volumes:
  static_site:
  temp_static_site: