version: '3.2'

# Production docker file. Adds ursus_builder to rebuild the website when the
# git repo has new commits

services:
  api:
    environment:
      - "DEBUG=0"
      - "MAILGUN_API_KEY"
      - "BETTERSTACK_SOURCE_TOKEN=${BETTERSTACK_SOURCE_TOKEN_API}"
    volumes:
      - "${DB_BACKUPS_PATH:-./db-backups}:/var/db-backups"
  ursus_builder:
    build:
      context: "./ursus_builder"
    environment:
      - "GIT_REPO_URL"
      - "SITE_URL"
      - "CLOUDFLARE_ZONE"
      - "CLOUDFLARE_API_KEY"
      - "BETTERSTACK_SOURCE_TOKEN=${BETTERSTACK_SOURCE_TOKEN_URSUS}"
    volumes:
      - "ursus_files:/var/ursus/site"
      - "static_site:/var/ursus/final_output"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  proxy:
    volumes:
      - "static_site:/var/www/html"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
volumes:
  ursus_files:
  static_site: