# Development docker file
# - Enables debugging
# - No SSL certificate generation
# - Rebuilds the static site every time the files change

services:
  frontend:
    build:
      context: frontend
      target: dev
    environment:
      - "URSUS_SITE_URL=https://localhost"
    volumes:
      - ".:/var/project:ro"
      - "./frontend/output:/var/output"
  backend:
    build:
      context: backend
      target: dev
      args:
        - "SSL_DOMAIN=localhost"
    environment:
      - "BUTTONDOWN_API_KEY"
    volumes:
      - "api_db:/var/db"
      - "api_staticfiles:/var/www/api/staticfiles"
      - "./backend/src:/srv/app"
  proxy:
    build: ./proxy
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - "backend"
    volumes:
      - "ssl_certs:/etc/ssl-certs"
      - "acme_sh:/root/.acme.sh"
      - "api_staticfiles:/var/www/api/staticfiles:ro"
      - "./frontend/output:/var/www/html"
      - "./frontend/content/redirects:/etc/nginx/redirects"
volumes:
  acme_sh:
  api_db:
  api_staticfiles:
  ssl_certs: