services:
  api:
    build: ./api
    volumes:
      - "api_db:/var/db"
  proxy:
    build:
      context: ./proxy
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - "api"
    volumes:
      - "ssl_certs:/etc/ssl-certs"
      - "acme_sh:/root/.acme.sh"
volumes:
  acme_sh:
  api_db:
  ssl_certs: