[env]
COMPOSE_PROJECT_NAME = "allaboutberlin"
BUILDKIT_PROGRESS = "plain"

_.python.venv = { path = ".venv", create = true }

# = INSTALL=====================================================================

[tools]
uv = "latest"
ruff = "latest"
python = "3.13"
shellcheck = "latest"
pre-commit = "latest"

[tasks.setup]
description = "Install local dependencies to run the project"
alias = "i"
run = """
uv pip install -r backend/requirements.txt
uv pip install -r requirements-dev.txt
playwright install --with-deps
mise generate git-pre-commit --hook=pre-commit --write --task=pre-commit
mise generate git-pre-commit --hook=pre-push --write --task=pre-push
"""

# = RUN ========================================================================

[tasks.site]
description = "Serve the frontend, reload on changes. Fast and resource-efficient."
alias = "r"
run = """
ursus -wfs -c frontend/ursus_config.py
"""

[tasks.dev]
description = "Serve the frontend and the backend in docker."
alias = "d"
run = """
echo "Starting docker daemon"
if ! docker info >/dev/null 2>&1; then
  open -a Docker;
fi

echo "Waiting for docker daemon to be ready"
while ! docker ps > /dev/null 2>&1; do
  sleep 1;
done

echo "Starting docker containers"
if [ "$(docker ps -q | wc -l)" -eq 0 ]; then
  docker compose up --build -d;
fi

# Waiting for server to be available
max_attempts=30
attempt=1
echo "Waiting for server availability"
until curl --fail -s -k https://localhost >/dev/null; do
  if [ "$attempt" -ge "$max_attempts" ]; then
    echo "Can't reach server after $max_attempts seconds."
    exit 1
  fi
  ((attempt++))
  sleep 1
done
"""

[tasks.import-db]
description = "Imports the latest backup of the production database"
run = """
TMP_DB=${TMPDIR:-/tmp}/api.db

scp "aab:/var/db-backups/$(date -I).db" "$TMP_DB"
docker compose cp "$TMP_DB" backend:/var/db/api.db
rm "$TMP_DB"
"""

# = WRITE ======================================================================

[tasks.add-places]
description = "Create place entries"
run = """
frontend/scripts/add_places.py
"""

[tasks.add-review]
description = "Add a review to a guide"
run = """
frontend/scripts/add_review.py
"""

# = TEST =======================================================================

[tasks.test-api]
run = """
mise dev
docker compose exec backend python3 manage.py test -b --parallel
"""

[tasks.test-ui]
run = """
mise dev
pytest tests
"""

[tasks.update-snapshots]
run = """
mise dev
rm -rf tests/snapshots/*
pytest tests --update-snapshots
"""

[tasks.test]
run = """
mise test-ui
mise test-api
"""

# = CLEANUP ====================================================================

[tasks.shellcheck]
description = "Lint shell scripts with shellcheck"
run = """
for file in $(find . -type f -name "*.sh" -not -path '*/[@.]*'); do shellcheck $file; done;
"""

[tasks.ruff]
description = "Lint Python code with ruff"
run = "ruff check"

[tasks.pyright]
description = "Lint Python code with pyright"
run = "pyright ."

[tasks.lint]
description = "Run various linters for the project"
alias = "l"
run = """
mise shellcheck
# mise pyright
mise ruff
ursus lint --level=ERROR -c frontend/ursus_config.py
"""

[tasks.format]
description = "Automatically format the code"
alias = "f"
run = "ruff format"

[tasks.pre-commit]
description = "Run git pre-commit checks"
run = """
mise format

mise shellcheck
mise ruff

# ursus lint on staged files only
frontend_files=$(git diff --cached --name-only --diff-filter=ACM | grep '^frontend/')
[ -z "$frontend_files" ] && exit 0
ursus lint --level=ERROR -c frontend/ursus_config.py $staged_files
"""

[tasks.pre-push]
description = "Run git pre-push checks"
run = """
mise lint
ursus -c frontend/ursus_config.py
mise test-ui
"""
