[env]
COMPOSE_PROJECT_NAME = "allaboutberlin"
BUILDKIT_PROGRESS = "plain"

_.python.venv = { path = ".venv", create = true }

[tools]
uv = "latest"
ruff = "latest"
python = "3.13"
shellcheck = "latest"

[tasks.setup]
description = "Install local dependencies to run the project"
alias = "i"
run = """
mise generate git-pre-commit --write --task=pre-commit
uv pip install -r requirements-dev.txt -r frontend/requirements.txt -r backend/requirements.txt
"""

[tasks.site]
description = "Serve the frontend, reload on changes. Very fast."
alias = "r"
run = """
ursus -wfs -c frontend/ursus_config.py
"""

[tasks.dev]
description = "Serve the frontend and the backend in docker. Slower."
alias = "d"
run = """
open -a Docker;

while [[ -z "$(! docker stats --no-stream 2> /dev/null)" ]];
  do printf ".";
  sleep 1
done

docker compose up --build -d
"""

[tasks.shellcheck]
description = "Lint shell scripts with shellcheck"
run = """
for file in $(find . -type f -name "*.sh" -not -path '*/[@.]*'); do shellcheck $file; done;
"""

[tasks.ruff]
description = "Lint Python code with ruff"
run = "ruff check"

[tasks.pyright]
description = "Lint Python code with pyright"
run = "pyright ."

[tasks.lint]
description = "Run various linters for the project"
alias = "l"
run = """
mise shellcheck
# mise pyright
mise ruff
ursus lint --level=ERROR -c frontend/ursus_config.py
"""

[tasks.format]
description = "Automatically format the code"
alias = "f"
run = "ruff format"

[tasks.pre-commit]
description = "Run git pre-commit checks"
run = """
mise format
mise lint
"""
