# Requirements for host machines
# Allows running the frontend as a standalone static site, without docker
# Allows running utility scripts
ursus-ssg==1.4.2
pyphen==0.17.2
googlemaps==4.10.0
pytest-playwright-visual-snapshot~=0.2

# Linting tools
pyright~=1.1