# Requirements for host machines
# Allows running the frontend as a standalone static site, without docker
# Allows running utility scripts
ursus-ssg==1.4.3
pyphen==0.17.2
googlemaps==4.10.0

# Linting tools
pyright~=1.1

# Frontend tests
playwright~=1.55
pytest>=8
pytest-base-url~=2.1
pytest-instafail~=0.5.0
pytest-playwright-visual-snapshot==0.2.4
pytest-xdist~=3.8