{% extends "_layout.html" %}
{% set metatitle = entry.title %}
{% set metadescription = entry.description %}
{% set relatedCollections = todo %}

{% block postHead %}
	<meta property="og:url" content="{{ entry.url }}" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ entry.title }}" />
	<meta property="og:description" content="{{ entry.description }}" />
	<meta property="og:image" content="{{site_url}}/api/images/cover.png?text={{ entry.title|urlencode }}" />
	<link rel="canonical" href="{{ entry.url }}" />
	<link rel="glossary" href="{{ site_url }}/glossary" />
	<link rel="index" href="{{ site_url }}/guides">
{% endblock %}

{% set bodyClass = "with-sidebar" %}
{% block precontent %}
	<div class="sidebar">
		{% with entry=entry, showScrollToTop=true, showSupportLink=true, showRelatedEntriesLink=relatedCollections|length %}
			{% include 'blocks/_tableOfContents.html' %}
		{% endwith %}
	</div>
{% endblock%}

{% block content %}
	<h1>{{ entry.title }}</h1>
	<div class="post-meta">
		<span class="post-date">
			Updated on <time content="{{ entry.date_updated.strftime('%F') }}" datetime="{{ entry.date_updated.strftime('%F') }}">{{ entry.date_updated.strftime('%B %-d, %Y') }}</time>
		</span>
		<span class="post-author">{% if reviews|length %}By {% else %}Written by {% endif %}<a rel="nofollow" href="{{ site_url }}/contact">Nicolas Bouliane</a></span>{% if reviews|length %}.{% endif %}
		{% if reviews|length == 1 %}
			<span class="post-reviewers">Verified by <a class="reviewers-link" href="#reviewers">1 expert</a></span>
		{% elif reviews|length > 1 %}
			<span class="post-reviewers">Verified by <a class="reviewers-link" href="#reviewers">{{ reviews|length }} experts</a></span>
		{% endif %}
		{% if reviews %}
			<ul class="hidden" id="reviewers">
				{% for review in reviews %}
					{% set reviewer = review.reviewer %}
					<li class="expert">
						{% if reviewer.cover_image|length %}
							<img class="profile-picture" alt="{{ reviewer.title }}" loading="lazy" src="{{ reviewer.cover_image }}">
						{% else%}
							<div class="profile-picture no-picture"></div>
						{% endif %}
						<div>
							<p>
								<strong>Fact-checked by {{ reviewer.title }}</strong>
								 on 
								<time content="{{ review.reviewDate.strftime('%F') }}" datetime="{{ review.reviewDate.strftime('%F') }}">{{ review.reviewDate.strftime('%B %-d, %Y') }}</time>
							</p>
							{{ reviewer.body }}
						</div>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
	{% with entry=entry, showRelatedEntriesLink=relatedCollections|length %}
		{% include 'blocks/_mainContent.html' %}
	{% endwith %}
	{% if entry.places|length %}
		{% with places=todo %}
			{% include 'blocks/_places.html' %}
		{% endwith %}
	{% endif %}
{% endblock %}


{% block postcontent %}
	{% with pageType='guide' %}
		{% include "blocks/_donationPrompt.html" %}
	{% endwith %}
	<aside class="section fixed-width footer-notice" aria-label="Affiliate links notice">
		<p>
			<strong>This guide might contain affiliate links.</strong> When you click those links and buy something, I make a little money. This allows me to work on this website full time.
		</p>
	</aside>
	{% if relatedCollections %}
		<aside id="related" class="section fixed-width transparent" aria-label="Collections that include this guide">
			{% with collections=entry.related_collections, currentEntry=entry %}
				{% include "blocks/_collections.html" %}
			{% endwith %}
		</aside>
	{% endif %}
{% endblock %}

{% block postFooter %}
	{% include 'blocks/_tooltip.html' %}
	{{ super() }}
	<script type="application/ld+json">
		[
			{
				"@context": "http://schema.org",
				"@type": "WebPage",
				"name": "{{ entry.title }}",
				"description": "{{ entry.description }}",
				"breadcrumb": {
					"@context": "https://schema.org",
					"@type": "BreadcrumbList",
					"itemListElement": [
						{
							"@type": "ListItem",
							"position": 1,
							"item": {
								"@id": "{{ site_url }}/",
								"name": "Home"
							}
						},
						{
							"@type": "ListItem",
							"position": 2,
							"item": {
								"@id": "{{ site_url }}/guides",
								"name": "Guides"
							}
						},
						{
							"@type": "ListItem",
							"position": 3,
							"item": {
								"@id": "{{ entry.url}}",
								"name": "{{ entry.title }}"
							}
						}
					]
				},
				"author": {
					"@type": "Person",
					"@id": "https://nicolasbouliane.com"
				},
				"reviewedBy": [
					{% for review in reviews %}
						{% set reviewer = review.reviewer.one() %}
						{
							"@context": "https://schema.org/",
							"@type": "Person",
							"jobTitle": "{{ reviewer.description }}",
							"name": "{{ reviewer.title }}",
							"email": "{{ reviewer.email }}",
							{% if reviewer.cover_image|length %}"image": "{{ reviewer.cover_image[0].getUrl() }}",{% endif %}
							"sameAs": [
								"{{ reviewer.website }}"
							]
						}{% if not loop.last %},{% endif %}
					{% endfor %}
				],
				{% if reviews|length %}
					"lastReviewed": "{{ reviews[0].reviewDate.strftime('%Y-%m-%d') }}",
				{% endif %}
				"publisher": {
					"@type": "Organization",
					"@id": "{{ site_url }}/#organization"
				}
			},
			{% include "guides/_jsonld.json" %}
		]
	</script>
{% endblock %}
