{% extends "_layout.html" %}
{% set metatitle = entry.title %}
{% set metadescription = entry.description %}
{% set related_collections = [] %}
{% for collection in get_entries('collections', sort_by='order') %}
    {% if entry in collection.related_guides %}
    	{% do related_collections.append(collection) %}
    {% endif %}
{% endfor %}

{% block postHead %}
	{{ super() }}
	<link rel="index" href="{{ site_url }}/guides">
{% endblock %}

{% set body_class = "with-sidebar" %}
{% block precontent %}
	<div class="sidebar">
		{% with entry=entry, showScrollToTop=true, showSupportLink=true, showRelatedEntriesLink=related_collections|length %}
			{% include 'blocks/_tableOfContents.html' %}
		{% endwith %}
	</div>
{% endblock%}

{% block content %}
	<h1>{{ entry.title }}</h1>
	{% include "blocks/_postMeta.html" %}
	{% with entry=entry, showRelatedEntriesLink=related_collections|length %}
		<div class="article-body">
			{{ entry.body|render|safe }}
		</div>
	{% endwith %}
	{% if entry.related_places|default([]) %}
		{% with places=entry.related_places %}
		    {% include 'blocks/_places.html' %}
		{% endwith %}
	{% endif %}
{% endblock %}


{% block postcontent %}
	{% with pageType='guide' %}
		{% include "blocks/_donationPrompt.html" %}
	{% endwith %}
	<aside class="section fixed-width footer-notice" aria-label="Affiliate links notice">
		<p>
			<strong>This guide might contain affiliate links.</strong> When you click those links and buy something, I make a little money. This allows me to work on this website full time.
		</p>
	</aside>
	{% if related_collections %}
		<aside id="related" class="section fixed-width transparent" aria-label="Collections that include this guide">
			{% with collections=related_collections, currentEntry=entry %}
				{% include "blocks/_collections.html" %}
			{% endwith %}
		</aside>
	{% endif %}
{% endblock %}

{% block postFooter %}
	{% include 'blocks/_tooltip.html' %}
	{{ super() }}
	<script type="application/ld+json">
		[
			{
				"@context": "http://schema.org",
				"@type": "WebPage",
				"name": "{{ entry.title }}",
				"description": "{{ entry.description }}",
				"breadcrumb": {
					"@context": "https://schema.org",
					"@type": "BreadcrumbList",
					"itemListElement": [
						{
							"@type": "ListItem",
							"position": 1,
							"item": {
								"@id": "{{ site_url }}/",
								"name": "Home"
							}
						},
						{
							"@type": "ListItem",
							"position": 2,
							"item": {
								"@id": "{{ site_url }}/guides",
								"name": "Guides"
							}
						},
						{
							"@type": "ListItem",
							"position": 3,
							"item": {
								"@id": "{{ entry.url}}",
								"name": "{{ entry.title }}"
							}
						}
					]
				},
				"author": {
					"@type": "Person",
					"@id": "https://nicolasbouliane.com"
				},
				"reviewedBy": [
					{% set reviews = entry.related_reviews|default([]) %}
					{% for review in reviews %}
						{% set reviewer = review.related_expert[0] %}
						{
							"@context": "https://schema.org/",
							"@type": "Person",
							"jobTitle": "{{ reviewer.job_title }}",
							"name": "{{ reviewer.name }}",
							"email": "{{ reviewer.email }}"
							{% if reviewer.picture|default %}, "image": "{{ site_url }}/{{ reviewer.picture }}"{% endif %}
							{% if reviewer.website|default %}
								, "sameAs": [
									"{{ reviewer.website }}"
								]
							{% endif %}
						}{% if not loop.last %},{% endif %}
					{% endfor %}
				],
				{% if reviews|length %}
					"lastReviewed": "{{ reviews[0].date_reviewed.strftime('%Y-%m-%d') }}",
				{% endif %}
				"publisher": {
					"@type": "Organization",
					"@id": "{{ site_url }}/#organization"
				}
			},
			{% include "guides/_jsonld.json" %}
		]
	</script>
{% endblock %}
