{% extends "_layout.html" %}
{% set metatitle = "Guides" %}
{% set metadescription = "A collection of guides about life in Berlin" %}

{% block postHead %}
	{{ super() }}
	<link rel="canonical" href="{{ site_url }}/guides">
{% endblock %}

{% block main %}
<main aria-label="Main page">
	<header class="intro">
		<h1>Guides about Germany</h1>
        {% with autofocus=true %}
            {% include "_blocks/searchForm.html" %}
        {% endwith %}
	</header>
	<section class="section" aria-label="Guide collections">
		{% with currentEntry=null, collections=get_entries('collections', sort_by='order') %}
			{% include "_blocks/collections.html" %}
		{% endwith %}
	</section>
	<section class="section" role="list" aria-label="Newest guides">
		<h2>Newest guides</h2>
		{% set newEntries = get_entries('guides', sort_by='date_created', reverse=True)[0:10] %}
		{% with entries=newEntries, showDatePosted=true %}
			{% include "_blocks/entryPreviews.html" %}
		{% endwith %}
	</section>
	<section class="section" role="list" aria-label="Recently updated guides">
		<h2>Recent updates</h2>
		{% set updatedEntries = get_entries('guides', sort_by='date_updated', reverse=True)[0:10] %}
		{% with entries=updatedEntries, showDatePosted=true %}
			{% include "_blocks/entryPreviews.html" %}
		{% endwith %}
	</section>
</main>
{% endblock%}

{% include "_js/masonry.js" %}
