{% extends "_layout.html" %}
{% set metatitle = "Guides" %}
{% set metadescription = "A collection of guides about life in Berlin" %}

{% block postHead %}
	{{ super() }}
	<link rel="canonical" href="{{ site_url }}/guides" />
{% endblock %}

{% block main %}
<main aria-label="Main page">
	<header class="section intro">
		<h1>Guides about Germany</h1>
        {% with autofocus=true %}
            {% include "blocks/_searchForm.html" %}
        {% endwith %}
	</header>
	<section class="section transparent " aria-label="Guide collections">
		{% with currentEntry=null, collections=get_entries('collections', sort_by='order') %}
			{% include "blocks/_collections.html" %}
		{% endwith %}
	</section>
	<section class="section " aria-label="Newest guides">
		<h2>Newest guides</h2>
		{% for entry in get_entries('guides', sort_by='date_created', reverse=True)[0:10] %}
			{% with showDatePosted=true %}
			    {% include "blocks/_guidePreview.html" %}
			{% endwith %}
		{% endfor %}
	</section>
	<section class="section " aria-label="Recently updated guides">
		<h2>Recent updates</h2>
		{% for entry in get_entries('guides', sort_by='date_updated', reverse=True)[0:10] %}
			{% with showDateUpdated=true %}
				{% include "blocks/_guidePreview.html" %}
			{% endwith %}
		{% endfor %}
	</section>
</main>
{% endblock%}

{% include "js/masonry.js" %}
