@import '_css/mixins.scss';
.appointment-finder {
    h3{
        margin: 0 0 var(--m);
    }
    p{
        @include text-block-compact;
    }
    .appointments {
        .icon{
            grid-row-end:span 2;
        }
        time{
            grid-column-start: 2;
            font-size: var(--f-s);
        }
        > * {
            @include box-s;
            @include box-clickable;
            display: grid;
            align-items: center;
            grid-column-gap: var(--m);
            grid-template-columns:auto 1fr;
        }
        > * + * {
            margin-top: var(--s);
        }
        + .timer{
            margin-bottom:var(--s);
        }
    }
}