@import '_css/mixins.scss';

.guide-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--m);
    text-align: center;

    svg{
        display: block;
        width: auto;
        height: var(--h-icon-l);
        margin:0 auto var(--xs)!important;
    }

    > li {
        text-align: center;
        line-height: var(--line-height-label);
        background: var(--c-bg-page);
        display: block;
        padding:0;
        margin:0;

        > a{
            @include box-m;
            @include box-clickable;
            display: block;
            box-sizing:border-box;
            width: 100%;
            height: 100%;
        }
    }

    @include only-phone{
        grid-template-columns: 1fr;
        gap: var(--s);

        > li{
            > a{
                @include box-s;
                text-align: left;
                display: grid;
                grid-template-columns: auto 1fr;
                gap: var(--m);
                align-items: center;
            }
        }
    }
}