/*******************************************************************************
 * 
 * Breakpoints
 *
*******************************************************************************/

$width-desktop: 1280px;
$width-tablet: 600px;
$width-main-column: 860px;

@mixin only-desktop {
    @media screen and (min-width: #{$width-desktop}) {
        @content;
    }
}

@mixin not-desktop {
    @media screen and (max-width: #{$width-desktop - 1px}) {
        @content;
    }
}

@mixin only-tablet {
    @media screen and (min-width: #{$width-tablet}) and (max-width: #{$width-desktop - 1px}) {
        @content;
    }
}

@mixin full-width-site {
    @media screen and (max-width: $width-main-column) {
        @content;
    }
}

@mixin only-phone {
    @media screen and (max-width: #{$width-tablet - 1px}) {
        @content;
    }
}

@mixin not-phone {
    @media screen and (min-width: #{$width-tablet}) {
        @content;
    }
}

@mixin only-print {
    @media print{
        @content;
    }
}

@include only-phone{
    .no-mobile{
        display: none!important;
    }
}

@include not-phone {
    .only-mobile{
        display: none!important;
    }
}

@include only-print {
    .no-print{
        display: none!important;
    }
}

/*******************************************************************************
 * 
 * Boxes
 *
*******************************************************************************/

@mixin page-borders{
    padding: var(--xl) var(--w-page-border);
}

@mixin box{
    border: var(--b-box);
    border-radius: var(--b-radius);

    > :first-child{margin-top: 0;}
    > :last-child{margin-bottom: 0;}
}

@mixin box-l{
    // Large elements
    @include box;
    @include page-borders;
    margin: var(--l) 0;
}
@mixin box-m{
    // Large buttons
    @include box;
    padding: var(--m) var(--m);
    background: transparent;
}
@mixin box-s{
    // Buttons
    @include box;
    padding: var(--s) var(--m);
    background: transparent;
}

@mixin box-clickable{
    appearance: none;
    border-color:var(--c-border-clickable);
    color: var(--c-text-heading);
    box-shadow: var(--shadow-s);
    outline: 1px solid transparent;

    &:hover, &:focus{
        color: var(--c-text-heading);
        border-color:var(--c-border-clickable-hover);
        outline-color: var(--c-border-clickable-hover);
        text-decoration: none;
        cursor: pointer;
        transition: var(--transition-border);
    }
}

/*******************************************************************************
 * 
 * Text
 *
*******************************************************************************/

@mixin heading{
    font-family: 400 1rem 'Libre Franklin', 'Open Sans', sans-serif;
    line-height: var(--line-height-heading);
    color: var(--c-text-heading);
    letter-spacing: -0.01em;

    // Break long words
    overflow: hidden;

    @include only-phone{
        hyphens: auto;
    }
}

@mixin text{
    font: 400 var(--m) / var(--line-height-text) 'Open Sans', sans-serif;
    color: var(--c-text);
}

@mixin text-hint{
    color:inherit!important;
    text-decoration: var(--text-decoration-hint);
    text-underline-offset: 0.2em;

    &:hover{
        text-decoration-color:var(--c-border-hint-hover);
    }
}

@mixin text-block{
    margin: var(--l-relative) 0;
}

@mixin text-block-compact{
    margin: var(--s-relative) 0;
}

@mixin text-block-quote{
    @include text-block;
    background: var(--c-bg-widget);
    border-radius: var(--b-radius);
    padding: var(--l-relative) var(--m);

    > :first-child{margin-top: 0;}
    > :last-child{margin-bottom: 0;}

    @include only-print{
        border: var(--b-box);
    }
}

@mixin text-bold{
    font-weight: 600;
    color: var(--c-text-heading);
}

/*******************************************************************************
 * 
 * Others
 *
*******************************************************************************/

@mixin expansible{
    &:after{
        content: '';
        width: 1em;
        height: calc(var(--line-height-text) * 1em);
        display: inline-block;
        margin-left: var(--xs);
        vertical-align: middle;
        mask-image: var(--i-expand);
        mask-repeat: no-repeat;
        mask-position: center right;
        background-color:currentColor;
        opacity: 0.5;
        transition: transform 0.2s;
    }

    &:hover:after{
        opacity: 1;
        transition: transform 0.2s, opacity 0.2s;
    }
}
@mixin collapsible{
    &:after{
        transform: scaleY(-1);
    }
}

@mixin widget{
    @include box-l;
    background: var(--c-bg-widget);
    box-shadow: var(--shadow-s);
}

@mixin list-ul{
    @include text-block-compact;

    padding-left: 3ch;
    position: relative;
    list-style: none;

    &:before {
        position: absolute;
        left: 0;
        content:'–';
    }
    &:first-child{margin-top:0}
    &:last-child{margin-bottom:0}
}
@mixin list-ul-compact{
    @include list-ul;
    padding-left: 2ch;
}
@mixin list-ol{
    @include list-ul;
    &:before {
        counter-increment: list;
        content: counter(list) ". ";
    }
}