<collapsible class="anmeldung-form" {% if static|default %}static{% endif %}>
{% raw %}
	<template v-slot:header>
		<small>Fill the form online</small>
		Address registration form
	</template>
	<progress v-if="stage !== 'start'" aria-label="Form progress" :max="stages.length - 1" :value="stageIndex"></progress>
	<template v-if="stage === 'start'">
		{% endraw %}{% image 'documents/anmeldung-original.pdf', alt="German document preview", sizes="300px" %}{% raw %}
		<p>This tools helps you <strong>fill the <glossary>Anmeldung</glossary> form</strong> in 3 minutes. You can save the completed form, print it, and bring it to your <glossary>Bürgeramt</glossary> appointment.</p>
		<p>Your personal information stays on your computer. No one else can see it.</p>
	</template>
	<template v-if="stage === 'newAddress'">
		<h2>Your new address</h2>
		<p>Where are you moving? Enter the address that you want to register.</p>
		<hr>
		<div class="form-group">
			<label :for="uid('newAddress')">Street address</label>
			<input
				:id="uid('newAddress')"
				ref="newAddressInput"
				type="text"
				v-model="newAddress"
				placeholder="Neue Straße 123"
				autocomplete="address-line1">
		</div>
		<div class="form-group">
			<label :for="uid('newPostCode')">
				<glossary term="Postleitzahl">Post code</glossary> and city
			</label>
			<div class="input-group">
				<postalcode-input class="show-errors" :id="uid('newPostCode')" v-model="newPostCode"></postalcode-input>
				<city-input v-model="newCity"></city-input>
			</div>
		</div>
		<div class="form-group">
			<label :for="uid('newBuildingDetails')">Building details</label>
			<input
				:id="uid('newBuildingDetails')"
				:aria-describedby="uid('newBuildingDetails-instructions')"
				type="text"
				v-model="newBuildingDetails"
				placeholder="Haus B, 2. Etage rechts"
				autocomplete="address-line2">
			<a class="input-instructions" href="/guides/addressing-a-letter-in-germany#extra-information" target="_blank">How to write your building details ➞</a>
		</div>
		<hr>
		<div class="form-group">
			<label :for="uid('moveInDate') + '-day'">Move-in date</label>
			<date-picker v-model="moveInDate" :id="uid('moveInDate')" :aria-describedby="uid('moveInDate-instructions')"></date-picker>
			<span class="input-instructions">Use the same date as on your <em><glossary>Wohnungsgeberbestätigung</glossary></em>.</span>
		</div>
	</template>
	<template v-if="stage === 'oldAddress'">
		<h2>Your previous address</h2>
		<p>Where did you live before? Your old address be deregistered automatically.</p>
		<hr>
		<div class="form-group">
			<label :for="uid('oldCountry')">Country</label>
			<select ref="oldAddressCountryInput" v-model="oldCountry" :id="uid('oldCountry')" :aria-describedby="uid('oldCountry-instructions')" autocomplete="country-name">
				<option disabled hidden default value="">Country of your previous address</option>
				<option v-for="country in recommendedCountries">{{ country }}</option>
				<option disabled>──────────</option>
				<option v-for="country in sortedCountryList" :key="country[0]">{{ country[1] }}</option>
			</select>
			<span :id="uid('oldCountry-instructions')" class="input-instructions" v-if="oldCountry && oldCountry !== 'Germany'">You don't need to share your foreign address.</span>
		</div>
		<template v-if="oldCountry === 'Germany'">
			<div class="form-group">
				<label :for="uid('oldAddress')">Street address</label>
				<input
					:id="uid('oldAddress')"
					type="text"
					v-model="oldAddress"
					placeholder="Alte Straße 12"
					autocomplete="address-line1">
			</div>
			<div class="form-group">
				<label :for="uid('oldPostCode')">
					<glossary term="Postleitzahl">Post code</glossary> and city
				</label>
				<div class="input-group">
					<postalcode-input class="show-errors" :id="uid('oldPostCode')" v-model="oldPostCode"></postalcode-input>
					<city-input v-model="oldCity"></city-input>
				</div>
			</div>
			<div class="form-group">
				<label :for="uid('oldBuildingDetails')">Building details</label>
				<input
					:id="uid('oldBuildingDetails')"
					type="text"
					v-model="oldBuildingDetails"
					placeholder="Haus B, 2. Etage rechts"
					autocomplete="address-line2">
			</div>
			<div class="form-group">
				<label :for="uid('state')">
					State
				</label>
				<select :id="uid('state')" v-model="oldState">
					<option value="be">Berlin</option>
					<option disabled>──────────</option>
					<option v-for="(state, abbr) in germanStates" :key="abbr" :value="abbr" v-if="!abbr.startsWith('be-')">{{ state.englishName }}</option>
				</select>
			</div>
		</template>
	</template>
	<template v-if="stage === 'addPeople'">
		<h2>Who is registering?</h2>
		<p>You can register your whole family at the same time.</p>
		<template v-for="(person, index) in people">
			<hr>
			<div class="form-group" v-if="person.showExtraFields">
				<label :for="uid('title') + person.id">Title</label>
				<input type="text"
					:id="uid('title') + person.id"
					v-model="person.title"
					placeholder="Dr." 
					class="anrede-input">
			</div>
			<div class="form-group">
				<label :for="uid('firstName-' + person.id)">First and last name</label>
				<div class="input-group">
					<input type="text"
						:id="uid('firstName-' + person.id)"
						v-model="person.firstName"
						ref="firstNameInput"
						placeholder="Alex"
						autocomplete="given-name"
						class="first-name-input">
					<input type="text"
						v-model="person.lastName"
						placeholder="Smith"
						autocomplete="family-name"
						class="last-name-input">
					<a class="input-instructions" href="#" v-if="!person.showExtraFields" @click.prevent="person.showExtraFields = true">Add a title or birth name</a>
				</div>
			</div>
			<div class="form-group" v-if="person.showExtraFields">
				<label :for="uid('birthName-' + person.id)">Name at birth</label>
				<input
					type="text"
					v-model="person.birthName"
					:id="uid('birthName-' + person.id)"
					:aria-describedby="uid('birthName-instructions-' + person.id)"
					placeholder="Alex Gagnon">
				<span class="input-instructions" :id="uid('birthName-instructions-' + person.id)">If you changed your name, enter your full name at birth.</span>
			</div>
			<div class="form-group">
				<label :for="uid('nationality-' + person.id)">Nationality</label>
				<input type="text"
				  placeholder="Canada"
				  autofill="country-name"
				  :id="uid('nationality-' + person.id)"
				  :list="uid('countries')"
				  v-model="person.nationality">
			</div>
			<div class="form-group">
				<label :for="uid('dateOfBirth-' + person.id) + '-day'">Date of birth</label>
				<date-picker
					:id="uid('dateOfBirth-' + person.id)"
					v-model="person.dateOfBirth"
					autocomplete="bday"></date-picker>
			</div>
			<div class="form-group">
				<label :for="uid('birthPlace-' + person.id)">Place of birth</label>
				<input
					type="text"
					v-model="person.birthPlace"
					:id="uid('birthPlace-' + person.id)"
					:aria-describedby="uid('birthPlace-instructions-' + person.id)"
					placeholder="Montreal, Quebec, Canada">
				<span class="input-instructions" :id="uid('birthPlace-instructions-' + person.id)">The country, region and city where you were born.</span>
			</div>
			<div class="form-group">
				<span class="label">Gender</span>
				<div class="input-group">
					<label class="checkbox">
						<input type="radio" :name="uid('gender-' + person.id)" v-model="person.gender" value="Männlich">
						Male
					</label>
					<label class="checkbox">
						<input type="radio" :name="uid('gender-' + person.id)" v-model="person.gender" value="Weiblich">
						Female
					</label>
					<label class="checkbox">
						<input type="radio" :name="uid('gender-' + person.id)" v-model="person.gender" value="Divers">
						Other
					</label>
				</div>
			</div>
			<div class="form-group">
				<label :for="uid('religion-' + person.id)">Religion</label>
				<div class="input-group">
					<select :id="uid('religion-' + person.id)" v-model="person.religion" :aria-describedby="uid('religion-instructions-' + person.id)">
						<option value="Evangelische Kirche">Evangelical Church</option>
						<option value="Römisch-katholische Kirche">Roman Catholic Church</option>
						<option value="Jüdische Gemeinde">Jewish Community</option>
						<option value="Altkatholische Kirche">Old Catholic Church</option>
						<option value="Freireligiöse Gemeinden">Free Religious communities</option>
						<option disabled>──────────</option>
						<option value="Sonstiges, nicht kirchensteuerpflichtig">Other / No religion</option>
					</select>
					<span :id="uid('religion-instructions-' + person.id)" class="input-instructions">Members of some religions must pay the <glossary term="Kirchensteuer">church tax</glossary>.</span>
				</div>
			</div>
		</template>
		<datalist :id="uid('countries')">
			<option v-for="country in sortedCountryList" :key="country[0]" :value="country[1]"></option>
		</datalist>
	</template>
	<template v-if="stage === 'beiAddress'">
		<h2>{{ people.length > 1 ? 'Are your names' : 'Is your name' }} on your mailbox?</h2>
		<p>German apartments don't have door numbers. If your name is not on your mailbox, you will not receive your mail.</p>
		<hr>
		<div class="input-group vertical">
			<label class="checkbox">
				<input ref="namesAreOnMailboxCheckbox" v-model="namesAreOnMailbox" type="checkbox"> {{ people.length > 1 ? 'Our names are on our' : 'My name is on my' }} mailbox
			</label>
		</div>
		<p v-if="!namesAreOnMailbox">If your name is not on your mailbox, you must <a href="/guides/anmeldung-in-english-berlin#can-i-do-my-anmeldung-if-my-name-is-not-on-the-mailbox" target="_blank">add “c/o” or “bei” to your address</a>. This tells postal workers to put your mail in another person's mailbox.</p>
		<div class="form-group" v-if="!namesAreOnMailbox">
			<label :for="uid('nameOnMailbox')">Name on mailbox</label>
			<input type="text" v-model="nameOnMailbox" placeholder="Müller">
		</div>
	</template>
	<template v-if="stage === 'idDocuments'">
		<h2>ID documents</h2>
		<p>During your <em>Anmeldung</em> appointment, you must prove your identity. Which documents will you use?</p>
		<template v-for="(person, index) in people">
			<hr>
			<h3 v-if="people.length > 1">ID document for {{ personName(person, index + 1) }}</h3>
			<div class="form-group">
				<span class="label">
					Document type
				</span>
				<div class="input-group">
					<label class="checkbox">
						<input type="radio" ref="documentTypePassportCheckbox" :name="uid('documentType-' + person.id)" v-model="person.documentType" value="RP">
						Passport
					</label>
					<label class="checkbox">
						<input type="radio" :name="uid('documentType-' + person.id)" v-model="person.documentType" value="PA">
						German ID card
					</label>
				</div>
			</div>
			<div class="form-group">
				<label :for="uid('documentType-' + person.id)">
					{{ person.documentType === 'RP' ? 'Passport' : 'ID card' }} number
				</label>
				<input
					class="documentnumber-input"
					ztype="text"
					v-model="person.documentNumber"
					:id="uid('documentType-' + person.id)"
					:placeholder="person.documentType === 'RP' ? 'AB12345678' : 'A12B34C56'">
			</div>
			<div class="form-group">
				<label :for="uid('documentIssueDate-' + person.id) + '-day'">Date issued</label>
				<date-picker :id="uid('documentIssueDate-' + person.id)" v-model="person.documentIssueDate"></date-picker>
			</div>
			<div class="form-group" v-if="person.documentType === 'PA'">
				<label :for="uid('documentIssuingAuthority-' + person.id)">Issuing authority</label>
				<input type="text" placeholder="Berlin" :id="uid('documentIssuingAuthority-' + person.id)" v-model="person.documentIssuingAuthority">
				<span class="input-instructions" >It's written on the back of your ID card.</span>
			</div>
			<div class="form-group" v-if="person.documentType !== 'PA'">
				<label :for="uid('documentIssuingAuthority-' + person.id)">Issuing authority</label>
				<input type="text" placeholder="Ottawa" :id="uid('documentIssuingAuthority-' + person.id)" v-model="person.documentIssuingAuthority">
				<span class="input-instructions" v-if="person.documentType !== 'PA'">It's written in your passport, on the photo page.</span>
			</div>
			<div class="form-group">
				<label :for="uid('documentExpirationDate-' + person.id) + '-day'">Expiration date</label>
				<date-picker :id="uid('documentExpirationDate-' + person.id)" v-model="person.documentExpirationDate"></date-picker>
			</div>
		</template>
	</template>
	<template v-if="stage === 'options'">
		<h2>You are almost done!</h2>
		<template v-if="peoplePairs.length > 1">
			<p>Print the forms, sign them, and bring them to your <em>Anmeldung</em> appointment.</p>
			<div class="collapsible-options">
				<button v-for="([person1, person2], index) in peoplePairs" @click="generatePDF(person1, person2)" :disabled="!pdfBytes">
					{% endraw %}{% include "_css/icons/pdf.svg" %}{% raw %}
					<div>
						<h3>Download part {{ index + 1 }} of the form</h3>
						<p v-if="person1.firstName">For {{ person1.firstName }}<template v-if="person2"> and {{ person2.firstName }}</template>.</p>
					</div>
				</button>
			</div>
		</template>
		<div class="collapsible-options">
			<button v-if="peoplePairs.length === 1" @click="generatePDF(people[0], people[1])" :disabled="!pdfBytes">
				{% endraw %}{% include "_css/icons/pdf.svg" %}{% raw %}
				<div>
					<h3>Download the filled form</h3>
					<p>Print and sign this form, then bring it to your <em>Anmeldung</em> appointment.</p>
				</div>
			</button>
		</div>
		<h3>What to do next</h3>
		<p>To register your address, you must book a Bürgeramt appointment and go there in person. You can also send someone else to do it for you.</p>
		<div class="collapsible-options">
			<a href="/guides/anmeldung-in-english-berlin#step-1-get-a-burgeramt-appointment" target="_blank">
				{% endraw %}{% include "_css/icons/calendar.svg" %}{% raw %}
				<div>
					<h3>Book a Bürgeramt appointment</h3>
					<p>You need an appointment to register your address.</p>
				</div>
			</a>
			<a href="/out/red-tape-translation-interpreter" target="_blank">
				{% endraw %}{% include "_css/icons/translator.svg" %}{% raw %}
				<div>
					<h3>Hire a translator</h3>
					<p>Bring someone who speaks German to your <em>Anmeldung</em> appointment.</p>
				</div>
			</button>
			<a href="/out/red-tape-translation-anmeldung" target="_blank">
				{% endraw %}{% include "_css/icons/sendsomeone.svg" %}{% raw %}
				<div>
					<h3>Let someone else do it</h3>
					<p>Pay someone to book your appointment, go to the Bürgeramt and do your Anmeldung.</p>
				</div>
			</a>
		</div>
	</template>
	<hr>
	<div class="buttons">
		<button v-if="stageIndex === 0" class="button primary" @click="stageIndex += 1">Start <i class="icon right" aria-hidden="true"></i></button>
		<button v-if="stageIndex > 1" class="button" @click="stageIndex -= 1"><i class="icon left" aria-hidden="true"></i> Go back</button>
		<button v-if="stage === 'addPeople'" class="button" @click="addPerson"><i class="icon person" aria-hidden="true"></i> Add another person</button>
		<button v-if="stageIndex > 0 && stageIndex < stages.length - 2" class="button primary" @click="stageIndex += 1">Next step <i class="icon right" aria-hidden="true"></i></button>
		<button v-if="stageIndex === stages.length - 2" class="button primary" @click="stageIndex += 1">Finish</button>
	</div>
{% endraw %}
</collapsible>
{% include '_js/countries.js' %}
{% include '_js/germanStates.js' %}
{% include '_js/pdf.js' %}
{% include '_js/vue.js' %}
{% include '_js/vue/city-input.js' %}
{% include '_js/vue/collapsible.js' %}
{% include '_js/vue/date-picker.js' %}
{% include '_js/vue/postalcode-input.js' %}
{% include '_js/vue/glossary.js' %}
{% include '_js/vue/uniqueIdsMixin.js' %}
{% include '_js/vue/trackedStagesMixin.js' %}
{% js %}
	let anmeldungFormDownloadPromise = null;

	document.querySelectorAll('.anmeldung-form').forEach(
		el => new Vue({
			el: el,
			mixins: [uniqueIdsMixin, trackedStagesMixin],
			data() {
				return {
					trackAs: 'Anmeldung form',

					moveInDate: '',
					newAddress: '',
					newBuildingDetails: '',
					newCity: '',
					newPostCode: '',
					oldAddress: '',
					oldBuildingDetails: '',
					oldCity: '',
					oldPostCode: '',
					oldCountry: '',
					oldState: '',
					people: [],
					namesAreOnMailbox: true,
					nameOnMailbox: '',

					germanStates,
					sortedCountryList: countries.getSortedList(),
					recommendedCountries: new Set(
						(navigator.languages || []).map(l => countries.all[l.substring(3)]).concat(['Germany']).filter(Boolean)
					),
					stages: [
						'start',
						'newAddress',
						'oldAddress',
						'addPeople',
						'beiAddress',
						'idDocuments',
						'options',
					],
					stageIndex: 0,
					pdfBytes: null,
				};
			},
			computed: {
				stage(){
					return this.stages[this.stageIndex];
				},
				peoplePairs(){
					// Split this.people in arrays of two people
					return this.people
						.slice(this.people.length/2)
						.map((_,i) => this.people.slice(i*=2,i+2));
				}
			},
			methods: {
				addPerson(){
					this.people.push({
						id: Math.floor(Math.random() * 10000),
						title: '',
						firstName: '',
						lastName: '',
						birthName: '',
						nationality: '',
						religion: '',
						dateOfBirth: '',
						gender: '',
						birthPlace: '',
						showExtraFields: false,
						documentType: 'RP',
						documentNumber: '',
						documentIssueDate: '',
						documentIssuingAuthority: '',
						documentExpirationDate: '',
					})
				},
				dateFromString(str) {
					if(str.match(/\d\d\d\d-\d\d-\d\d/)){
						const [year, month, day] = str.split('-').map(n => parseInt(n, 10));
						return new Date(year, month - 1, day);
					}
					return null;
				},
				formattedDate(date, locale) {
					if(date) {
						return (new Date(date)).toLocaleDateString(locale, {
							year: '2-digit',
							month: 'numeric',
							day: 'numeric',
						});
					}
					return '';
				},
				mergeFields(fields){
					return fields.filter(Boolean).join(', ')
				},
				personName(person, index){
					if(person.firstName || person.lastName){
						return [person.firstName, person.lastName].filter(Boolean).join(' ');
					}
					return `person #${index}`;
				},
				async preloadPDF(){
					// Load PDFLib and the PDF document in advance while the user fills the form
					pdf.loadPDFLib();
					anmeldungFormDownloadPromise = fetch('/documents/anmeldung-original.pdf');

					const [_, pdfResponse] = await Promise.all([pdfLibScriptPromise, anmeldungFormDownloadPromise]);
					this.pdfBytes = new Uint8Array(await pdfResponse.arrayBuffer());
				},
				async generatePDF(person1, person2){
					let oldStateName = germanStates[this.oldState] ? germanStates[this.oldState].germanName : '';
					let beiAddress = this.namesAreOnMailbox ? '' : `bei ${this.nameOnMailbox}`;
					const textFields = {
						'Tag des EinzugsRow1': this.formattedDate(this.moveInDate, 'de-DE'),
						'Tag des AuszugsRow1': this.formattedDate(this.moveInDate, 'de-DE'),
						'Straße Hausnummer ZusätzeRow1': this.mergeFields([this.newAddress, this.newBuildingDetails, beiAddress]),
						'Postleitzahl Gemeinde OrtsteilRow1': this.mergeFields([this.newPostCode, this.newCity]),
						'Straße Hausnummer ZusätzeRow1_2': this.mergeFields([this.oldAddress, this.oldBuildingDetails, oldStateName]),
						'Postleitzahl GemeindeKreisLandRow1': this.mergeFields([this.oldPostCode, this.oldCity]),
						'Bei Zuzug aus dem Ausland StaatRow1': this.oldCountry === 'Germany' ? '' : this.oldCountry,
					};
					const checkboxFields = {
						'alleinige': true,
						'alleinige_2': true,
						'Nein': true,
						'Nein_2': true,
					};

					if(person1){
						textFields['Familienname ggf Doktorgrad Passname'] = [person1.lastName, person1.title].join(', ');
						textFields['Vornamen Rufnamen unterstreichen'] = person1.firstName;
						textFields['Geburtsname'] = person1.birthName;
						textFields['Geschlecht'] = person1.gender;
						textFields['Tag Ort Land der Geburt'] = this.mergeFields([person1.dateOfBirth, person1.birthPlace]);
						textFields['Religionsgesellschaft'] = person1.religion;
						textFields['Staatsangehörigkeiten'] = person1.nationality;
						textFields['OrdensKünstlername'] = person1.artistName;

						textFields['ArtRow1'] = person1.documentType;
						textFields['AusstellungsbehördeRow1'] = person1.documentIssuingAuthority;
						textFields['SeriennummerRow1'] = person1.documentNumber;
						textFields['DatumRow1'] = person1.documentIssueDate;
						textFields['gültig bisRow1'] = person1.documentExpirationDate;
						textFields['Name Vorname'] = [person1.lastName, person1.firstName].join(', ');
					}

					if(person2){
						textFields['Familienmitglied istFamilienname ggf Doktorgrad Passname'] = [person2.lastName, person2.title].join(', ');
						textFields['Familienmitglied istVornamen Rufnamen unterstreichen'] = person2.firstName;
						textFields['Familienmitglied istGeburtsname'] = person2.birthName;
						textFields['Familienmitglied istGeschlecht'] = person2.gender;
						textFields['Familienmitglied istTag Ort Land der Geburt'] = this.mergeFields([person2.dateOfBirth, person2.birthPlace]);
						textFields['Familienmitglied istReligionsgesellschaft'] = person2.religion;
						textFields['Familienmitglied istStaatsangehörigkeiten'] = person2.nationality;
						textFields['Familienmitglied istOrdensKünstlername'] = person2.artistName;

						textFields['ArtRow1_2'] = person2.documentType;
						textFields['AusstellungsbehördeRow1_2'] = person2.documentIssuingAuthority;
						textFields['SeriennummerRow1_2'] = person2.documentNumber;
						textFields['DatumRow1_2'] = person2.documentIssueDate;
						textFields['gültig bisRow1_2'] = person2.documentExpirationDate;
						textFields['Name Vorname_2'] = [person2.lastName, person2.firstName].join(', ');
					}

					const pdfDoc = await PDFLib.PDFDocument.load(this.pdfBytes);
					return await pdf.fillAndSavePDF(pdfDoc, textFields, checkboxFields, 'anmeldung-form-filled.pdf', this.trackAs);
				}
			},
			watch: {
				async stageIndex(newStageIndex){
					if(newStageIndex > 0 && pdfLibScriptPromise === null){
						await this.preloadPDF();
					}

					Vue.nextTick(() => {
						const inputToFocus = {
							start: () => this.$refs.startButton,
							newAddress: () => this.$refs.newAddressInput,
							oldAddress: () => this.$refs.oldAddressCountryInput,
							addPeople: () => this.$refs.firstNameInput[0],
							beiAddress: () => this.$refs.namesAreOnMailboxCheckbox,
							idDocuments: () => this.$refs.documentTypePassportCheckbox[0],
							options: () => null,
						}[this.stages[newStageIndex]]();

						if(inputToFocus){
							inputToFocus.focus();
						}
					});
				}
			},
			created() {
				this.addPerson();
			}
		})
	);
{% endjs %}