<collapsible class="anmeldung-form" {% if static|default %}static{% endif %}>
{% raw %}
	<template v-slot:header>
		<small>Fill the form online</small>
		Address registration form
	</template>
	<progress v-if="stage !== 'start'" aria-label="Form progress" :max="stages.length - 1" :value="stageIndex"></progress>
	<template v-if="stage === 'start'">
		<p>Use this tool to <strong>fill the <glossary>Anmeldung</glossary> form</strong>. At the end, you can download the form and print it. It takes less than 5 minutes.</p>
		<p>Your personal information stays on your computer. No one can see it.</p>
	</template>
	<template v-if="stage === 'newAddress'">
		<h2>Your new address</h2>
		<p>Where are you moving? Enter the address that you want to register.</p>
		<hr>
		<div class="form-group">
			<label :for="uid('newAddress')">Street address</label>
			<input
				:id="uid('newAddress')"
				type="text"
				v-model="newAddress"
				placeholder="Neue Straße 123"
				autocomplete="address-line1">
		</div>
		<div class="form-group">
			<label :for="uid('newBuildingDetails')">Building details</label>
			<input
				:id="uid('newBuildingDetails')"
				:aria-describedby="uid('newBuildingDetails-instructions')"
				type="text"
				v-model="newBuildingDetails"
				placeholder="Haus B, 2. Etage rechts"
				autocomplete="address-line2">
			<details class="input-instructions" :id="uid('newBuildingDetails-instructions')">
				<summary>Your building number, floor number and apartment number</summary>
				<p>The <em><glossary>Bürgeramt</glossary></em> often asks for this information during your <em>Anmeldung</em> appointment.</p>
				<p><a href="/guides/addressing-a-letter-in-germany#extra-information" target="_blank">How to write your building details ➞</a></p>
			</details>
		</div>
		<div class="form-group">
			<label :for="uid('newPostCode')">
				<glossary term="Postleitzahl">Post code</glossary> and city
			</label>
			<div class="input-group">
				<postalcode-input class="show-errors" :id="uid('newPostCode')" v-model="newPostCode"></postalcode-input>
				<city-input v-model="newCity"></city-input>
			</div>
		</div>
		<hr>
		<div class="form-group">
			<label :for="uid('moveInDate') + '-day'">Move-in date</label>
			<date-picker v-model="moveInDate" :id="uid('moveInDate')" :aria-describedby="uid('moveInDate-instructions')"></date-picker>
			<details class="input-instructions" :id="uid('moveInDate-instructions')">
				<summary>The date you moved to this address.</summary>
				<p>Use the same date as on your <glossary>Wohnungsgeberbestätigung</glossary>.</p>
				<p>After you move in, you have 2 weeks to register your address. In Berlin, <a target="_blank" href="/guides/anmeldung-in-english-berlin#do-i-need-to-register-within-14-days">this rule is not enforced</a>. Just register as soon as you can.</p>
			</details>
		</div>
	</template>
	<template v-if="stage === 'oldAddress'">
		<h2>Your previous address</h2>
		<p>Where did you live before? Your old address be deregistered automatically.</p>
		<hr>
		<div class="form-group">
			<label :for="uid('oldCountry')">Country</label>
			<div class="input-group">
				<select v-model="oldCountry" :id="uid('oldCountry')" :aria-describedby="uid('oldCountry-instructions')" autocomplete="country-name">
					<option disabled hidden default value="">Country of your previous address</option>
					<option>Germany</option>
					<option disabled>──────────</option>
					<option v-for="country in sortedCountryList" :key="country[0]">{{ country[1] }}</option>
				</select>
				<span :id="uid('oldCountry-instructions')" class="input-instructions" v-if="oldCountry && oldCountry !== 'Germany'">That's enough information. You don't need to share your foreign address.</span>
			</div>
		</div>
		<template v-if="oldCountry === 'Germany'">
			<div class="form-group">
				<label :for="uid('oldAddress')">Street address</label>
				<input
					:id="uid('oldAddress')"
					type="text"
					v-model="oldAddress"
					placeholder="Alte Straße 12"
					autocomplete="address-line2">
			</div>
			<div class="form-group">
				<label :for="uid('oldBuildingDetails')">Building details</label>
				<input
					:id="uid('oldBuildingDetails')"
					type="text"
					v-model="oldBuildingDetails"
					placeholder="Haus B, 2. Etage rechts"
					autocomplete="address-line2">
			</div>
			<div class="form-group">
				<label :for="uid('oldPostCode')">
					<glossary term="Postleitzahl">Post code</glossary> and city
				</label>
				<div class="input-group">
					<postalcode-input class="show-errors" :id="uid('oldPostCode')" v-model="oldPostCode"></postalcode-input>
					<city-input v-model="oldCity"></city-input>
				</div>
			</div>
			<div class="form-group">
				<label :for="uid('state')">
					State
				</label>
				<select :id="uid('state')" v-model="oldState">
					<option value="be">Berlin</option>
					<option disabled>──────────</option>
					<option v-for="(state, abbr) in germanStates" :key="abbr" :value="abbr" v-if="!abbr.startsWith('be-')">{{ state.englishName }}</option>
				</select>
			</div>
		</template>
	</template>
	<template v-if="stage === 'addPeople'">
		<h2>Who is registering?</h2>
		<p>You can register your whole family at the same time.</p>
		<template v-for="(person, index) in people">
			<hr>
			<div class="form-group" v-if="person.showExtraFields">
				<label :for="uid('title') + person.id">Title</label>
				<input type="text"
					:id="uid('title') + person.id"
					v-model="person.title"
					placeholder="Dr." 
					class="anrede-input">
			</div>
			<div class="form-group">
				<label :for="uid('firstName-' + person.id)">First and last name</label>
				<div class="input-group">
					<input type="text"
						:id="uid('firstName-' + person.id)"
						v-model="person.firstName"
						placeholder="Alex"
						autocomplete="given-name"
						class="first-name-input">
					<input type="text"
						v-model="person.lastName"
						placeholder="Smith"
						autocomplete="family-name"
						class="last-name-input">
					<a class="input-instructions" href="#" v-if="!person.showExtraFields" @click.prevent="person.showExtraFields = true">Add title or birth name</a>
				</div>
			</div>
			<div class="form-group" v-if="person.showExtraFields">
				<label :for="uid('birthName-' + person.id)">Name at birth</label>
				<input
					type="text"
					v-model="person.birthName"
					:id="uid('birthName-' + person.id)"
					:aria-describedby="uid('birthName-instructions-' + person.id)"
					placeholder="Alex Gagnon">
				<span class="input-instructions" :id="uid('birthName-instructions-' + person.id)">If you changed your name, enter your full name at birth.</span>
			</div>
			<div class="form-group">
				<label :for="uid('nationality-' + person.id)">Nationality</label>
				<input type="text"
				  placeholder="Canada"
				  :id="uid('nationality-' + person.id)"
				  :list="uid('countries')"
				  v-model="person.nationality">
			</div>
			<div class="form-group">
				<label :for="uid('dateOfBirth-' + person.id) + '-day'">Date of birth</label>
				<date-picker
					:id="uid('dateOfBirth-' + person.id)"
					v-model="person.dateOfBirth"
					autocomplete="bday"></date-picker>
			</div>
			<div class="form-group">
				<label :for="uid('birthPlace-' + person.id)">Place of birth</label>
				<input
					type="text"
					v-model="person.birthPlace"
					:id="uid('birthPlace-' + person.id)"
					:aria-describedby="uid('birthPlace-instructions-' + person.id)"
					placeholder="Montreal, Quebec, Canada">
				<span class="input-instructions" :id="uid('birthPlace-instructions-' + person.id)">The country, region and city where you were born.</span>
			</div>
			<div class="form-group">
				<span class="label">Gender</span>
				<div class="input-group">
					<label class="checkbox">
						<input type="radio" :name="uid('gender-' + person.id)" v-model="person.gender" value="Männlich">
						Male
					</label>
					<label class="checkbox">
						<input type="radio" :name="uid('gender-' + person.id)" v-model="person.gender" value="Weiblich">
						Female
					</label>
					<label class="checkbox">
						<input type="radio" :name="uid('gender-' + person.id)" v-model="person.gender" value="Divers">
						Other
					</label>
				</div>
			</div>
			<div class="form-group">
				<label :for="uid('religion-' + person.id)">Religion</label>
				<div class="input-group">
					<select :id="uid('religion-' + person.id)" v-model="person.religion" :aria-describedby="uid('religion-instructions-' + person.id)">
						<option value="Evangelische Kirche">Evangelical Church</option>
						<option value="Römisch-katholische Kirche">Roman Catholic Church</option>
						<option value="Jüdische Gemeinde">Jewish Community</option>
						<option value="Altkatholische Kirche">Old Catholic Church</option>
						<option value="Freireligiöse Gemeinden">Free Religious communities</option>
						<option disabled>──────────</option>
						<option value="Sonstiges, nicht kirchensteuerpflichtig">Other / No religion</option>
					</select>
					<span :id="uid('religion-instructions-' + person.id)" class="input-instructions">Members of some religions must pay the <glossary term="Kirchensteuer">church tax</glossary>.</span>
				</div>
			</div>
		</template>
		<datalist :id="uid('countries')">
			<option v-for="country in sortedCountryList" :key="country[0]" :value="country[1]"></option>
		</datalist>
		<div class="buttons">
			<button class="button" @click="addPerson" v-if="people.length < 6"><i class="icon person" aria-hidden="true"></i> Add another person</button>
		</div>
	</template>
	<template v-if="stage === 'beiAddress'">
		<h2>{{ people.length > 1 ? 'Are your names' : 'Is your name' }} on your mailbox?</h2>
		<p>German apartments don't have door numbers. If your name is not on your mailbox, you must <a href="/guides/anmeldung-in-english-berlin#can-i-do-my-anmeldung-if-my-name-is-not-on-the-mailbox" target="_blank">add “c/o” or “bei” to your address</a>. It's the only way to receive your mail.</p>
		<div class="input-group vertical">
			<label class="checkbox">
				<input v-model="namesAreOnMailbox" type="radio" :name="uid('namesAreOnMailbox')" :value="true"> {{ people.length > 1 ? 'Our names are' : 'My name is' }} on the mailbox
			</label>
			<label class="checkbox">
				<input v-model="namesAreOnMailbox" type="radio" :name="uid('namesAreOnMailbox')" :value="false"> The name on {{ people.length > 1 ? 'our' : 'my' }} mailbox is <input type="text" v-model="nameOnMailbox" placeholder="Steffan Schmidt" autocomplete="off">
			</label>
		</div>
	</template>
	<template v-if="stage === 'idDocuments'">
		<h2>ID documents</h2>
		<p>During your <em>Anmeldung</em> appointment, you must prove your identity. Which documents will you use?</p>
		<template v-for="(person, index) in people">
			<hr>
			<h3>ID document for {{ personName(person, index + 1) }}</h3>
			<div class="form-group">
				<span class="label">
					Document type
				</span>
				<div class="input-group">
					<label class="checkbox">
						<input type="radio" :name="uid('documentType-' + person.id)" v-model="person.documentType" value="RP">
						Passport
					</label>
					<label class="checkbox">
						<input type="radio" :name="uid('documentType-' + person.id)" v-model="person.documentType" value="PA">
						German ID card
					</label>
				</div>
			</div>
			<div class="form-group">
				<label :for="uid('documentType-' + person.id)">
					{{ person.documentType === 'RP' ? 'Passport' : 'ID card' }} number
				</label>
				<input
					class="documentnumber-input"
					ztype="text"
					v-model="person.documentNumber"
					:id="uid('documentType-' + person.id)"
					:placeholder="person.documentType === 'RP' ? 'AB12345678' : 'A12B34C56'">
			</div>
			<div class="form-group">
				<label :for="uid('documentIssueDate-' + person.id) + '-day'">Date issued</label>
				<date-picker :id="uid('documentIssueDate-' + person.id)" v-model="person.documentIssueDate"></date-picker>
			</div>
			<div class="form-group" v-if="person.documentType === 'PA'">
				<label :for="uid('documentIssuingAuthority-' + person.id)">Issuing authority</label>
				<input type="text" placeholder="Berlin" :id="uid('documentIssuingAuthority-' + person.id)" v-model="person.documentIssuingAuthority">
				<span class="input-instructions" >It's written on the back of your ID card.</span>
			</div>
			<div class="form-group" v-if="person.documentType !== 'PA'">
				<label :for="uid('documentIssuingAuthority-' + person.id)">Issuing authority</label>
				<input type="text" placeholder="Ottawa" :id="uid('documentIssuingAuthority-' + person.id)" v-model="person.documentIssuingAuthority">
				<span class="input-instructions" v-if="person.documentType !== 'PA'">It's written in your passport, on the photo page.</span>
			</div>
			<div class="form-group">
				<label :for="uid('documentExpirationDate-' + person.id) + '-day'">Expiration date</label>
				<date-picker :id="uid('documentExpirationDate-' + person.id)" v-model="person.documentExpirationDate"></date-picker>
			</div>
		</template>
	</template>
	<template v-if="stage === 'options'">
		<h2>You're done!</h2>
		<div class="health-insurance-options">
			<button @click="generatePDF" :disabled="!pdfIsReady">
				{% endraw %}{% include "_css/icons/pdf.svg" %}{% raw %}
				<div>
					<h3 v-if="pdfIsReady">Download the filled form</h3>
					<h3 v-if="!pdfIsReady">Preparing the form...</h3>
					<p>Print the form, sign it, and bring it to your Anmeldung appointment</p>
				</div>
			</button>
		</div>
		<h3>What to do next</h3>
		<p>To register your address, you must book a Bürgeramt appointment and go there in person. You can also send someone else to do it for you.</p>
		<div class="health-insurance-options">
			<a href="/guides/anmeldung-in-english-berlin#step-1-get-a-burgeramt-appointment" target="_blank">
				{% endraw %}{% include "_css/icons/calendar.svg" %}{% raw %}
				<div>
					<h3>Book a Bürgeramt appointment</h3>
					<p>You need an appointment to register your address.</p>
				</div>
			</a>
			<button>
				{% endraw %}{% include "_css/icons/translator.svg" %}{% raw %}
				<div>
					<h3>Bring a translator</h3>
					<p>The Anmeldung is easy. You probably don't need a translator, but you can bring one just in case.</p>
				</div>
			</button>
			<button>
				{% endraw %}{% include "_css/icons/sendsomeone.svg" %}{% raw %}
				<div>
					<h3>Pay someone to register you</h3>
					<p>If you don't want to book an appointment and go to the Bürgeramt, hire someone else to do it for you.</p>
				</div>
			</button>
		</div>
	</template>
	<hr>
	<div class="buttons">
		<button v-if="stageIndex === 0" class="button primary" @click="stageIndex += 1">Start <i class="icon right" aria-hidden="true"></i></button>
		<button v-if="stageIndex > 1" class="button" @click="stageIndex -= 1"><i class="icon left" aria-hidden="true"></i> Go back</button>
		<button v-if="stageIndex > 0 && stageIndex < stages.length - 2" class="button primary" @click="stageIndex += 1">Next step <i class="icon right" aria-hidden="true"></i></button>
		<button v-if="stageIndex === stages.length - 2" class="button primary" @click="stageIndex += 1">Finish <i class="icon right" aria-hidden="true"></i></button>
	</div>
{% endraw %}
</collapsible>
{% include '_js/constants.js' %}
{% include '_js/utils.js' %}
{% include '_js/vue.js' %}
{% include '_js/vue/city-input.js' %}
{% include '_js/vue/collapsible.js' %}
{% include '_js/vue/date-picker.js' %}
{% include '_js/vue/postalcode-input.js' %}
{% include '_js/vue/glossary.js' %}
{% include '_js/vue/uniqueIdsMixin.js' %}
{% js %}
	let pdfLibScriptPromise = null;
	let anmeldungFormDownloadPromise = null;
	document.querySelectorAll('.anmeldung-form').forEach(
		el => new Vue({
			el: el,
			mixins: [uniqueIdsMixin],
			data() {
				const defaultState = getDefault('state', '');
				return {
					moveInDate: '',
					newAddress: '',
					newBuildingDetails: '',
					newCity: '',
					newPostCode: '',
					oldAddress: '',
					oldBuildingDetails: '',
					oldCity: defaultState.startsWith('be-') ? 'Berlin' : '',
					oldPostCode: '',
					oldCountry: '',
					oldState: defaultState.startsWith('be-') ? 'be' : defaultState,
					people: [],
					namesAreOnMailbox: true,
					nameOnMailbox: '',

					germanStates: germanStates,
					sortedCountryList: Object.entries(countries).sort((a, b) => a[1].localeCompare(b[1])),
					stages: [
						'start',
						'newAddress',
						'oldAddress',
						'addPeople',
						'beiAddress',
						'idDocuments',
						'options',
					],

					stageIndex: 0,
					pdfIsReady: false,
				};
			},
			computed: {
				stage(){
					return this.stages[this.stageIndex];
				},
			},
			methods: {
				addPerson(){
					this.people.push({
						id: Math.floor(Math.random() * 10000),
						title: '',
						firstName: '',
						lastName: '',
						birthName: '',
						nationality: '',
						religion: 'Sonstiges, nicht kirchensteuerpflichtig',
						dateOfBirth: '',
						gender: '',
						birthPlace: '',
						showExtraFields: false,
						documentType: 'RP',
						documentNumber: '',
						documentIssueDate: '',
						documentIssuingAuthority: '',
						documentExpirationDate: '',
					})
				},
				dateFromString(str) {
					if(str.match(/\d\d\d\d-\d\d-\d\d/)){
						const [year, month, day] = str.split('-').map(n => Number(n, 10));
						return new Date(year, month - 1, day);
					}
					return null;
				},
				formattedDate(date, locale) {
					if(date) {
						return (new Date(date)).toLocaleDateString(locale, {
							year: '2-digit',
							month: 'numeric',
							day: 'numeric',
						});
					}
					return '';
				},
				mergeFields(fields){
					return fields.filter(Boolean).join(', ')
				},
				personName(person, index){
					if(person.firstName || person.lastName){
						return [person.firstName, person.lastName].filter(Boolean).join(' ');
					}
					return `person #${index}`;
				},
				async preloadPDF(){
					// Load PDFLib and the PDF document in advance while the user fills the form
					pdfLibScriptPromise = loadScript('/js/pdflib.js');
					anmeldungFormDownloadPromise = fetch('/documents/anmeldung-original.pdf');

					const [_, pdfResponse] = await Promise.all([pdfLibScriptPromise, anmeldungFormDownloadPromise]);
					const pdfDoc = await PDFLib.PDFDocument.load(await pdfResponse.arrayBuffer());

					this.pdfIsReady = true;
					return pdfDoc;
				},
				async generatePDF(){
					let oldStateName = this.germanStates[this.oldState] ? this.germanStates[this.oldState].germanName : '';
					let beiAddress = this.namesAreOnMailbox ? '' : `(bei ${this.nameOnMailbox})`;
					const textFields = {
						'Tag des EinzugsRow1': this.formattedDate(this.moveInDate, 'de-DE'),
						'Tag des AuszugsRow1': this.formattedDate(this.moveInDate, 'de-DE'),
						'Straße Hausnummer ZusätzeRow1': this.mergeFields([this.newAddress, this.newBuildingDetails, beiAddress]),
						'Postleitzahl Gemeinde OrtsteilRow1': this.mergeFields([this.newPostCode, this.newCity]),
						'Straße Hausnummer ZusätzeRow1_2': this.mergeFields([this.oldAddress, this.oldBuildingDetails, oldStateName]),
						'Postleitzahl GemeindeKreisLandRow1': this.mergeFields([this.oldPostCode, this.oldCity]),
						'Bei Zuzug aus dem Ausland StaatRow1': this.oldCountry === 'Germany' ? '' : this.oldCountry,
					};
					const checkboxFields = {
						'alleinige': true,
						'alleinige_2': true,
						'Nein': true,
						'Nein_2': true,
					};

					if(this.people[0]){
						textFields['Familienname ggf Doktorgrad Passname'] = [this.people[0].lastName, this.people[0].title].join('\n');
						textFields['Vornamen Rufnamen unterstreichen'] = this.people[0].firstName;
						textFields['Geburtsname'] = this.people[0].birthName;
						textFields['Geschlecht'] = this.people[0].gender;
						textFields['Tag Ort Land der Geburt'] = this.mergeFields([this.people[0].dateOfBirth, this.people[0].birthPlace]);
						textFields['Religionsgesellschaft'] = this.people[0].religion;
						textFields['Staatsangehörigkeiten'] = this.people[0].nationality;
						textFields['OrdensKünstlername'] = this.people[0].artistName;

						textFields['ArtRow1'] = this.people[0].documentType;
						textFields['AusstellungsbehördeRow1'] = this.people[0].documentIssuingAuthority;
						textFields['SeriennummerRow1'] = this.people[0].documentNumber;
						textFields['DatumRow1'] = this.people[0].documentIssueDate;
						textFields['gültig bisRow1'] = this.people[0].documentExpirationDate;
						textFields['Name Vorname'] = [this.people[0].lastName, this.people[0].firstName].join(', ');
					}

					if(this.people[1]){
						textFields['Familienmitglied istFamilienname ggf Doktorgrad Passname'] = [this.people[1].lastName, this.people[1].title].join('\n');
						textFields['Familienmitglied istVornamen Rufnamen unterstreichen'] = this.people[1].firstName;
						textFields['Familienmitglied istGeburtsname'] = this.people[1].birthName;
						textFields['Familienmitglied istGeschlecht'] = this.people[1].gender;
						textFields['Familienmitglied istTag Ort Land der Geburt'] = this.mergeFields([this.people[1].dateOfBirth, this.people[1].birthPlace]);
						textFields['Familienmitglied istReligionsgesellschaft'] = this.people[1].religion;
						textFields['Familienmitglied istStaatsangehörigkeiten'] = this.people[1].nationality;
						textFields['Familienmitglied istOrdensKünstlername'] = this.people[1].artistName;

						textFields['ArtRow1_2'] = this.people[1].documentType;
						textFields['AusstellungsbehördeRow1_2'] = this.people[1].documentIssuingAuthority;
						textFields['SeriennummerRow1_2'] = this.people[1].documentNumber;
						textFields['DatumRow1_2'] = this.people[1].documentIssueDate;
						textFields['gültig bisRow1_2'] = this.people[1].documentExpirationDate;
						textFields['Name Vorname_2'] = [this.people[1].lastName, this.people[1].firstName].join(', ');
					}

					const pdfDoc = await this.preloadPDF();
					return await fillAndSavePDF(pdfDoc, textFields, checkboxFields, 'anmeldung-form-filled.pdf');
				}
			},
			watch: {
				stageIndex(newStageIndex){
					if(newStageIndex > 0 && pdfLibScriptPromise === null){
						this.preloadPDF();
					}
				}
			},
			created() {
				this.addPerson();
			}
		})
	);
{% endjs %}