{% include '_js/vue.js' %}
{% include '_js/vue/collapsible.js' %}
{% include '_js/vue/country-input.js' %}
{% include '_js/vue/date-picker.js' %}
{% include '_js/vue/userDefaultsMixin.js' %}
{% include '_js/vue/multiStageMixin.js' %}
{% include '_js/vue/trackedStagesMixin.js' %}
{% include '_js/vue/uniqueIdsMixin.js' %}
{% js %}
	document.querySelectorAll('collapsible.feedback-form').forEach(
		el => new Vue({
			el: el,
			mixins: [userDefaultsMixin, uniqueIdsMixin, multiStageMixin, trackedStagesMixin],
			data() {
				return {
					showResidencePermitField: true,
					residencePermitType: null,
					residencePermitTypes: {
						"BLUE_CARD": {
							normal: "Blue Card",
							capitalized: "Blue Card"
						},
						"FAMILY_REUNION_VISA": {
							normal: "family reunion visa",
							capitalized: "Family reunion visa"
						},
						"FREELANCE_VISA": {
							normal: "freelance visa",
							capitalized: "Freelance visa"
						},
						"PERMANENT_RESIDENCE": {
							normal: "permanent residence",
							capitalized: "Permanent residence"
						},
						"STUDENT_VISA": {
							normal: "student visa",
							capitalized: "Student visa"
						},
						"WORK_VISA": {
							normal: "work visa",
							capitalized: "Work visa"
						},
					},
					isLoading: false,
					modificationKey: userDefaults.modificationKey,
					nationality: userDefaults.nationality,
					userNotes: '',
					email: userDefaults.email,

					steps: {
						application: {
							dateFieldTitle: "Application date",
							completed: null,
							date: null,
						},
						response: {
							dateFieldTitle: "First response date",
							completed: null,
							date: null,
						},
						appointment: {
							dateFieldTitle: "Appointment date",
							completed: null,
							date: null,
						},
						pickup: {
							dateFieldTitle: "Pick-up date",
							completed: null,
							date: null,
						},
					},

					stages: [
						'start',
						'email',
						'finish',
					],
					inputsToFocus: {
						email: () => this.$refs.emailInput,
					},
				};
			},
			async mounted(){
				// The residence permit type can be pre-selected with the data-type attribute
				if(this.$el.dataset.type){
					this.showResidencePermitField = false;
					this.residencePermitType = this.$el.dataset.type;
				}

				// Load the key from the URL hash
				const keyFromHash = (new URLSearchParams(window.location.hash.substring(1))).get('feedbackKey');
				if(keyFromHash){
					this.modificationKey = keyFromHash;
					history.replaceState(null, null, ' '); // Remove the hash
				}

				if(this.modificationKey){
					const response = await fetch(this.apiEndpoint);
					if(!response.ok){
						this.modificationKey = null;
						return;
					}
					responseJson = await response.json();

					this.steps.application.date = responseJson.application_date;
					this.steps.application.completed = !!responseJson.application_date;

					this.steps.response.date = responseJson.first_response_date;
					this.steps.response.completed = !!responseJson.first_response_date;

					this.steps.appointment.date = responseJson.appointment_date;
					this.steps.appointment.completed = !!responseJson.appointment_date;

					this.steps.pickup.date = responseJson.pick_up_date;
					this.steps.pickup.completed = !!responseJson.pick_up_date;

					this.email = responseJson.email || this.email;
					this.nationality = responseJson.nationality;
					this.userNotes = responseJson.notes;
				}
			},
			computed: {
				apiEndpoint(){
					return this.modificationKey ? `/api/forms/residence-permit-feedback/${this.modificationKey}` : '/api/forms/residence-permit-feedback';
				},
				trackAs(){
					return `Feedback (${this.residencePermitName})`;
				},
				residencePermitName(){
					const type = this.residencePermitTypes[this.residencePermitType];
					return type ? type.normal : "residence permit";
				},
			},
			methods: {
				async nextStage(){
					if(validateForm(this.$el)){
						const allStagesComplete = Object.values(this.steps).every(s => s.completed);

						const responseOk = await this.submitFeedback();
						if(this.stage === 'start' && allStagesComplete){
							this.stageIndex += 2; // Skip email step if there is no more feedback to give
						}
						else{
							this.stageIndex += 1;
						}
					}
				},
				onStepCompletionChange(key){
					const changedStepIndex = Object.keys(this.steps).indexOf(key);
					Object.values(this.steps).forEach((step, index) => {
						// Tick all previous steps
						if(index < changedStepIndex && this.steps[key].completed){
							step.completed = true;
						}

						// Untick all following steps
						if(index > changedStepIndex && !this.steps[key].completed){
							step.completed = false;
						}
					})
				},
				async submitFeedback(){
					this.isLoading = true;
					const response = await fetch(
						this.apiEndpoint,
						{
							method: this.modificationKey ? 'PUT' : 'POST',
							keepalive: true,
							headers: {'Content-Type': 'application/json; charset=utf-8',},
							body: JSON.stringify({
								application_date: (this.steps.application.completed ? this.steps.application.date : null),
								appointment_date: (this.steps.appointment.completed ? this.steps.appointment.date : null),
								email: this.email || null,
								first_response_date: (this.steps.response.completed ? this.steps.response.date : null),
								nationality: this.nationality,
								notes: this.userNotes,
								pick_up_date: (this.steps.pickup.completed ? this.steps.pickup.date : null),
								residence_permit_type: this.residencePermitType,
							}),
						}
					);
					this.isLoading = false;
					if(response.ok){
						const responseJson = await response.json();
						this.modificationKey = responseJson.modification_key;
					}
					return response.ok;
				},
				stepName(key){
					return {
						application: "I have applied in Berlin",
						response: "The Ausländerbehörde responded",
						appointment: "The Ausländerbehörde gave me an appointment",
						pickup: `I received my ${this.residencePermitName}`,
					}[key];
				},
			},
		})
	);
{% endjs %}

<collapsible class="feedback-form" :aria-label="`Feedback form: ${residencePermitName} processing time`" {% if residencePermitType|default %}data-type="{{ residencePermitType }}"{% endif %}  {% if static|default %}static{% endif %} v-cloak>
{% raw %}
	<template v-slot:header>
		How is your {{ residencePermitName }} application going?
	</template>
	<template v-if="stage === 'start'">
		<template  v-for="(step, key, index) in steps" :key="key">
			<div class="form-group no-label">
				<div class="input-group vertical">
					<label class="checkbox">
						<input type="checkbox" v-model="step.completed" @change="onStepCompletionChange(key)">
						{{ stepName(key) }}
					</label>
				</div>
			</div>
			<div class="inter-step" v-if="!step.completed && index != Object.keys(steps).length - 1"></div>
			<div class="form-group inter-step required" v-if="step.completed">
				<label :for="uid(key) + '-date-day'">{{ step.dateFieldTitle }}</label>
				<date-picker v-model="step.date" :id="uid(key) + '-date'" required></date-picker>
			</div>
		</template>
		<template v-if="steps.application.completed">
			<hr>
			<div class="form-group required" v-if="showResidencePermitField">
				<label :for="uid('residencePermitType')">Residence permit</label>
				<select :id="uid('residencePermitType')" v-model="residencePermitType" :class="{placeholder: !residencePermitType}" required>
					<option disabled hidden default :value="null">Choose a residence permit</option>
					<option v-for="(name, key) in residencePermitTypes" :key="key" :value="key">{{ name.capitalized }}</option>
				</select>
			</div>
			<div class="form-group required">
				<label :for="uid('nationality')">Nationality</label>
				<country-input
					country-code
					v-model="nationality"
					:id="uid('nationality')"
					required></country-input>
			</div>
			<div class="form-group">
				<label :for="uid('userNotes')">Notes and advice</label>
				<textarea placeholder="" v-model="userNotes" :id="uid('userNotes')"></textarea>
				<span class="input-instructions">Describe your experience and give tips to other readers.</span>
			</div>
		</template>
	</template>
	<template v-if="stage === 'email'">
		<p><strong>Thank you for your feedback!</strong> It will help a lot of people.</p>
		<p>Can you complete your feedback when you get your {{ residencePermitName }}? I can remind you by email.</p>
		<div class="form-group">
			<label :for="uid('email')">Email address</label>
			<input ref="emailInput" v-model="email" type="email" :id="uid('email')" autocomplete="email" required>
			<span class="input-instructions">You will get a reminder in 2 months and in 6 months. Nothing else.</span>
		</div>
	</template>
	<template v-if="stage === 'finish'">
		<p>
			<strong>Thank you for your feedback!</strong> It will help a lot of people.
		</p>
	</template>
	<hr v-if="steps.application.completed && stage !== 'finish'">
	<div class="buttons" v-if="steps.application.completed && stage !== 'finish'">
		<button v-if="stage !== 'start' && stage !== 'finish'" class="button" @click="stageIndex -= 1"><i class="icon left" aria-hidden="true"></i> Go back</button>
		<button class="button primary" v-if="stage === 'start'" @click="nextStage">{{ modificationKey ? 'Update' : 'Send' }} feedback</button>
		<button class="button primary" v-if="stage === 'email'" @click="nextStage">Remind me</button>
	</div>
{% endraw %}
</collapsible>