{% include '_js/vue.js' %}
{% include '_js/vue/collapsible.js' %}
{% include '_js/vue/country-input.js' %}
{% include '_js/vue/date-picker.js' %}
{% include '_js/vue/userDefaultsMixin.js' %}
{% include '_js/vue/multiStageMixin.js' %}
{% include '_js/vue/trackedStagesMixin.js' %}
{% include '_js/vue/uniqueIdsMixin.js' %}
{% js %}
	document.querySelectorAll('collapsible.feedback-form').forEach(
		el => new Vue({
			el: el,
			mixins: [userDefaultsMixin, uniqueIdsMixin, multiStageMixin, trackedStagesMixin],
			data() {
				return {
					showResidencePermitField: true,
					residencePermitType: null,
					residencePermitTypes: {
						BLUE_CARD: "Blue Card",
						FAMILY_REUNION_VISA: "family reunion visa",
						FREELANCE_VISA: "freelance visa",
						PERMANENT_RESIDENCE: "permanent residence",
						STUDENT_VISA: "student visa",
						WORK_VISA: "work visa",
					},
					isLoading: false,

					// The primary key of the Feedback item, plus a two-letter prefix denoting the residencePermitType
					modificationKey: userDefaults.modificationKey,

					nationality: userDefaults.nationality,
					userNotes: '',
					email: userDefaults.email,

					steps: {
						application: {
							dateFieldTitle: "Application date",
							completed: null,
							date: null,
						},
						response: {
							dateFieldTitle: "First response date",
							completed: null,
							date: null,
						},
						appointment: {
							dateFieldTitle: "Appointment date",
							completed: null,
							date: null,
						},
						pickup: {
							dateFieldTitle: "Pick-up date",
							completed: null,
							date: null,
						},
					},

					stages: [
						'start',
						'email',
						'finish',
					],
					inputsToFocus: {
						email: () => this.$refs.emailInput,
					},
				};
			},
			async mounted(){
				// The residence permit type can be pre-selected with the data-type attribute
				if(this.$el.dataset.type){
					this.showResidencePermitField = false;
					this.residencePermitType = this.$el.dataset.type;
				}

				// Load the key from the URL hash
				const keyFromHash = (new URLSearchParams(window.location.hash.substring(1))).get('feedbackKey');
				if(keyFromHash){
					this.modificationKey = keyFromHash;
					history.replaceState(null, null, ' '); // Remove the hash
				}

				if(this.modificationKey && this.modificationKeyMatchesResidencePermitType){
					const response = await fetch(this.apiEndpoint);
					if(!response.ok){
						this.modificationKey = null;
						return;
					}
					responseJson = await response.json();

					this.steps.application.date = responseJson.application_date;
					this.steps.application.completed = !!responseJson.application_date;

					this.steps.response.date = responseJson.first_response_date;
					this.steps.response.completed = !!responseJson.first_response_date;

					this.steps.appointment.date = responseJson.appointment_date;
					this.steps.appointment.completed = !!responseJson.appointment_date;

					this.steps.pickup.date = responseJson.pick_up_date;
					this.steps.pickup.completed = !!responseJson.pick_up_date;

					this.email = responseJson.email || this.email;
					this.nationality = responseJson.nationality;
					this.userNotes = responseJson.notes;
				}
			},
			computed: {
				modificationKeyMatchesResidencePermitType(){
					return (
						this.residencePermitType
						&& this.modificationKey
						&& this.modificationKey.endsWith(this.residencePermitType)
					);
				},
				apiEndpoint(){
					if(this.modificationKeyMatchesResidencePermitType){
						return `/api/forms/residence-permit-feedback/${this.modificationKey.split('~')[0]}`
					}
					return '/api/forms/residence-permit-feedback';
				},
				trackAs(){
					return `Feedback (${this.residencePermitType})`;
				},
				residencePermitName(){
					return this.residencePermitTypes[this.residencePermitType] || "residence permit";
				},
				showRestOfForm(){
					return this.steps.application.completed;
				}
			},
			methods: {
				async nextStage(){
					if(validateForm(this.$el)){
						if(this.stage === 'start'){
							const allStepsComplete = Object.values(this.steps).every(s => s.completed);
							const isUpdatingExistingFeedback = this.modificationKeyMatchesResidencePermitType && this.email;
							if(allStepsComplete || isUpdatingExistingFeedback){
								this.goToStage('finish');
							}
							else{
								this.goToStage('email');
							}
						}
						else{
							this.goToStage('finish');
						}
					}
				},
				onStepCompletionChange(key){
					const changedStepIndex = Object.keys(this.steps).indexOf(key);
					Object.values(this.steps).forEach((step, index) => {
						// Tick all previous steps
						if(index < changedStepIndex && this.steps[key].completed){
							step.completed = true;
						}

						// Untick all following steps
						if(index > changedStepIndex && !this.steps[key].completed){
							step.completed = false;
						}
					})
				},
				async submitFeedback(){
					if(validateForm(this.$el)){
						this.isLoading = true;
						const response = await fetch(
							this.apiEndpoint,
							{
								method: this.modificationKeyMatchesResidencePermitType ? 'PUT' : 'POST',
								keepalive: true,
								headers: {'Content-Type': 'application/json; charset=utf-8',},
								body: JSON.stringify({
									application_date: this.steps.application.date,
									appointment_date: (this.steps.appointment.completed ? this.steps.appointment.date : null),
									email: this.email || null,
									first_response_date: (this.steps.response.completed ? this.steps.response.date : null),
									nationality: this.nationality,
									notes: this.userNotes,
									pick_up_date: (this.steps.pickup.completed ? this.steps.pickup.date : null),
									residence_permit_type: this.residencePermitType,
								}),
							}
						);
						this.isLoading = false;
						if(response.ok){
							const responseJson = await response.json();
							this.modificationKey = `${responseJson.modification_key}~${this.residencePermitType}`;
						}
						this.isLoading = false;
						this.nextStage();
					}
				},
				stepName(key){
					return {
						application: "I have applied in Berlin",
						response: "The Ausländerbehörde responded",
						appointment: "The Ausländerbehörde gave me an appointment",
						pickup: `I received my ${this.residencePermitName}`,
					}[key];
				},
				capitalizeFirstLetter(str){
					return String(str).charAt(0).toUpperCase() + String(str).slice(1);
				}
			},
		})
	);
{% endjs %}

<collapsible class="feedback-form" :aria-label="`Feedback form: ${residencePermitName} processing time`" {% if residencePermitType|default %}data-type="{{ residencePermitType }}"{% endif %}  {% if static|default %}static{% endif %} v-cloak>
{% raw %}
	<template v-slot:header>
		How is your {{ residencePermitName }} application going?
	</template>
	<template v-if="stage === 'start'">
		<template  v-for="(step, key, index) in steps" :key="key">
			<div class="form-group no-label">
				<div class="input-group vertical">
					<label class="checkbox">
						<input type="checkbox" v-model="step.completed" @change="onStepCompletionChange(key)">
						{{ stepName(key) }}
					</label>
				</div>
			</div>
			<div class="inter-step" v-if="!step.completed && index != Object.keys(steps).length - 1"></div>
			<div class="form-group inter-step required" v-if="step.completed">
				<label :for="uid(key) + '-date-day'">{{ step.dateFieldTitle }}</label>
				<date-picker v-model="step.date" :id="uid(key) + '-date'" required></date-picker>
			</div>
		</template>
		<template v-if="showRestOfForm">
			<hr>
			<div class="form-group required" v-if="showResidencePermitField">
				<label :for="uid('residencePermitType')">Residence permit</label>
				<select :id="uid('residencePermitType')" v-model="residencePermitType" :class="{placeholder: !residencePermitType}" required>
					<option disabled hidden default :value="null">Choose a residence permit</option>
					<option v-for="(name, key) in residencePermitTypes" :key="key" :value="key">{{ capitalizeFirstLetter(name) }}</option>
				</select>
			</div>
			<div class="form-group required">
				<label :for="uid('nationality')">Nationality</label>
				<country-input
					country-code
					v-model="nationality"
					:id="uid('nationality')"
					required></country-input>
			</div>
			<div class="form-group">
				<label :for="uid('userNotes')">Notes and advice</label>
				<textarea placeholder="" v-model="userNotes" :id="uid('userNotes')"></textarea>
				<span class="input-instructions">Describe your experience and give tips to other readers.</span>
			</div>
		</template>
	</template>
	<template v-if="stage === 'email'">
		<p><strong>Thank you for your feedback!</strong> It will help a lot of people.</p>
		<p>Can you complete your feedback when you get your {{ residencePermitName }}? I can remind you by email.</p>
		<div class="form-group">
			<label :for="uid('email')">Email address</label>
			<input ref="emailInput" v-model="email" type="email" :id="uid('email')" autocomplete="email" required>
			<span class="input-instructions">You will get a reminder in 2 months and in 6 months. Nothing else.</span>
		</div>
	</template>
	<template v-if="stage === 'finish'">
		<p>
			<strong>Thank you for your feedback!</strong> It will help a lot of people.
		</p>
	</template>
	<template v-if="showRestOfForm && stage !== 'finish'">
		<hr>
		<div class="buttons" v-if="showRestOfForm && stage !== 'finish'">
			<button v-if="stage == 'email'" class="button" @click="previousStage"><i class="icon left" aria-hidden="true"></i> Go back</button>
			<button
				class="button primary"
				v-if="stage === 'start'"
				:disabled="isLoading"
				:class="{loading: isLoading}"
				@click="submitFeedback">{{ modificationKeyMatchesResidencePermitType ? 'Update' : 'Send' }} feedback</button>
			<button class="button primary" v-if="stage === 'email'" @click="submitFeedback">Remind me</button>
		</div>
	</template>
{% endraw %}
</collapsible>