{% include '_js/utils.js' %}
{% include '_js/vue.js' %}
{% include '_js/vue/feedback-residence-permit.js' %}
{% include '_js/vue/mixins/residencePermitFeedbackMixin.js' %}
{% js %}
	document.querySelectorAll('main .article-body').forEach(
		el => new Vue({
			el: el,
			mixins: [residencePermitFeedbackMixin],
			data() {
				return {
					isLoading: true,
					resultPages: [], // An array of arrays. First a list of pages, then items on that page
					page: null,
					resultCount: 0,
					itemsPerPage: 10,
					stats: {
						response: {
							waitTime: 'Loading…',
						},
						appointment: {
							waitTime: 'Loading…',
						},
						pickup: {
							waitTime: 'Loading…',
						},
						total: {
							waitTime: 'this long',
						}
					}
				};
			},
			async mounted(){
				this.loadPage(1, false);
			},
			computed: {
				apiEndpoint(){
					const querystring = new URLSearchParams({ page: this.page });
					if(this.residencePermitType){
						querystring.append('residence_permit_type', this.residencePermitType);
					}
					if(this.department){
						querystring.append('department', this.department);
					}
					return '/api/forms/residence-permit-feedback.json?' + querystring.toString();
				},
				pageCount(){
					return Math.ceil(this.resultCount / this.itemsPerPage);
				},
				pageNumbers(){
					return Array.from({length: this.pageCount}, (_, i) => i + 1);
				},
				resultsPage(){
					return this.isLoading ? [] : this.resultPages[this.page];
				},
				residencePermitName(){
					return this.residencePermitTypes[this.residencePermitType] || {
						normal: "residence permit",
						capitalized: "Residence permit"
					}
				},
				supportLink(){
					return {
						BLUE_CARD: '/guides/blue-card',
						WORK_VISA: '/guides/work-visa',
						FREELANCE_VISA: '/guides/freelance-visa',
						PERMANENT_RESIDENCE: '/guides/permanent-residence',
					}[this.residencePermitType] || null;
				}
			},
			methods: {
				async loadPage(page, scrollToTop=true){
					this.page = page;
					if(scrollToTop){
						Vue.nextTick(() => {
							this.$refs.topOfList.scrollIntoView();
						});
					}

					if(!this.resultPages[page]){
						this.isLoading = true;
						response = await (await fetch(this.apiEndpoint)).json();
						this.resultCount = response.count;
						this.resultPages[page] = response.results.map(r => {
							r.modification_date = new Date(r.modification_date);
							r.application_date = new Date(r.application_date);
							r.first_response_date = r.first_response_date ? new Date(r.first_response_date) : null;
							r.appointment_date = r.appointment_date ? new Date(r.appointment_date) : null;
							r.pick_up_date = r.pick_up_date ? new Date(r.pick_up_date) : null;
							return r;
						});

						const unknown = 'for an unknown duration';

						this.stats.response.waitTime = `Wait ${response.stats.first_response_date.readable_range || unknown}`;
						this.stats.appointment.waitTime = `Wait ${response.stats.appointment_date.readable_range || unknown}`;
						this.stats.pickup.waitTime = `Wait ${response.stats.pick_up_date.readable_range || unknown}`;
						this.stats.total.waitTime = response.stats.total.readable_range || 'an unknown time';

						this.isLoading = false;
					}
				},
				formatTimeDelta(date1, date2){
					const millisecondsPerDay = 1000 * 60 * 60 * 24;
					const days = Math.ceil((date2.getTime() - date1.getTime()) / millisecondsPerDay);
					let qty, unit = null;
					if(days <= 7 * 2){
						qty = days
						unit = (qty === 1 ? 'day' : 'days');
					}
					else if(days <= 7 * 8){
						qty = Math.round(days / 7);
						unit = (qty === 1 ? 'week' : 'weeks');
					}
					else{
						qty = Math.round(days / 30)
						unit = (qty === 1 ? 'month' : 'months');
					}

					return `${qty} ${unit}`;
				},
				waitTime(date1, date2, stillWaiting=false) {
					if(stillWaiting){
						const timeDelta = this.formatTimeDelta(date1, date2);
						return timeDelta.startsWith('1 ') ? `${timeDelta} has passed` : `${timeDelta} have passed`;
					}
					else if(date2 > date1){
						return `Waited ${this.formatTimeDelta(date1, date2)}`
					}
					return `Waiting ${this.formatTimeDelta(date1, date2)}`;
				},
			},
			watch: {
				department(){
					this.resultPages = [];
					this.loadPage(1, false);
				},
				residencePermitType(){
					this.resultPages = [];
					this.loadPage(1, false);
				},
			}
		})
	);
{% endjs %}
{% raw %}
<div class="filter-group">
	<select v-model="residencePermitType">
		<option :value="null">All residence permits</option>
		<option disabled>──────────</option>
		<option v-for="(name, key) in residencePermitTypes" :key="key" :value="key" v-text="name.capitalized"></option>
	</select>
	<select v-model="department">
		<option :value="null">All departments</option>
		<option disabled>──────────</option>
		<option v-for="(name, key) in departments" :key="key" :value="key" v-text="name"></option>
	</select>
</div>
<h2 v-text="`${residencePermitName.capitalized} wait times`">Residence permit wait times</h2>
<p>It takes <strong v-text="stats.total.waitTime">a few months</strong> to get your <span v-text="residencePermitName.normal">residence permit</span> at the <em>Ausländerbehörde</em> in Berlin. Wait times vary between departments<span v-if="!residencePermitType">&nbsp;and residence permit types</span>.</p>
<p v-if="supportLink" v-cloak>
	<strong><a :href="supportLink" class="internal-link">How to apply for the {{ residencePermitTypes[residencePermitType].normal }}</a></strong>
</p>
<div class="residence-permit-feedback-summary feedback-summary">
	<div class="step completed">
		<input type="checkbox" disabled>
		<span class="description">Send your documents</span>
		<div class="duration" v-text="stats.response.waitTime">Loading…</div>
	</div>
	<div class="step completed">
		<input type="checkbox" disabled>
		<span class="description">Get a response</span>
		<div class="duration" v-text="stats.appointment.waitTime">Loading…</div>
	</div>
	<div class="step completed">
		<input type="checkbox" disabled>
		<span class="description">Go to your Ausländerbehörde appointment</span>
		<div class="duration" v-text="stats.pickup.waitTime">Loading…</div>
	</div>
	<div class="step completed">
		<input type="checkbox" disabled>
		<span class="description">Pick up your residence card</span>
	</div>
</div>
<h2 ref="topOfList">Feedback from readers</h2>
<p>
	<strong><a class="section-link after" href="#add-feedback">Add your feedback</a></strong>
</p>
<div class="feedback-table">
	<div class="loading" v-if="isLoading">Loading results&hellip;</div>
	<div v-cloak class="feedback-item" v-for="result in resultsPage" v-if="!isLoading" :key="result.modification_date">
		<h3>
			{{ residencePermitTypes[result.residence_permit_type].capitalized }}
			<template v-if="result.pick_up_date">in {{ formatTimeDelta(result.application_date, result.pick_up_date) }}</template>
			&mdash; {{ (departments[result.department] || '').split(' — ')[0] }}
		</h3>

		<div class="step completed">
			<input type="checkbox" checked disabled>
			<span class="description">Applied on {{ formatLongDate(result.application_date) }}</span>
			<span class="duration">
				<template v-if="result.first_response_date">
					{{ waitTime(result.application_date, result.first_response_date) }}
				</template>
				<template v-else>
					{{ waitTime(result.application_date, result.modification_date, true) }}
				</template>
			</span>
		</div>

		<div class="step" :class="{completed: !!result.first_response_date}">
			<input type="checkbox" :checked="result.first_response_date" disabled>
			<span class="description">
				<template v-if="result.first_response_date">
					Got a response on {{ formatLongDate(result.first_response_date) }}
				</template>
				<template v-else>
					No response as of {{ formatLongDate(result.modification_date) }}
				</template>
			</span>
			<span class="duration" v-if="result.first_response_date || result.appointment_date">
				<template v-if="result.appointment_date">
					{{ waitTime(result.first_response_date, result.appointment_date) }}
				</template>
				<template v-if="result.first_response_date && !result.appointment_date">
					{{ waitTime(result.first_response_date, result.modification_date, true) }}
				</template>
			</span>
		</div>

		<div class="step" :class="{completed: !!result.appointment_date}">
			<input type="checkbox" :checked="result.appointment_date" disabled>
			<span class="description">
				<template v-if="result.appointment_date">
					Appointment on {{ formatLongDate(result.appointment_date) }}
				</template>
				<template v-else>
					No appointment <template v-if="result.first_response_date">as of {{ formatLongDate(result.modification_date) }}</template>
				</template>
			</span>
			<span class="duration" v-if="result.appointment_date && result.pick_up_date">
				{{ waitTime(result.appointment_date, result.pick_up_date) }}
			</span>
			<span class="duration" v-if="result.appointment_date && !result.pick_up_date && result.appointment_date <= result.modification_date">
				{{ waitTime(result.appointment_date, result.modification_date, true) }}
			</span>
		</div>

		<div class="step" :class="{completed: !!result.pick_up_date}">
			<input type="checkbox" :checked="result.pick_up_date" disabled>
			<span class="description">
				<template v-if="result.pick_up_date">
					Picked up residence permit on {{ formatLongDate(result.pick_up_date) }}
				</template>
				<template v-else>
					No pick-up date <template v-if="result.appointment_date">as of {{ formatLongDate(result.modification_date) }}</template>
				</template>
			</span>
		</div>

		<div v-if="result.notes.length" class="notes">{{ result.notes.trim() }}</div>
	</div>
	<nav v-cloak class="pagination" aria-label="Pagination">
		<button v-if="page > 1" @click.prevent="loadPage(page - 1)"><i class="icon left"></i></button>
		<button :class="{current: pageNumber === page}"
			v-for="pageNumber in pageNumbers" :key="pageNumber"
			@click.prevent="loadPage(pageNumber)"
			:title="'Go to page ' + pageNumber"
			:disabled="page === pageNumber">{{ pageNumber }}</button>
		<button v-if="page < pageCount" @click.prevent="loadPage(page + 1)"><i class="icon right"></i></button>
	</nav>
</div>
<h2 id="add-feedback">Add feedback</h2>
<feedback-residence-permit open></feedback-residence-permit>
{% endraw %}