{% include '_js/constants.js' %}
{% include '_js/health-insurance-calculator.js' %}
{% include '_js/vue.js' %}
{% include '_js/vue/age-input.js' %}
{% include '_js/vue/collapsible.js' %}
{% include '_js/vue/eur.js' %}
{% include '_js/vue/gkv-cost-explanation.js' %}
{% include '_js/vue/glossary.js' %}
{% include '_js/vue/health-insurance-question.js' %}
{% include '_js/vue/income-input.js' %}
{% include '_js/vue/mixins/userDefaultsMixin.js' %}
{% include '_js/vue/occupation-input.js' %}
{% include '_js/vue/mixins/multiStageMixin.js' %}
{% include '_js/vue/mixins/trackedStagesMixin.js' %}
{% include '_js/vue/mixins/uniqueIdsMixin.js' %}
{% js %}
	document.querySelectorAll('collapsible.health-insurance-calculator').forEach(
		el => new Vue({
			el: el,
			mixins: [userDefaultsMixin, multiStageMixin, uniqueIdsMixin, trackedStagesMixin],
			data() {
				return {
					age: userDefaults.age,
					childrenCount: userDefaults.childrenCount,
					inputIncome: userDefaults.useMonthlyIncome ? Math.round(userDefaults.yearlyIncome / 12) : userDefaults.yearlyIncome,
					occupation: null,
					isMarried: userDefaults.isMarried,
					useMonthlyIncome: userDefaults.useMonthlyIncome,
					yearlyIncome: userDefaults.yearlyIncome,
					worksOver20HoursPerWeek: false,

					isApplyingForResidencePermit: false,
					isEUCitizen: false,
					currentInsurance: null,
					isGettingSocialBenefits: false,

					desiredService: null,

					trackAs: 'Health insurance calculator',
					stages: [
						'start',
						'questions',
						'options',
						'askABroker',
					],
					inputsToFocus: {
						start: () => this.$refs.startButton,
						oldAddress: () => this.$refs.oldAddressInput,
						newAddress: () => this.$refs.newAddressInput,
						addPeople: () => this.$refs.firstNameInput[0],
					},
					pflegeversicherung,
					healthInsurance,
				}
			},
			mounted(){
				this.inputIncome = this.useMonthlyIncome ? this.monthlyIncome : this.yearlyIncome;
			},
			computed: {
				isStudent() {
					return occupations.isStudent(this.occupation);
				},
				isUnemployed() {
					return occupations.isUnemployed(this.occupation);
				},
				results() {
					return getHealthInsuranceOptions(this.calculatorParams);
				},
				salaryOrIncome() {
					return occupations.isEmployed(this.occupation) ? 'Salary' : 'Income';
				},
				monthlyIncome() {
					return this.yearlyIncome / 12;
				},
				minPublicPrice() {
					return this.results.public.options[0].total;
				},
				maxPublicPrice() {
					return this.results.public.options.at(-1).total;
				},

				askForCurrentInsurance(){
					// Current insurance has no effect; public is the only option
					return !(
						this.occupation === 'employee'
						&& this.monthlyIncome > taxes.maxMinijobIncome
						&& this.monthlyIncome < healthInsurance.minFreiwilligMonthlyIncome
					);
				},

				recommendedOption(){
					return this.results.asList[0].id;
				},

				intro(){
					const optionsList = this.results.asList.map(r => r.id).filter(id => ['public', 'private', 'expat'].includes(id));
					if(optionsList.length > 1){
						const options = new Intl.ListFormat('en-US', {style: 'long', type: 'disjunction'}).format(optionsList);
						return `You need <strong>${options} health insurance</strong>. Our expert will help you choose one.`;
					}
				},

				yourSponsorsHave() {
					if(this.flag('familienversicherung-parents') && this.flag('familienversicherung-spouse')){
						return 'your parents or your spouse have';
					}
					else if(this.flag('familienversicherung-spouse')){
						return 'your spouse has';
					}
					else if(this.flag('familienversicherung-parents')){
						return 'your parents have';
					}
				},
				calculatorParams() {
					return {
						age: +this.age,
						childrenCount: this.childrenCount,
						currentInsurance: this.currentInsurance,
						hoursWorkedPerWeek: this.worksOver20HoursPerWeek ? 30 : 20,
						isEUCitizen: this.isEUCitizen,
						isMarried: this.isMarried,
						occupation: this.occupation,

						// Clear the income when the income input is not visible
						monthlyIncome: this.isUnemployed ? 0 : +this.monthlyIncome,
						sortByPrice: true,
					}
				},
				contactFormParams() {
					return {
						age: this.occupation ? this.age : undefined,
						childrenCount: this.childrenCount,
						currentInsurance: String,
						desiredService: String,
						yearlyIncome: (this.yearlyIncome && !this.isUnemployed) ? this.yearlyIncome : undefined,
						isEUCitizen: Boolean,
						isMarried: this.isMarried,
						occupation: this.occupation ? this.occupation : undefined,
						worksOver20HoursPerWeek: this.worksOver20HoursPerWeek,

						desiredService: this.desiredService ? this.desiredService : undefined,
						contactMethod: 'whatsapp',
					}
				},

				/***************************************************
				* Clarification for each option
				***************************************************/

				clarification(){
					if(this.occupation === 'azubi'){
						return this.azubiClarification;
					}
					else if(this.isStudent){
						return this.studentClarification;
					}
					else if(occupations.isSelfEmployed(this.occupation)){
						return this.selfEmployedClarification;
					}
					else if (occupations.isEmployed(this.occupation)){
						return this.employeeClarification;
					}
					else if(this.isUnemployed){
						return this.unemployedClarification;
					}
					return {};
				},

				azubiClarification(){
					const output = {};

					if(this.flag('public-tariff-azubiFree')){
						output.public = `You get free health insurance, because you earn less than ${this.eur(healthInsurance.azubiFreibetrag)} per month. ${this.publicCost}`;
					}
					else if(!this.flag('private')){
						output.public = `Public health insurance is <strong>your only option</strong>. ${this.publicCost}`
					}

					if(this.childrenCount > 0){
						output.public += ' ' + this.familienversicherung;
					}

					// You could have private if your Azubi income is really high, but it's unlikely to happen and not worth explaining
					return output;
				},
				employeeClarification(){
					const output = {};
					if(this.flag('public-minijob')){
						output.public = this.publicCost;
						if(this.results.expat.eligible){
							output.public += `It's more expensive, but you get <strong></strong>.`;
							if(this.childrenCount){
								output.public += ' ' + this.familienversicherung;
							}
							output.expat = "Expat health insurance is cheaper, but <strong>the coverage is not great</strong>. Public health insurance is better.";
						}
					}
					else if(this.flag('private')){
						if(this.childrenCount > 2){
							output.public = `Public health insurance is <strong>cheaper</strong>. ${this.familienversicherung} ${this.publicCost}`;
							output.private = 'Choose private health insurance to get <strong>better coverage</strong> and faster doctor appointments for your family.'
						}
						else if(this.age <= 35){
							output.private = "Private health insurance might be <strong>better and cheaper</strong> than public, because you are young and well-paid.";
							output.public = `Public health insurance is a <strong>safer choice</strong>, because the price is proportional to your income.`;
							if(this.childrenCount > 0){
								output.public += ' ' + this.familienversicherung;
							}
						}
						else if(this.age >= 45){
							output.public = "You are over 45 years old. Public health insurance is usually the <strong>cheapest option</strong>."
							output.private = "Choose private health insurance to get <strong>better coverage</strong> and faster doctor appointments."
						}
					}
					else{
						output.public = `Public health insurance is <strong>your only option</strong>. ${this.publicCost}`;
					}
					return output;
				},
				selfEmployedClarification(){
					const output = {};

					if(this.isEUCitizen){ /* Is EU */
						if(this.yearlyIncome >= 60000){

						}
						else if(this.yearlyIncome >= 30000){

						}
						else{

						}
					}
					else {
						if(this.yearlyIncome >= 60000){

						}
						else if(this.yearlyIncome >= 30000){
							output.public = `If you earn less than €30,000 per year, this is <strong>the safest option</strong>, because the cost is proportional to your income. ${this.publicCost}`;
							output.private = "Insurers might reject you because <strong>your income is too low</strong>. Public health insurance is a safer option."
							// TODO: Justify private, expat
						}
						else{
							
						}
					}

					return output;
				},
				studentClarification(){
					const output = {
						public: this.publicCost,
					};

					if(this.flag('public-tariff-student')){
						if(this.results.free.eligible){
							output.public += " If you can't get free health insurance, this is the <strong>best option</strong> for you.";
						}
						else{
							output.public += " This is the <strong>best option</strong> for students under 30 years old.";
						}

						if(this.childrenCount > 0){
							output.public += ' ' + this.familienversicherung;
						}

						output.expat = "It's cheaper, but <strong>the coverage is much worse</strong>. Public health insurance is better.";
						output.private = "It's more expensive, but you can get <strong>better coverage</strong> and faster doctor appointments.";
					}
					else if(this.flag('public-student-over-30')){
						if(this.isEUCitizen){
							// TODO: Private explanation for EU students over 30?
						}
						else{
							if(this.results.free.eligible){
								output.expat = "If you can't get free health insurance, this is the <strong>cheapest option</strong>, but the coverage is not great."
							}
							else{
								output.expat = "This is the <strong>cheapest option</strong> for students over 30 years old, but the coverage is not great."
								output.private = 'Private health insurance is more expensive, but you get <strong>much better coverage</strong>.';
							}
						}
					}
					else if(this.flag('public-not-werkstudent')){
						if(this.hoursWorkedPerWeek > 20){
							output.public += " You work more than 20 hours per week, so you can't get the cheaper student tariff.";
						}
						else{
							output.public += " Your income is too high, so you can't get the cheaper student tariff.";
						}
					}

					return output;
				},
				unemployedClarification(){
					return {
						private: "You can get private health insurance, but most insurers reject unemployed people."
					};
				},

				familienversicherung(){
					return `It covers your ${this.childrenCount === 1 ? 'child' : 'children'} for free.`;
				},
				publicCost(){
					const minPrice = this.eur(this.minPublicPrice.personalContribution);
					const maxPrice = this.eur(this.maxPublicPrice.personalContribution);
					const priceRange = minPrice === maxPrice ? minPrice : `${minPrice} to ${maxPrice}`;
					return `It costs ${priceRange} per month, depending on the insurer you choose.`;
				},
			},
			methods: {
				flag(flagName){
					return this.results.flags.has(flagName);
				},
				eur(num) {
					return formatCurrency(num, false, '€', false);
				},
				publicOptionPrice(id){
					return this.results.public.options.find(o => o.id === id).total.personalContribution;
				},
				previousStage(){
					this.stageIndex = this.occupation ? this.stageIndex - 1 : 0;
				},
			},
			watch: {
				inputIncome(newIncome){
					this.yearlyIncome = this.useMonthlyIncome ? newIncome * 12 : newIncome;
				},
				useMonthlyIncome(monthly){
					this.yearlyIncome = monthly ? this.inputIncome * 12 : this.inputIncome;
				},
				isEUCitizen(isCitizen){
					if(isCitizen && this.currentInsurance === 'expat'){
						this.currentInsurance = null;
					}
				}
			}
		})
	);
{% endjs %}

<collapsible class="health-insurance-calculator" {% if static|default %}static{% endif %} aria-label="Health insurance recommendation tool">
{% raw %}
	<template v-slot:header>Health insurance picker</template>

	<progress v-if="stage !== 'start'" aria-label="Form progress" :max="stages.length - 1" :value="stageIndex"></progress>

	<template v-if="stage === 'start'">
		<p><strong>Let's find the right health insurance.</strong> What is your occupation?</p>
		<ul class="buttons grid" aria-label="Occupations">
			<li>
				<button @click="occupation = 'employee'; nextStage()">
					{% endraw %}{% include "_css/icons/job.svg" %}{% raw %}
					Employee
				</button>
			</li>
			<li>
				<button @click="occupation = 'studentUnemployed'; nextStage()">
					{% endraw %}{% include "_css/icons/student.svg" %}{% raw %}
					Student
				</button>
			</li>
			<li>
				<button @click="occupation = 'selfEmployed'; nextStage()">
					{% endraw %}{% include "_css/icons/business.svg" %}{% raw %}
					Self-employed
				</button>
			</li>
			<li>
				<button @click="occupation = 'azubi'; nextStage()">
					{% endraw %}{% include "_css/icons/helper.svg" %}{% raw %}
					Apprentice
				</button>
			</li>
			<li>
				<button @click="occupation = 'unemployed'; nextStage()">
					{% endraw %}{% include "_css/icons/visiting.svg" %}{% raw %}
					Unemployed
				</button>
			</li>
			<li>
				<button @click="occupation = null; goToStage('askABroker')">
					{% endraw %}{% include "_css/icons/family.svg" %}{% raw %}
					It's complicated
				</button>
			</li>
		</ul>
	</template>

	<template v-if="stage === 'questions'">
		<h3>Tell us a bit more about you&hellip;</h3>
		<p>It helps us calculate prices and recommend the right health insurance.</p>
		<hr>
		<div class="form-group">
			<label :for="uid('isEUCitizen')">
				Nationality
			</label>
			<div class="input-group vertical">
				<label class="checkbox">
					<input type="checkbox" :id="uid('isEUCitizen')" v-model="isEUCitizen">
					<div>I am a citizen of the <glossary>European Union</glossary></div>
				</label>
			</div>
		</div>
		<div class="form-group">
			<label :for="uid('age')">
				Age
			</label>
			<div class="input-group">
				<age-input :id="uid('age')" v-model="age"></age-input>
				years old
			</div>
		</div>
		<div class="form-group">
			<label :for="uid('childrenCount')">
				Family
			</label>
			<div class="input-group">
				<select v-model="childrenCount" :id="uid('childrenCount')">
					<option :value="0">0</option>
					<option :value="1">1</option>
					<option :value="2">2</option>
					<option :value="3">3</option>
					<option :value="4">4</option>
					<option :value="5">5</option>
					<option :value="6">6</option>
				</select> {{ childrenCount === 1 ? 'child' : 'children'}}
			</div>
		</div>
		<div class="form-group">
			<div class="input-group vertical">
				<label class="checkbox">
					<input type="checkbox" :id="uid('isMarried')" v-model="isMarried">
					I am married
				</label>
			</div>
		</div>
		<div class="form-group" v-if="isStudent">
			<label :for="uid('studentOccupation')">
				Other occupation
			</label>
			<div class="input-group vertical">
				<label class="checkbox">
					<input type="radio" :name="uid('studentOccupation')" v-model="occupation" value="studentUnemployed" required>
					I am unemployed
				</label>
				<label class="checkbox">
					<input type="radio" :name="uid('studentOccupation')" v-model="occupation" value="studentEmployee" required>
					I have a job
				</label>
				<label class="checkbox">
					<input type="radio" :name="uid('studentOccupation')" v-model="occupation" value="studentSelfEmployed" required>
					I am self-employed
				</label>
			</div>
		</div>
		<div class="form-group" v-if="!isUnemployed">
			<label :for="uid('income')">
				{{ salaryOrIncome }}
			</label>
			<div class="input-group">
				<income-input :id="uid('income')" v-model="inputIncome"></income-input>&nbsp;€
				<button class="toggle" @click="useMonthlyIncome = !useMonthlyIncome">per {{ useMonthlyIncome ? 'month' : 'year' }}</button>
				<span class="no-mobile">before taxes</span>
			</div>
			<div class="input-group">
				<label class="checkbox" v-if="occupation === 'studentEmployee'">
					<input type="checkbox" v-model="worksOver20HoursPerWeek">
					I work more than 20 hours per week
				</label>
			</div>
		</div>
		<hr v-if="askForCurrentInsurance">
		<div class="form-group" v-if="askForCurrentInsurance">
			<span class="label">
				Current insurance
			</span>
			<div class="input-group vertical">
				<label class="checkbox">
					<input type="radio" :name="uid('currentInsurance')" v-model="currentInsurance" :value="null" required>
					No health insurance
				</label>
				<label class="checkbox">
					<input type="radio" :name="uid('currentInsurance')" v-model="currentInsurance" value="public" required>
					<div><glossary term="gesetzliche Krankenversicherung">Public health insurance</glossary></div>
				</label>
				<label class="checkbox">
					<input type="radio" :name="uid('currentInsurance')" v-model="currentInsurance" value="private" required>
					<div><glossary term="private Krankenversicherung">Private health insurance</glossary></div>
				</label>
				<label class="checkbox" :class="{disabled: isEUCitizen}">
					<input type="radio" :name="uid('currentInsurance')" v-model="currentInsurance" value="expat" required :disabled="isEUCitizen">
					<div>Travel or <glossary term="Expat health insurance">expat health insurance</glossary></div>
				</label>
			</div>
		</div>
		<hr>
		<div class="buttons bar">
			<button aria-label="Go back" class="button" @click="goToStage('start')">
				<i class="icon left" aria-hidden="true"></i> <span class="no-mobile">Go back</span>
			</button>
			<button class="button primary" @click="nextStage('options')">
				See options <i class="icon right" aria-hidden="true"></i>
			</button>
		</div>
	</template>
	<template v-if="stage === 'options'">
		<p v-if="intro" v-html="intro"></p>
		<hr v-if="intro">
		<template v-for="option in results.asList">
			<h3 v-if="results.asList.length > 1" v-text="option.name"></h3>

			<p v-if="clarification[option.id]" v-html="clarification[option.id]"></p>

			<ul class="buttons list" v-if="option.options.length">
				<li v-for="subOption in option.options" v-if="!['aok', 'hkk', 'dak'].includes(subOption.id)">
					<a v-if="subOption.id === 'familienversicherung'" class="recommended" title="Learn more about family health insurance" href="/guides/german-health-insurance#free-health-insurance" target="_blank">
						{% endraw %}{% include "_css/icons/family.svg" %}{% raw %}
						<div>
							<h3><glossary term="Familienversicherung">Family insurance</glossary></h3>
							<p>If {{ yourSponsorsHave }} public health insurance, it covers you for free.</p>
						</div>
						<output>
							<eur :amount="0"></eur> <small>per month</small>
						</output>
					</a>
					<a v-else-if="subOption.id === 'social-benefits'" title="Learn more about state-sponsored health insurance" href="/guides/german-health-insurance#free-health-insurance" target="_blank">
						{% endraw %}{% include "_css/icons/bank.svg" %}{% raw %}
						<div>
							<h3>Paid by social benefits</h3>
							<p>If you get <glossary term="ALG I">unemployment benefits</glossary>, <glossary>Bürgergeld</glossary> or <glossary>Elterngeld</glossary>, you get free health insurance.</p>
						</div>
						<output>
							<eur :amount="0"></eur> <small>per month</small>
						</output>
					</a>
					<a v-else-if="subOption.id === 'ehic'" title="Learn more about the EHIC" href="/guides/german-health-insurance#insurance-from-other-eu-countries" target="_blank">
						{% endraw %}{% include "_css/icons/passport.svg" %}{% raw %}
						<div>
							<h3>European Health Insurance Card</h3>
							<p>Your insurance from another EU country might cover you in Germany.</p>
						</div>
						<output>
							<eur :amount="0"></eur> <small>per month</small>
						</output>
					</a>
					<a v-else-if="subOption.id === 'barmer'" title="Sign up with BARMER" href="/out/barmer" target="_blank">
						{% endraw %}{% include "_css/icons/health-insurance/logo-barmer.svg" %}{% raw %}
						<div>
							<h3>Barmer</h3>
							<p>Second biggest health insurer. They speak English.</p>
						</div>
						<output>
							<eur :amount="publicOptionPrice('barmer')"></eur> <small>per month</small>
						</output>
					</a>
					<a v-else-if="subOption.id === 'tk'" title="Sign up with Techniker Krankenkasse" href="/out/feather-tk" target="_blank" :class="{recommended: recommendedOption === 'public'}">
						{% endraw %}{% include "_css/icons/health-insurance/logo-tk.svg" %}{% raw %}
						<div>
							<h3>Techniker Krankenkasse</h3>
							<p>Biggest German health insurer. Great customer service. They speak English.</p>
						</div>
						<output>
							<eur :amount="publicOptionPrice('tk')"></eur> <small>per month</small>
						</output>
					</a>
					<a v-else-if="subOption.id === 'ksk'" title="Learn more about the KSK" href="/guides/ksk-kuenstlersozialkasse" target="_blank">
						{% endraw %}{% include "_css/icons/liability.svg" %}{% raw %}
						<div>
							<h3>Join the Künstlersozialkasse</h3>
							<p>If you are a freelance artist or publicist, join the KSK. They pay half of your health insurance. It's always worth it.</p>
						</div>
					</a>
					<a v-else-if="subOption.id === 'feather-expat'" title="Get expat health insurance from Feather" href="/out/feather-expats" target="_blank" :class="{recommended: recommendedOption === 'expat'}">
						{% endraw %}{% include "_css/icons/health-insurance/logo-feather.svg" %}{% raw %}
						<div>
							<h3>Feather</h3>
							<p>Great for a student visa application. It's valid until you graduate. They speak English.</p>
						</div>
						<output>
							<eur :amount="subOption.cost"></eur> <small>per month</small>
						</output>
					</a>
					<a v-else-if="subOption.id === 'ottonova-expat'" title="Get expat health insurance from Ottonova" href="/out/ottonova-expats" target="_blank">
						{% endraw %}{% include "_css/icons/health-insurance/logo-ottonova.svg" %}{% raw %}
						<div>
							<h3>Ottonova</h3>
							<p>...</p>
						</div>
						<output>
							<eur :amount="subOption.cost"></eur> <small>per month</small>
						</output>
					</a>

					<button v-else-if="subOption.id === 'broker'" @click="desiredService = 'private'; goToStage('askABroker')" :class="{recommended: recommendedOption === 'private'}">
						{% endraw %}{% include "_css/icons/help.svg" %}{% raw %}
						<div>
							<h3>Get a quote</h3>
							<p>Ask our independent expert to compare all options. It's the best way to get insured, and it's free. He speaks English.</p>
						</div>
					</button>
					<span v-else>Unknown option: {{ subOption.id }}</span>
				</li>
			</ul>

			<gkv-cost-explanation v-if="option.id === 'public'" v-bind="calculatorParams"></gkv-cost-explanation>

			<hr>
		</template>

		<div class="buttons bar">
			<button aria-label="Go back" class="button" @click="previousStage()">
				<i class="icon left" aria-hidden="true"></i> <span class="no-mobile">Go back</span>
			</button>
			<button class="button primary" @click="desiredService = null; goToStage('askABroker')">
				Ask our expert <i class="icon right" aria-hidden="true"></i>
			</button>
		</div>
	</template>
	<health-insurance-question v-if="stage === 'askABroker'" v-bind="contactFormParams">
		<template v-slot:form-buttons>
			<button aria-label="Go back" class="button" @click="previousStage()">
				<i class="icon left" aria-hidden="true"></i> <span class="no-mobile">Go back</span>
			</button>
		</template>
		<template v-slot:after-confirmation>
			<div class="buttons bar">
				<button aria-label="Go back" class="button" @click="goToStage('start')">
					<i class="icon left" aria-hidden="true"></i> Go back
				</button>
			</div>
		</template>
	</health-insurance-question>
{% endraw %}
</collapsible>