{% include '_js/constants.js' %}
{% include '_js/health-insurance-calculator.js' %}
{% include '_js/utils.js' %}
{% include '_js/vue.js' %}
{% include '_js/vue/age-input.js' %}
{% include '_js/vue/collapsible.js' %}
{% include '_js/vue/eur.js' %}
{% include '_js/vue/glossary.js' %}
{% include '_js/vue/health-insurance-question.js' %}
{% include '_js/vue/income-input.js' %}
{% include '_js/vue/mixins/userDefaultsMixin.js' %}
{% include '_js/vue/occupation-input.js' %}
{% include '_js/vue/mixins/trackedStagesMixin.js' %}
{% include '_js/vue/mixins/uniqueIdsMixin.js' %}
{% js %}
	document.querySelectorAll('collapsible.health-insurance-calculator').forEach(
		el => new Vue({
			el: el,
			mixins: [userDefaultsMixin, uniqueIdsMixin, trackedStagesMixin],
			data() {
				return {
					trackAs: 'Health insurance calculator',
					occupation: null,
					childrenCount: userDefaults.childrenCount,
					yearlyIncome: userDefaults.yearlyIncome,
					inputIncome: 0,
					age: userDefaults.age,
					stage: 'start',
					useMonthlyIncome: userDefaults.useMonthlyIncome,
					formatPercent,
					pflegeversicherung,
					healthInsurance,
				}
			},
			mounted(){
				if(this.useMonthlyIncome){
					this.inputIncome = this.monthlyIncome;
				}
				else{
					this.inputIncome = this.yearlyIncome;
				}
			},
			computed: {
				isStudent() {
					return occupations.isStudent(this.occupation);
				},
				result() {
					return calculateHealthInsuranceContributions({
						age: +this.age,
						monthlyIncome: this.occupation === 'unemployed' ? 0 : +this.monthlyIncome,
						occupation: this.occupation,
						isMarried: true,
						childrenCount: this.childrenCount,
					});
				},
				salaryOrIncome() {
					return occupations.isEmployed(this.occupation) ? 'Salary' : 'Income';
				},
				incomeInputRange() {
					return {
						min: 0,
						max: this.useMonthlyIncome ? Math.ceil(healthInsurance.minFreiwilligMonthlyIncome/250)*250 : Math.ceil(healthInsurance.minFreiwilligMonthlyIncome*12/1000)*1000,
						step: this.useMonthlyIncome ? 250 : 1000,
					};
				},
				monthlyIncome() {
					return this.yearlyIncome / 12;
				},
				minTotal() {
					return this.result.options.cheapest.total;
				},
				maxTotal() {
					return this.result.options.mostExpensive.total;
				},
				baseContributionPercentage() {
					return (this.result.baseContribution.totalRate * 100).toFixed(1);
				},
				isUnemployed() {
					return occupations.isUnemployed(this.occupation);
				},
				showPrivateLowIncomeWarning(){
					return this.flag('private')
						&& !this.isStudent
						&& this.monthlyIncome <= taxes.maxMinijobIncome;
				},
				showFreeOptions(){
					return this.flag('familienversicherung-parents')
						|| this.flag('familienversicherung-spouse')
						|| this.flag('alg-i-buergergeld')
						|| this.flag('ehic');
				},
				yourSponsorsHave() {
					if(this.flag('familienversicherung-parents') && this.flag('familienversicherung-spouse')){
						return 'your parents or your spouse have';
					}
					else if(this.flag('familienversicherung-spouse')){
						return 'your spouse has';
					}
					else if(this.flag('familienversicherung-parents')){
						return 'your parents have';
					}
				},
			},
			methods: {
				flag(flagName){
					return this.result.flags.has(flagName);
				},
				eur(num) {
					return formatCurrency(num, false, '€', false);
				},
			},
			watch: {
				inputIncome(newIncome){
					this.yearlyIncome = this.useMonthlyIncome ? newIncome * 12 : newIncome;
				},
			}
		})
	);
{% endjs %}

<collapsible class="health-insurance-calculator" ref="collapsible" {% if static|default %}static{% endif %}>
{% raw %}
	<template v-slot:header>Health insurance calculator</template>

	<template v-if="stage === 'start'">
		<h3>What is your occupation?</h3>
		<ul class="buttons grid">
			<li>
				<button @click="occupation = 'employee'; stage = 'questions'">
					{% endraw %}{% include "_css/icons/job.svg" %}{% raw %}
					Employee
				</button>
			</li>
			<li>
				<button @click="occupation = 'studentUnemployed'; stage = 'questions'">
					{% endraw %}{% include "_css/icons/student.svg" %}{% raw %}
					Student
				</button>
			</li>
			<li>
				<button @click="occupation = 'selfEmployed'; stage = 'questions'">
					{% endraw %}{% include "_css/icons/business.svg" %}{% raw %}
					Self-employed
				</button>
			</li>
			<li>
				<button @click="occupation = 'intern'; stage = 'questions'">
					{% endraw %}{% include "_css/icons/helper.svg" %}{% raw %}
					Intern
				</button>
			</li>
			<li>
				<button @click="occupation = 'azubi'; stage = 'questions'">
					{% endraw %}{% include "_css/icons/helper.svg" %}{% raw %}
					Apprentice
				</button>
			</li>
			<li>
				<button @click="occupation = 'unemployed'; stage = 'questions'">
					{% endraw %}{% include "_css/icons/visiting.svg" %}{% raw %}
					Unemployed
				</button>
			</li>
		</ul>
	</template>

	<template v-if="stage === 'questions'">
		<h3>Tell us a bit more about you</h3>
		<div class="form-group show-errors">
			<label :for="uid('age')">
				Age
			</label>
			<label class="input-group">
				<age-input :id="uid('age')" v-model="age"></age-input>
				years old
			</label>
		</div>
		<div class="form-group">
			<label :for="uid('children-count')">
				Children
			</label>
			<select :id="uid('children-count')" v-model="childrenCount">
				<option :value="0">No children</option>
				<option :value="1">1 child</option>
				<option :value="2">2 children</option>
				<option :value="3">3 children</option>
				<option :value="4">4 children</option>
				<option :value="5">5 children</option>
				<option :value="6">6+ children</option>
			</select>
		</div>
		<div class="form-group" v-if="isStudent">
			<label :for="uid('studentOccupation')">Other occupation</label>
			<div class="input-group vertical">
				<label class="checkbox">
					<input type="radio" :name="uid('studentOccupation')" v-model="occupation" value="studentEmployee" required>
					I have a job
				</label>
				<label class="checkbox">
					<input type="radio" :name="uid('studentOccupation')" v-model="occupation" value="studentSelfEmployed" required>
					I am self-employed
				</label>
				<label class="checkbox">
					<input type="radio" :name="uid('studentOccupation')" v-model="occupation" value="studentUnemployed" required>
					No other occupation
				</label>
			</div>
		</div>
		<div class="form-group show-errors" v-if="!isUnemployed">
			<label :for="uid('income')">
				{{ salaryOrIncome }}
			</label>
			<div class="input-group">
				<income-input :id="uid('income')" v-model="inputIncome"></income-input>
				€
				<button class="toggle" @click="useMonthlyIncome = !useMonthlyIncome">per {{ useMonthlyIncome ? 'month' : 'year' }}</button>
				before taxes
			</div>
		</div>
		<hr>
		<div class="buttons bar">
			<button class="button" @click="stage = 'start'">
				<i class="icon left" aria-hidden="true"></i> Go back
			</button>
			<button class="button primary" @click="stage = 'insuranceOptions'">
				See options <i class="icon right" aria-hidden="true"></i>
			</button>
		</div>
	</template>
	<template v-if="stage === 'insuranceOptions'">
		<template v-if="showFreeOptions">
			<h3>Free health insurance</h3>
			<p>You can get <strong>free <glossary term="gesetzliche Krankenversicherung">public health insurance</glossary></strong> because you have a low income. This is the best option.</p>
			<ul class="buttons list">
				<li v-if="flag('alg-i-buergergeld')">
					<a title="Learn more about state-sponsored health insurance" href="/guides/german-health-insurance#free-health-insurance" target="_blank">
						{% endraw %}{% include "_css/icons/bank.svg" %}{% raw %}
						<div>
							<h3>ALG I, Elterngeld or Bürgergeld</h3>
							<p>
								If you get <glossary>ALG I</glossary>, <glossary>Bürgergeld</glossary> or <glossary>Elterngeld</glossary>, you get free health insurance.
							</p>
						</div>
						<output>
							<eur :amount="0"></eur> <small>per month</small>
						</output>
					</a>
				</li>
				<li v-if="flag('familienversicherung-spouse') || flag('familienversicherung-parents')">
					<a title="Learn more about family health insurance" href="/guides/german-health-insurance#free-health-insurance" target="_blank">
						{% endraw %}{% include "_css/icons/family.svg" %}{% raw %}
						<div>
							<h3><glossary term="Familienversicherung">Family insurance</glossary></h3>
							<p>
								If {{ yourSponsorsHave }} public health insurance, it covers you for free.
							</p>
						</div>
						<output>
							<eur :amount="0"></eur> <small>per month</small>
						</output>
					</a>
				</li>
				<li v-if="flag('ehic')">
					<a title="Learn more about the EHIC" href="/guides/german-health-insurance#insurance-from-other-eu-countries" target="_blank">
						{% endraw %}{% include "_css/icons/passport.svg" %}{% raw %}
						<div>
							<h3>European Health Insurance Card</h3>
							<p>Your insurance from another EU country might cover you for free.</p>
						</div>
						<output>
							<eur :amount="0"></eur> <small>per month</small>
						</output>
					</a>
				</li>
			</ul>
			<hr>
		</template>
		<h3>Public health insurance</h3>
		<p v-if="flag('azubi-free')">
			You make under <eur :amount="healthInsurance.azubiFreibetrag"></eur> per month, so your employer pays for your health insurance. You must still choose an insurer.
		</p>
		<p v-else>
			<template v-if="showFreeOptions">If you can't get free health insurance, you pay</template>
			<template v-if="!showFreeOptions"><glossary term="gesetzliche Krankenversicherung">Public health insurance</glossary> costs</template>
			<strong>
				<output v-if="maxTotal === 0">
					<eur :amount="0"></eur>
				</output>
				<output v-if="eur(minTotal.personalContribution) === eur(maxTotal.personalContribution) && maxTotal.personalContribution > 0">
					<eur :amount="maxTotal.personalContribution"></eur>
				</output>
				<output v-if="eur(minTotal.personalContribution) != eur(maxTotal.personalContribution) && maxTotal.personalContribution > 0">
					<eur :amount="minTotal.personalContribution" no-symbol></eur>
					to
					<eur :amount="maxTotal.personalContribution"></eur>
				</output>
				per month</strong>, depending on the insurer you choose.

			<template v-if="flag('private') && childrenCount > 2">If you have {{ childrenCount }} children, it's usually the cheapest option, because it covers your children for free.</template>
			<template v-if="flag('private') && age > 45">If you are over 45 years old, it's usually the cheapest option.</template>
			
			<template v-if="isStudent && !flag('student-30plus')">
				<glossary term="gesetzliche Krankenversicherung">Public health insurance</glossary> is usually the best option for students under 30 years old.
			</template>
			<template v-if="isStudent && flag('student-30plus') && age <= 45">
				You are over 30 years old, so you can't get the student tariff. Private health insurance might be cheaper.
			</template>
			<template v-if="occupation === 'selfEmployed' && yearlyIncome <= 30000">
				If your income is under <eur :amount="30000"></eur> per year, public health insurance is <strong>the safest option</strong>.
			</template>
		</p>
		<p>There are dozens of public health insurers. Their price and coverage are almost the same. The most popular options are Barmer and Techniker Krankenkasse.</p>
		<ul class="buttons">
			<li>
				<a title="Sign up with BARMER" href="/out/barmer" target="_blank">
					{% endraw %}{% include "_css/icons/health-insurance/logo-barmer.svg" %}{% raw %}
					<div>
						<h3>Barmer</h3>
						<p>Best sign-up experience for expats. Second biggest health insurer. They speak English.</p>
					</div>
					<output>
						<eur :amount="result.options.barmer.total.personalContribution"></eur> <small>per month</small>
					</output>
				</a>
			</li>
			<li>
				<a title="Sign up with Techniker Krankenkasse" href="/out/feather-tk" target="_blank">
					{% endraw %}{% include "_css/icons/health-insurance/logo-tk.svg" %}{% raw %}
					<div>
						<h3>Techniker Krankenkasse</h3>
						<p>Biggest German health insurer. They speak English.</p>
					</div>
					<output>
						<eur :amount="result.options.tk.total.personalContribution"></eur> <small>per month</small>
					</output>
				</a>
			</li>
			<li>
				<button @click="stage = 'askABroker'">
					{% endraw %}{% include "_css/icons/help.svg" %}{% raw %}
					<div>
						<h3>Ask an expert to choose</h3>
						<p>Let an independent insurance broker choose the best insurance for you. Their help is free.</p>
					</div>
				</button>
			</li>
		</ul>
		<hr>
		<h3>Private health insurance</h3>
		<p v-if="!flag('private')">
			You can't choose <glossary term="private Krankenversicherung">private health insurance</glossary> because your income is too low.
		</p>
		<template v-if="flag('private')">
			<p v-if="showPrivateLowIncomeWarning">
				You can choose <glossary term="private Krankenversicherung">private health insurance</glossary>, but your income is too low, so most insurers will reject you.
			</p>
			<template v-if="!showPrivateLowIncomeWarning">
				<p v-if="age > 45">
					If you are over 45 years old, <glossary term="private Krankenversicherung">private health insurance</glossary> is usually more expensive than public.
				</p>
				<p v-else-if="flag('student-30plus')">
					As a student over 30 years old, private health insurance might be cheaper.
				</p>
				<p v-else>
					If you are young and healthy, <glossary term="private Krankenversicherung">private health insurance</glossary> can be better and cheaper than public.
					<template v-if="occupation === 'selfEmployed'">
						It might be your only option, because public health insurers sometimes reject freelancers.
					</template>
				</p>

				<p>
					<strong>Do not choose private health insurance without help.</strong> It's a hard decision and you can make expensive mistakes. An insurance broker can help you get better, cheaper health insurance. Their help is free.
				</p>
				<ul class="buttons list">
					<li>
						<button @click="stage = 'askABroker'">
							{% endraw %}{% include "_css/icons/help.svg" %}{% raw %}
							<div>
								<h3>Ask an expert</h3>
								<p>Get free advice in English by phone, email or WhatsApp. It's the best way to choose health insurance.</p>
							</div>
						</button>
					</li>
				</ul>
			</template>
		</template>
		<template v-if="flag('ksk')">
			<hr>
			<h3>Other options</h3>
			<ul class="buttons list">
				<li>
					<a title="Learn more about the KSK" href="/guides/ksk-kuenstlersozialkasse" target="_blank">
						{% endraw %}{% include "_css/icons/liability.svg" %}{% raw %}
						<div>
							<h3>Join the Künstlersozialkasse</h3>
							<p>If you are a freelance artist or publicist, join the KSK. They pay half of your health insurance. It's always worth it.</p>
						</div>
					</a>
				</li>
			</ul>
		</template>
		<hr>
		<div class="buttons bar">
			<button class="button" @click="stage = 'questions'">
				<i class="icon left" aria-hidden="true"></i> Go back
			</button>
			<button class="button primary" @click="stage = 'askABroker'">
				Ask for advice <i class="icon right" aria-hidden="true"></i>
			</button>
		</div>
	</template>
	<health-insurance-question
		v-if="stage === 'askABroker'"
		:age="age"
		:income="yearlyIncome"
		:occupation="occupation"
		:children-count="childrenCount"
		>
		<template v-slot:form-buttons>
			<button class="button" @click="stage = 'insuranceOptions'">
				<i class="icon left" aria-hidden="true"></i> Go back
			</button>
		</template>
		<template v-slot:after-confirmation>
			<div class="buttons bar">
				<button class="button" @click="stage = 'start'">
					<i class="icon left" aria-hidden="true"></i> Go back
				</button>
			</div>
		</template>
	</health-insurance-question>
{% endraw %}
</collapsible>