<aside id="places">
	<div id="places-map" class="no-print">
		<noscript>This map needs JavaScript to work.</noscript>
	</div>
	<ol>
		{% for place in entry.related_places %}
		<li id="place-{{ loop.index }}">
			<h4>
				{% if place.website %}
					<a title="Website of {{ place.name }}" target="_blank" href="{{ place.website }}" target="_blank" position="{{ loop.index }}">{{ place.name }}</a>
				{% else %}
					{{ place.name }}
				{% endif %}
			</h4>
			<address>
				<a href="https://www.google.com/maps/search/{{ place.name|urlencode }}/@{{ place.latitude }},{{ place.longitude }}" target="_blank" title="View on Google Maps">
					{{ place.address }}
				</a>
			</address>
			{%- if place.description|default -%}
				<p>{{ place.description }}</p>
			{%- endif -%}
			{%- if place.accepts_public_insurance|default == 'Yes' -%}
				<p>Accepts public health insurance.</p>
			{%- endif -%}
		</li>
		{% endfor %}
	</ol>
</aside>
{% js %}{% include "_js/googleMapsMarkerClusterer.js" %}{% endjs %}
<script>
function initMap() {
	const placesMap = document.getElementById('places-map');
	const googleMap = new google.maps.Map(placesMap, {
		disableDefaultUI: true,
		zoomControl: true,
		mapTypeControl: false,
		scaleControl: true,
		streetViewControl: false,
		rotateControl: false,
		fullscreenControl: false
	});
	const markers = [];
	{% for place in entry.related_places %}
		markers.push(new google.maps.Marker({
			position: {lat: {{ place.latitude }}, lng: {{ place.longitude }} },
			title: "{{ place.name }}",
			label: "{{ loop.index }}"
		}));
	{% endfor %}
	const bounds = new google.maps.LatLngBounds();
	markers.forEach((marker) => {
		bounds.extend(marker.position)
		marker.addListener('click', function() {
			const placeLi = document.getElementById(`place-${marker.label}`);
			placeLi.scrollIntoView({ block: 'nearest', behavior: 'auto' });
			placeLi.classList.add('highlighted');
			setTimeout(() => placeLi.classList.remove('highlighted'), 2000);
		});
	});
	new MarkerClusterer(googleMap, markers);

	document.querySelectorAll('#places address a').forEach((a, index) => {
		a.addEventListener('click', (e) => {
			e.preventDefault();
			googleMap.setZoom(14);
			googleMap.panTo(markers[index].position);
			placesMap.scrollIntoView({ block: 'nearest', behavior: 'auto' });
		});
	})
	googleMap.fitBounds(bounds);
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap"></script>
