{% set id = random_id() %}
<details class="unemployment-insurance-calculator collapsible" aria-label="Unemployment insurance calculator" {% if static|default %}open{% endif %} v-cloak>
    <summary {% if static|default %}hidden{% endif %}>
        Unemployment insurance calculator
    </summary>
{% raw %}
    <div class="form-group">
        <label for="occupation-{% endraw %}{{ id }}{% raw %}">
            Occupation
        </label>
        <select class="select" id="occupation-{% endraw %}{{ id }}{% raw %}" name="occupation" v-model="occupation">
            <option value="employee">Employee</option>
            <option value="selfEmployed">Self-employed / freelancer</option>
            <option value="azubi">Apprentice (Azubi)</option>
            <option value="unemployed">Unemployed</option>
        </select>
    </div>
    <div class="form-group" v-if="['employee', 'azubi'].includes(occupation)">
        <label for="income-{% endraw %}{{ id }}{% raw %}">
            Income
        </label>
        <div class="input-group">
            <income-input id="income-{% endraw %}{{ id }}{% raw %}" v-model="monthlyIncome"></income-input>
            €&nbsp;per&nbsp;month
        </div>
    </div>
    <div class="form-group" v-if="showStatePicker">
        <label for="state-{% endraw %}{{ id }}{% raw %}">
            Where do you work?
        </label>
        <div class="input-group">
          <select id="state-{% endraw %}{{ id }}{% raw %}" v-model="germanState">
            <option v-for="(state, abbr) in germanStates" :key="abbr" :value="abbr">{{ stateName(state) }}</option>
          </select>
          <span class="input-instructions">The maximum contribution is different in East and West Germany.</span>
        </div>
    </div>
    <hr>
    <output class="large">
        <eur :amount="results.unemploymentInsurance / 12"></eur><small class="no-mobile">/month</small>
    </output>
    <p>
        <template v-if="results.flags.has('none')">
            <template v-if="results.flags.has('unemployed')">
                You are unemployed, so you don't pay unemployment insurance.
            </template>
            <template v-else-if="results.flags.has('minijob')">
                You earn less than <eur :amount="taxes.maxMinijobIncome"></eur> per month. When you have a <glossary>Minijob</glossary>, you don't pay unemployment insurance.
            </template>
        </template>
        <template v-else-if="results.flags.has('optional')">
            When you are self-employed, you don't have to pay unemployment insurance. It's optional.
        </template>
        <template v-else-if="results.flags.has('max-contribution')">
            You earn more than <eur :amount="monthlyBeitragsbemessungsgrenze"></eur> per month (the <em><glossary>Beitragsbemessungsgrenze</glossary></em>), so you pay the maximum amount: {{ taxes.arbeitslosenversicherungRate * 100 }}% of <eur :amount="monthlyBeitragsbemessungsgrenze"></eur>.
        </template>
        <template v-else-if="results.flags.has('azubi')">
            As an apprentice, you pay {{ taxes.arbeitslosenversicherungRate * 100 }}% of your income for unemployment insurance.
        </template>
        <template v-else>
            You pay {{ taxes.arbeitslosenversicherungRate * 100 }}% of your income for unemployment insurance.
        </template>
    </p>
</details>
{% endraw %}
{% include '_js/utils.js' %}
{% include '_js/constants.js' %}
{% include '_js/tax-calculator.js' %}
{% include '_js/vue.js' %}
{% include '_js/vue/eur.js' %}
{% include '_js/vue/glossary.js' %}
{% include '_js/vue/income-input.js' %}
{% js %}
  document.querySelectorAll('.unemployment-insurance-calculator').forEach(
    el => new Vue({
      el: el,
      data: function() {
        return {
          occupation: getDefault('occupation'),
          monthlyIncome: Math.round(getDefaultNumber('yearlyIncome')/12),
          germanState: getDefault('state'),
          germanStates,
        }
      },
      computed: {
        showStatePicker: function() {
          return (+this.monthlyIncome) * 12 >= taxes.beitragsbemessungsgrenze.currentYear.east && this.occupation !== 'unemployed';
        },
        isInEastGermany: function() {
          return this.germanStates[this.germanState].isInEastGermany;
        },
        results: function() {
          setDefault('occupation', this.occupation);
          setDefaultNumber('yearlyIncome', this.monthlyIncome*12);
          setDefault('state', this.germanState);
          return calculateUnemploymentInsurance(+this.monthlyIncome * 12, this.occupation, this.isInEastGermany);
        },
        monthlyBeitragsbemessungsgrenze: function() {
          return taxes.beitragsbemessungsgrenze.currentYear[this.isInEastGermany ? 'east' : 'west'];
        },
      },
      methods: {
        stateName: stateName,
      }
    })
  );
{% endjs %}