@keyframes shake {
    0% { transform:rotate(0deg)}
    20% { transform:rotate(2deg)}
    50% { transform:rotate(-3deg)}
    80% { transform:rotate(2deg)}
}

@media (prefers-reduced-motion: reduce) {
    *,:before,:after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-delay: 0s !important;
        transition-duration: 0s !important;
    }
}