$width-desktop: 1280px;
$width-tablet: 600px;

@mixin desktop {
    @media (min-width: #{$width-desktop}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$width-desktop - 1px}) {
        @content;
    }
}

@mixin phone {
    @media (max-width: #{$width-tablet - 1px}) {
        @content;
    }
}

@mixin print {
    @media print{
        @content;
    }
}