$width-desktop: 1280px;
$width-tablet: 600px;
$width-main-column: 860px;

@mixin only-desktop {
    @media screen and (min-width: #{$width-desktop}) {
        @content;
    }
}

@mixin not-desktop {
    @media screen and (max-width: #{$width-desktop - 1px}) {
        @content;
    }
}

@mixin only-tablet {
    @media screen and (min-width: #{$width-tablet}) and (max-width: #{$width-desktop - 1px}) {
        @content;
    }
}

@mixin full-width-site {
    @media screen and (max-width: $width-main-column) {
        @content;
    }
}

@mixin only-phone {
    @media screen and (max-width: #{$width-tablet - 1px}) {
        @content;
    }
}

@mixin not-phone {
    @media screen and (min-width: #{$width-tablet}) {
        @content;
    }
}

@mixin only-print {
    @media print{
        @content;
    }
}

@include only-phone{
    .no-mobile{
        display: none!important;
    }
}

@include not-phone {
    .only-mobile{
        display: none!important;
    }
}

@include only-print {
    .no-print{
        display: none!important;
    }
}