@font-face {
    font-display:swap;
    font-family:'Libre Franklin'; font-style:normal; font-weight:400;
    src:local('Libre Franklin'), local('LibreFranklin-Regular'), url(/fonts/librefranklin-400.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-display:swap;
    font-family:'Open Sans'; font-style:italic; font-weight:300;
    src:local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(/fonts/opensans-400-italic.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-display:swap;
    font-family:'Open Sans'; font-style:normal; font-weight:300;
    src:local('Open Sans Light'), local('OpenSans-Light'), url(/fonts/opensans-400.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-display:swap;
    font-family:'Open Sans'; font-style:normal; font-weight:600;
    src:local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(/fonts/opensans-600.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@mixin heading{
    font-weight: 400;
    font-family: 'Libre Franklin', 'Open Sans', sans-serif;
    line-height: var(--line-height-s);
    color: var(--c-text-heading);
    letter-spacing: -0.01em;
}

@mixin text{
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: var(--c-text);
}

@mixin bold{
    font-weight: 600;
    color: var(--c-text-heading);
}

@mixin small{
    font-size: var(--f-s);
}