{% css %}

@keyframes highlight {
	from { background-color:var(--color-text-selection)}
	to {background-color:transparent}
}

.highlight{animation:highlight 1.5s ease 0s 1 alternate !important}

:valid + .input-symbols:before{content:'✓';}

@media screen and ( max-width:1279px ) {
	main{grid-template-columns:100%;}
		.sidebar {width:0;height:0;margin:0;padding:0;border:none;position:relative;z-index:1000;}
			.sidebar .table-of-contents{position:fixed;z-index:1100;overflow:hidden auto;bottom:calc((2 * var(--spacing-s) + 35px) * -1);right:0;box-sizing:border-box;max-width:calc(100% - 2*var(--spacing-page-borders));max-height:calc(100vh - var(--spacing-m));background:var(--color-background-website);border:var(--border-input);border-bottom:none;margin:0 var(--spacing-page-borders);border-radius:var(--border-radius-button) var(--border-radius-button) 0 0;transition:bottom 0.2s}
				.sidebar .table-of-contents.visible{bottom:0}
				.sidebar .table-of-contents h2{cursor:pointer;}
				.sidebar .table-of-contents:not(.expanded):hover{border-color:var(--color-border-widget-focused)}
				.sidebar .table-of-contents:not(.expanded) h2{font-family:var(--font-family-text);font-size:var(--font-size-m);line-height:35px;margin:0;padding:var(--spacing-s) var(--spacing-m)}
				.sidebar .table-of-contents > ol{display:none;}
			.sidebar .table-of-contents.expanded{padding:var(--spacing-m) var(--spacing-page-borders);width:calc(1280px - var(--max-width-column));}
				.sidebar .table-of-contents.expanded h2{text-align:left;font-size:var(--font-size-h3);}
					.sidebar .table-of-contents.expanded h2:after{content:'▼';font-size:var(--font-size-s);float:right;color:var(--color-text-light);font-weight:normal!important;margin-right:var(--spacing-s)}
					.sidebar .table-of-contents.expanded h2:hover:after{color:var(--color-text-header)}
				.sidebar .table-of-contents.expanded > ol{display:block;}
}

/* Phones */
@media screen and ( max-width:600px ) {
	h1 {font-size:var(--font-size-l)}
	.search-results a:after{content:none}
	.download-buttons {grid-template-columns:1fr;}
}

@media print{
	#places{display:block}
}
{% endcss %}