html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{ margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ display:block}body{ line-height:1}ol,ul{ list-style:none}blockquote,q{ quotes:none}blockquote:before,blockquote:after,q:before,q:after{ content:'';content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {
	font-display:swap;
	font-family:'Libre Franklin'; font-style:normal; font-weight:400;
	src:local('Libre Franklin'), local('LibreFranklin-Regular'), url(/fonts/librefranklin-400.woff2) format('woff2');
	unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-display:swap;
	font-family:'Open Sans'; font-style:italic; font-weight:300;
	src:local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(/fonts/opensans-400-italic.woff2) format('woff2');
	unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-display:swap;
	font-family:'Open Sans'; font-style:normal; font-weight:300;
	src:local('Open Sans Light'), local('OpenSans-Light'), url(/fonts/opensans-400.woff2) format('woff2');
	unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-display:swap;
	font-family:'Open Sans'; font-style:normal; font-weight:600;
	src:local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(/fonts/opensans-600.woff2) format('woff2');
	unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@keyframes highlight {
	from { background-color:var(--color-text-selection)}
	to {background-color:transparent}
}
@keyframes shake {
	0% { transform:rotate(0deg)}
	20% { transform:rotate(2deg)}
	50% { transform:rotate(-3deg)}
	80% { transform:rotate(2deg)}
}

.highlight{animation:highlight 1.5s ease 0s 1 alternate !important}

:root {
	/* SCALED SPACING & SIZES */
	--scale: 1;

	--spacing-xl:calc(45px * var(--scale));
	--spacing-l:calc(30px * var(--scale));
	--spacing-m:calc(15px * var(--scale));
	--spacing-s:calc(5px * var(--scale));
	--font-size-l:calc(30px * var(--scale));
	--font-size-m:calc(17px * var(--scale));
	--font-size-s:calc(15px * var(--scale));
	--font-size-xs:calc(9px * var(--scale));
	--font-size-h2:calc(25px * var(--scale));
	--font-size-h3:calc(22px * var(--scale));

	--line-height:1.6em;
	--line-height-compact:1.3em;

	--spacing-text-block-m: 1.2em;
	--spacing-text-block-l: 1.9em;
	--spacing-list-item: 0.5em;

	/* STATIC SPACING & SIZES */
	--spacing-page-borders: var(--spacing-l);
	--width-sidebar:calc(var(--max-width-page) - var(--max-width-column));
	--height-header:45px;
	--size-checkbox:var(--line-height);

	--max-width-page:1280px;
	--max-width-column-inner:800px;
	--max-width-column:calc(var(--max-width-column-inner) + var(--spacing-page-borders) * 2);

	--size-image-category:60px;
	--size-image-bio:70px;

	--padding-input:var(--spacing-s) 10px;

	/* FONTS */
	--font-family-header:'Libre Franklin', 'Open Sans', sans-serif;
	--font-family-text:'Open Sans', sans-serif;

	--font-weight-header:400;
	--font-weight-text:400;
	--font-weight-bold-text:600;

	/* BORDERS */
	--border-radius:3px;
	--border-radius-button:var(--spacing-s);
	--border-widget:1px solid var(--color-border-widget);
	--border-page:1px solid var(--color-border-page);
	--border-input:1px solid var(--color-border-input);
	--border-image:1px solid var(--color-border-image);
	--border-button:1px solid var(--color-highlight);
	--outline-button:var(--border-button);

	/* COLORS */
	--color-base-00:#fff;
	--color-base-01:#f4f4f4;
	--color-base-02:#f3f3f3;
	--color-base-02-end:#f3f3f3cc;
	--color-base-03:#ddd;
	--color-base-03-end:#dddc;

	--color-border-00:#ddd;
	--color-border-01:#ccc;
	--color-border-02:#777;

	--color-text-00:#000;
	--color-text-01:#444;
	--color-text-02:#666;
	--color-text-03:#fff;

	--color-highlight:#da513d;

	--color-background-website:var(--color-base-01);
	--color-background-page:var(--color-base-00);
	--color-background-widget:var(--color-base-02);
	--color-background-input:var(--color-background-page);
	--color-background-output:var(--color-base-01);
	--color-background-image:var(--color-base-01);
	--color-background-widget-image:var(--color-base-03);

	--color-border-page:var(--color-border-00);
	--color-border-widget:var(--color-border-01);
	--color-border-widget-focused:var(--color-border-02);
	--color-border-widget:var(--color-border-01);
	--color-border-input-focused:var(--color-border-02);
	--color-border-input:var(--color-border-01);
	--color-border-output:var(--color-border-input);
	--color-border-image:var(--color-border-01);

	--color-text-header:var(--color-text-00);
	--color-text-light:var(--color-text-02);
	--color-text:var(--color-text-01);
	--color-text-inverted:var(--color-text-03);
	--color-link:#00e;
	--color-link-visited:#61a;
	--color-text-selection:#fd6;

	/* Transitions */
	--transition-border:border-color 0.2s;

	/* Images */
	--background-select-arrow:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519' fill='%23444'/></svg>");
	--background-search:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='13'><g stroke-width='1.5' stroke='white' fill='none'><path d='M11.29 11.71l-4-4'/><circle cx='5' cy='5' r='4'/></g></svg>");
	--background-heart:url("data:image/svg+xml;utf8,<svg width='700pt' height='700pt' version='1.1' viewBox='0 0 700 700' xmlns='http://www.w3.org/2000/svg'><path d='m350 156.05c11.504-19.973 23.684-35.77 38.242-47.414 19.672-15.727 42.98-23.59 73.758-23.59 34.137 0 65.055 13.859 87.43 36.238 22.379 22.375 36.238 53.289 36.238 87.426 0 81.012-52.523 121.01-122.29 174.11-32.434 24.711-68.809 52.383-105.12 88.715-4.5508 4.5273-11.945 4.5273-16.496 0-36.328-36.328-72.684-64.027-105.14-88.738-69.742-53.082-122.29-93.125-122.29-174.09 0-34.113 13.859-65.055 36.262-87.43 22.348-22.375 53.266-36.234 87.402-36.234 30.777 0 54.086 7.8633 73.758 23.59 14.559 11.668 26.738 27.461 38.242 47.414z' fill-rule='evenodd' fill='%23da513d'/></svg>");

	/* Other */
	--box-shadow-button: 0 3px 4px -3px #0003;
	--box-shadow-block: 0 6px 9px -7px rgba(0,0,0,0.1);
}

@media (prefers-color-scheme: dark) {
	:root{
		--color-base-00:#222;
		--color-base-01:#111;
		--color-base-02:#1b1b1b;
		--color-base-03:#555;
		--color-base-03-end:#555f;

		--color-border-00:#444;
		--color-border-01:#666;
		--color-border-02:#999;

		--color-text-00:#ddd;
		--color-text-01:#bbb;
		--color-text-02:#aaa;

		--color-highlight:#9f3a2b;

		--color-link:#bbf;
		--color-link-visited:#a9d;
		--color-text-selection:#550;

		--background-select-arrow:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519' fill='%23bbb'/></svg>");
	}

	.button:hover{filter:brightness(1.1)!important}
}

::selection{background:var(--color-text-selection)}

.logo, .profile-picture.no-picture{background-image:url("data:image/svg+xml;utf8,{% include 'css/icons/bear.svg' %}")}

html {width:100%;height:100%;scroll-behavior:smooth;}
body {background:var(--color-background-website);font-size:var(--font-size-m);line-height:var(--line-height);font-weight:var(--font-weight-text);font-family:var(--font-family-text),sans-serif;color:var(--color-text);}

a, strong a, b a, a strong, a b{text-decoration:none;cursor:pointer;color:var(--color-link)}
	a:hover{text-decoration:underline}
	a:visited{color:var(--color-link-visited);}
	.article-body a[href*="/glossary/"], p:not(.price) .currency[data-currencies], table .currency[data-currencies]{color:inherit!important;border-bottom:1px dotted var(--color-border-02);text-decoration:none!important;line-height:calc(inherit - 1px)}
		.article-body a[href*="/glossary/"]:hover, .currency[data-currencies]:hover{cursor:help;position:relative;border-bottom-color:var(--color-border-02);}
		.currency[data-currencies]:hover::after{content:attr(data-currencies);font-size:var(--font-size-s);line-height:var(--line-height-compact);display:block;z-index:1000;position:absolute;top:100%;left:0;white-space:pre;background:var(--color-background-widget);padding:var(--spacing-s);border-radius:var(--border-radius);box-shadow:var(--box-shadow-block);border:var(--border-widget);text-align:right;font-weight:normal!important}
blockquote, pre{border-radius:var(--border-radius);background:var(--color-background-widget);padding:var(--spacing-s) var(--spacing-m)}
	pre{font-family:monospace;overflow:auto}
code {border-radius:var(--border-radius);background:var(--color-background-output);padding:0 3px;font-family:monospace;font-weight:200;font-size:16px;-webkit-box-decoration-break:clone;box-decoration-break:clone;}
em, i{font-style:italic}
h1, h2, h3, h4, h5, h6{font-family:var(--font-family-header);color:var(--color-text-header);font-weight:var(--font-weight-header);line-height:var(--line-height-compact);letter-spacing:-0.01em;}
	h1 {font-size:35px;margin:var(--spacing-l) 0 var(--spacing-m);}
	h2 {font-size:var(--font-size-h2);margin:var(--spacing-text-block-l) 0 var(--spacing-text-block-m);}
		.article-body * + h2{border-top:var(--border-page);padding-top:var(--spacing-text-block-l);margin-top:var(--spacing-text-block-l);}
		.article-body .table-of-contents + h2{margin-top:var(--spacing-page-borders);}
	h3 {font-size:var(--font-size-h3);margin:var(--spacing-text-block-l) 0 var(--spacing-text-block-m)}
	h4 {font-size:var(--font-size-m);}
hr {background:var(--color-border-page);height:1px;border:none;margin:var(--spacing-text-block-m) 0}
img{color:var(--color-text-light)!important;font-size:var(--font-size-s);display:block;}
li {list-style:outside;margin:var(--spacing-list-item) 0 var(--spacing-list-item) 20px;padding-left:var(--spacing-s)}
	li::marker{color:var(--color-text-light)}
	li > blockquote{margin:var(--spacing-s) 0}
	ol > li {list-style-type:decimal}
	li ul, li ol{margin:0}
p, ul, ol, blockquote, pre {margin:var(--spacing-text-block-m) 0}
small {font-size:var(--font-size-s);font-weight:var(--font-weight-text);}
strong, b{font-weight:var(--font-weight-bold-text); color:var(--color-text-header)}
sup, sub{font-size:var(--font-size-xs);vertical-align:baseline;position:relative;line-height:0;white-space:nowrap;top:-0.9em}
	sub {top:0.3em}
figcaption{font-size:var(--font-size-s);text-align:center;font-style:italic;line-height:var(--line-height-compact);margin-top:var(--spacing-s)}
table {font-size:var(--font-size-s);margin:var(--spacing-text-block-m) 0;}
	table td, table th {padding:var(--spacing-s) var(--spacing-m);line-height:var(--line-height-compact);border:var(--border-page);}
	table th {text-align:left;color:var(--color-text-header);font-weight:bold;}
		table th small{font-weight:normal;}
	td:first-child, th:first-child{border-left:var(--border-page)}
	td:last-child, th:last-child{border-right:var(--border-page)}
	tr:last-child td{border-bottom:var(--border-page)}

.hidden, input[name="username"]{display:none!important}

.article-body{
	--scale: 1.1;

	--spacing-xl:calc(45px * var(--scale));
	--spacing-l:calc(30px * var(--scale));
	--spacing-m:calc(15px * var(--scale));
	--spacing-s:calc(5px * var(--scale));
	--font-size-l:calc(30px * var(--scale));
	--font-size-m:calc(17px * var(--scale));
	--font-size-s:calc(15px * var(--scale));
	--font-size-xs:calc(9px * var(--scale));
	--font-size-h2:calc(25px * var(--scale));
	--font-size-h3:calc(22px * var(--scale));

	font-size:var(--font-size-m);
	line-height:var(--line-height);
}

#main-nav{margin-bottom:var(--spacing-m);height:var(--height-header);background:var(--color-highlight);border-radius:0 0 var(--border-radius) var(--border-radius);display:flex;justify-content:space-between;overflow:hidden}
		.logo, .logo:visited{padding-left:33px;display:block;background-size:23px 35px;line-height:var(--height-header);font-size:var(--font-size-h2);color:var(--color-text-inverted);font-family:var(--font-family-header);letter-spacing:-0.03em;background-repeat:no-repeat;background-position:0 5px;}
			.logo:hover{text-decoration:none}
		#main-nav #sections{flex:0 1 auto;display:flex;flex-wrap:wrap;justify-content:flex-end;}
			#main-nav #sections a{color:var(--color-text-inverted);padding:0 var(--spacing-m);line-height:var(--height-header);}
			#main-nav #sections a:hover{text-decoration:none;background-color:#fff1}
			#main-nav #sections:last-child a{margin-right:0!important}
			#main-nav #sections a svg{display:block;height:var(--height-header);width:18px}

.post-meta{font-size:var(--font-size-s);border-bottom:var(--border-page);margin:0 0 var(--spacing-l);padding-bottom:var(--spacing-l)}
	.post-reviewers a:after{font-size:10px;vertical-align:bottom;display:inline-block;margin-left:var(--spacing-s);}
		.post-reviewers a.reviewers-collapsed:after{content:'▼';}
		.post-reviewers a.reviewers-expanded:after{content:'▲';}
	.post-date{float:right}

	#reviewers{position:relative;background:var(--color-background-widget);margin:var(--spacing-m) 0 0;padding:var(--spacing-m);border-radius:var(--border-radius)}
		.expert{list-style:none;display:flex;align-items:center;margin:0}
			.expert + .expert{border-top:var(--border-widget);padding-top:var(--spacing-m);margin-top:var(--spacing-m);}
			.expert p{margin:var(--spacing-s) 0}
			.expert .profile-picture{flex:0 0 auto;border-radius:1000px;width:var(--size-image-bio);height:var(--size-image-bio);display:block;background-color:var(--color-background-widget-image);margin:0 var(--spacing-m) 0 0;}
			.expert .profile-picture.no-picture{background-size:23px 35px;background-repeat:no-repeat;background-position:center}

	.breadcrumb ol {margin:0}
		.breadcrumb li {display:inline-block;margin:0}
		.breadcrumb li::before {content:'▸';margin:var(--spacing-s);color:#ccc}
		.breadcrumb li::before {content:'▸';margin:var(--spacing-s);color:#ccc}
		.breadcrumb.hide-last li:last-child, .breadcrumb.hide-last li:last-child::before {display:none}
		.breadcrumb li:first-child::before {display:none}

main {padding:1px 0;display:grid;width:100%;max-width:var(--max-width-page);grid-template-columns:max-content 1fr;margin-left:auto;margin-right:auto;align-items:start;}
	main .article-body img, main .article-body figure, #tooltip .body img, #tooltip .body figure {max-width:100%;margin:var(--spacing-text-block-m) 0;height:auto}
		main .article-body img, #tooltip .body img{vertical-align:middle;background-color:var(--color-background-image);}
		main .article-body figure img, #tooltip .body figure img{margin:0 auto;border: 1px solid var(--color-border-image)}
		main .article-body figure a:hover img, #tooltip .body figure a:hover img{outline:var(--outline-button);border-color:var(--color-highlight)}
		main .article-body figure img[src*="/illustrations/"]{border:none;background-color:transparent;}
	.sidebar{width:var(--width-sidebar);box-sizing:border-box;border-radius:var(--border-radius) 0 0 var(--border-radius);grid-row-start:span 1000;position:sticky;top:0;margin-top:var(--spacing-m);padding:var(--spacing-l);background:var(--color-background-website)}
		.sidebar h2{line-height:35px;margin:0 0 var(--spacing-m)}
		.sidebar .table-of-contents li.current{color:var(--color-text-header);}
			.sidebar .table-of-contents li.current > a{color:var(--color-text-header);font-weight:bold}
			.sidebar .table-of-contents li.current ul li{list-style-type:circle}
			.sidebar .table-of-contents li.donate{list-style-type:none;background: var(--background-heart) no-repeat -2.6px 5px;background-size: 18px;margin-left:0;padding-left:calc(var(--spacing-m) + 9px);}
		.sidebar .table-of-contents li a{color:var(--color-text);}
	main > :not(.sidebar){grid-column-start:2}

#tooltip{z-index:1000;display:none;position:absolute;box-sizing:border-box;width:var(--max-width-column-inner);background:var(--color-background-widget);margin:0 var(--spacing-page-borders);padding:var(--spacing-l);border-radius:var(--border-radius);box-shadow:var(--box-shadow-block);border:var(--border-widget)}
	#tooltip .spinner{text-align:center;font-style:italic}
	#tooltip h2{margin:0;color:var(--color-text-header);border-bottom:var(--border-widget);padding-bottom:var(--spacing-m);}
		#tooltip.loading h2{display:none;}
		#tooltip h2 a{color:var(--color-text-header);text-decoration:none;}
			#tooltip h2 a:hover dfn{text-decoration:underline;}
		#tooltip small{display:block;font-size:var(--font-size-m);font-family:var(--font-family-text)}
			#tooltip h2 a:hover small{text-decoration:none;}
	#tooltip .body :last-child{margin-bottom:0}
	#tooltip .close{display:block;text-decoration:none;float:right;width:45px;height:45px;line-height:45px;font-size:var(--font-size-h2);color:var(--color-text-light);text-align:center}
		#tooltip .close:before{content:'✕'}
		#tooltip .close:hover{color:var(--color-text-header)}

.article-body .table-of-contents{display:none;border-radius:var(--border-radius);margin:var(--spacing-l) 0;padding:var(--spacing-l);border:var(--border-widget);background:var(--color-background-widget)}
	.table-of-contents h2{line-height:var(--line-height);margin:0 0 var(--spacing-m)}
	.table-of-contents ol{margin:0;}
		.table-of-contents ol li{margin-top:var(--spacing-list-item);margin-bottom:var(--spacing-list-item);color:var(--color-text-light);padding-left:var(--spacing-m);list-style-type:'–';margin-left:9px;}
		.table-of-contents > ol > li:last-child{margin-bottom: 0}

.footnote-ref{margin-left:2px}
	.footnote-ref:not(:hover){color:var(--color-text-light)}
.footnote{font-size:var(--font-size-s);line-height:var(--line-height-compact);}
	.footnote p:first-child{margin-top:0}
	.footnote p:last-child{margin-bottom:0}

.fixed-width {margin:0 auto;box-sizing:border-box;width:100%;padding:0 var(--spacing-page-borders);max-width:var(--max-width-column);border-top:1px solid transparent;border-bottom:1px solid transparent}
	.with-sidebar .fixed-width{max-width:var(--max-width-page)}
	.with-sidebar main .fixed-width{max-width:var(--max-width-column)}

.section {border-radius:var(--border-radius);background:var(--color-background-page);margin-top:0;margin-bottom:var(--spacing-m);padding:var(--spacing-l) var(--spacing-page-borders);box-shadow:var(--box-shadow-block)}
	.section > *:first-child{margin-top:0}
	.section > *:last-child{margin-bottom:0}
.section.transparent {background-color:transparent;padding:0;box-shadow:none;}
	.section.centred{text-align:center;}
	.section.intro{padding:var(--spacing-l) var(--spacing-page-borders)}
		.section.intro .search-form{max-width:500px;margin:var(--spacing-l) auto 0}
.section#support{margin:var(--spacing-m) auto var(--spacing-l)}
	.section#support h2{margin:0}
	.section#support p{margin:var(--spacing-m) 0 var(--spacing-text-block-m)}
		.section#support > a{display:block;margin:0 auto;width:100px;height:139px;}
		.section#support img{width:100px;height:139px;position:relative;top:0px;transition:top 0.2s}
		.section#support img:hover{animation:0.3s 2 shake;top:-7px;animation-delay:0.3s;}

.collections{margin-bottom:calc(var(--spacing-m) * -1)!important;}
	.collection{width:calc(50% - var(--spacing-m) / 2);margin-bottom: var(--spacing-m);box-sizing:border-box;background:var(--color-background-page);padding:var(--spacing-m) var(--spacing-page-borders);border-radius:var(--border-radius);border:var(--border-page);box-shadow:var(--box-shadow-block)}
		.collection:first-child:last-child{width:100%}
		.collection h3{padding:0;margin:0;margin:var(--spacing-s) 0 var(--spacing-m);padding-bottom:var(--spacing-m);border-bottom:var(--border-page);text-align:center;line-height:var(--line-height-compact);}
			.collection h3 a{color:var(--color-text-header)}
		.collection ol{margin:var(--spacing-m) 0 0}
			.collection ol li{margin:var(--spacing-list-item) 0 var(--spacing-list-item) 9px;list-style:none;padding:0;padding-left:var(--spacing-m);list-style-type:'–';}
			.collection ol li.current{list-style-type:'▸';font-weight:bold;color:var(--color-text-header)}
				.collection ol li.current::marker{color:var(--color-text)}
		#related .collection h3{text-align:left;}

.preview{display:block;margin:var(--spacing-text-block-m) 0;}
	.preview + .preview, h2 + .preview{padding-top:var(--spacing-text-block-m);border-top:var(--border-page);}
	.preview h3{margin:0;font-size:var(--font-size-m);font-family:var(--font-family-text);font-weight:bold;line-height:var(--line-height);}
	.preview p{margin:var(--spacing-s) 0 0;max-width:72ch}
	.preview .post-date{color:var(--color-text);color:var(--color-text-light);font-size:var(--font-size-s);}

.document{overflow:hidden;margin:var(--spacing-m) 0;padding-top:var(--spacing-m);border-top:var(--border-page);display:grid;grid-template-columns:300px 1fr;grid-gap:0 var(--spacing-l)}
	.document:first-child{padding-top:0;border-top:0;margin-top:0;}
	.document:last-child{margin-bottom:0}
	.document .description{}
		.document h2{font-weight:bold;font-size:var(--font-size-m);font-family:var(--font-family-text);margin:0 0;color:var(--color-text);white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
			.document h2 small{font-size:var(--font-size-m);white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:block;font-weight:normal;}
		.document p{margin:0;}

	.download-buttons {display:grid;grid-template-columns:1fr 1fr;grid-gap:var(--spacing-m);margin-bottom:var(--spacing-l);}
		.download-button {color:var(--color-link)!important;padding:var(--spacing-l) var(--spacing-xl);text-align:center;border:var(--border-page);border-radius:var(--border-radius);text-decoration:none;}
		.download-button:hover{text-decoration:none;border:var(--outline-button);outline:var(--outline-button)}
		.download-button h3{margin:0;color:inherit;}
		.download-button span{font-size:var(--font-size-s);line-height:var(--line-height-compact);display:inline-block}
		.download-button img{border:var(--border-page);box-shadow:var(--box-shadow-block);max-width:calc(100% - 10px);height:auto;background:#fff;margin:var(--spacing-l) auto 0 auto;}

.collapsible{border:var(--border-widget);background:var(--color-background-widget);border-radius:var(--border-radius);margin-top:var(--spacing-text-block-m);margin-bottom:var(--spacing-text-block-m)}
	.collapsible.collapsed:not(.collapsible .collapsible):hover{outline:var(--outline-button);border-color:var(--color-highlight);}
		.collapsible.collapsed .body{display:none}
		.collapsible.collapsed .header{border-bottom:none;}
	.collapsible .header{display:flex;align-items:center;cursor:pointer;padding:var(--spacing-m);border-bottom:var(--border-page);position:relative;border-bottom:var(--border-widget)}
		.collapsible .header .pie-chart{height:25px;margin:0 var(--spacing-m) 0 0;display:inline-block;vertical-align:middle;color:var(--color-background-widget-image);}
		.collapsible .header:hover:after{color:var(--color-text-header)}
		.collapsible .header:after{content:'▲';line-height:25px;color:var(--color-text-light);text-align:right;margin-left:var(--spacing-s);font-weight:normal!important}
			.collapsible.collapsed .header:after{content:'▼'}
			.collapsible .header h2{flex:1;margin:0;padding:0;border:none;font-family:var(--font-family-text);font-weight:bold;font-size:18px;line-height:25px;}
	.collapsible .body{padding:0 var(--spacing-m)}
		.collapsible .no-appointments{text-align:center;padding:var(--spacing-m) 0;border-top:var(--border-widget);border-bottom:var(--border-widget)}
		.pie-chart{transform: rotate(-90deg);}
		.column-with-pie-chart{display:grid;grid-template-columns:200px 1fr;grid-gap:var(--spacing-m);align-items:center;margin:var(--spacing-m) 0}
			.column-with-pie-chart > .pie-chart{display:block;padding:var(--spacing-m);max-width:100%;box-sizing:border-box;}
	.collapsible output.large{font-size:var(--font-size-l);line-height:35px;border:var(--border-input);border-radius:var(--border-radius);display:block;text-align:center;padding:var(--spacing-s) 0;margin:var(--spacing-m) 0}
		.collapsible output.large small{font-size:var(--font-size-m)}

	.collapsible .collapsible{border:none;margin-top:var(--spacing-m);margin:0;}
		.collapsible .collapsible.highlighted .header, .price.highlighted{font-weight:bold;color:var(--color-text-header)}
		.collapsible .collapsible .header{border-bottom:none;padding:var(--spacing-s) 0;}
		.collapsible .collapsible .body{border-bottom:none;padding:0 0 var(--spacing-s);margin-top:calc(var(--spacing-s) * -1);font-size:var(--font-size-s)}
		.collapsible.static > .header{display:none}
		.collapsible .collapsible p{}

	.collapsible.income-tax-calculator{overflow:visible;}
		.collapsible.income-tax-calculator .collapsible .body{padding-left:calc(var(--spacing-m) + 25px)}
		.collapsible.income-tax-calculator .collapsible:not(.total) + .total .header{margin-top:var(--spacing-m);}

	.collapsible.appointment-finder .checkbox{margin-bottom:var(--spacing-m)}
		.appointment-finder .options {grid-template-columns:1fr;}
			.appointment-finder .options > div{display:flex;flex-direction:row;justify-content:space-between;text-align:left;}
				.appointment-finder .options .button{margin:0;padding-left:var(--spacing-m);padding-right:var(--spacing-m)}

		.collapsible.appointment-finder .body{position:relative;}
		.appointment-finder progress{position:absolute;width:100%;top:calc(var(--spacing-text-block-m) * -1);left:0;right:0;height:3px;appearance:none;border:none;overflow:hidden;background:var(--color-background-output);}
			.appointment-finder progress::-moz-progress-bar, .appointment-finder progress::-webkit-progress-value{background:var(--color-highlight);height:var(--spacing-s)}

.price{display:flex;}
	.price + .price {margin-top:calc(var(--spacing-s) - var(--spacing-m))}
	.price output{display:flex;flex:2 0 auto;align-items:baseline;}
	.price output + output{flex:0 0 8em}
	.price output:before{content:'';border-bottom:1px dotted var(--color-border-02);flex:1 0 auto;margin:0 var(--spacing-s)}
	.collapsible .collapsible .body .price{line-height:var(--line-height-compact);}
	.form-group .price:first-child{margin-top:0}
	.form-group .price:last-child{margin-bottom:0}

.appointment{background:var(--color-background-widget);border:var(--border-widget);border-radius:var(--border-radius);overflow:hidden;margin:var(--spacing-m) 0;padding:var(--spacing-s) var(--spacing-s) var(--spacing-s) var(--spacing-m);display:grid;grid-template-columns:1fr auto;grid-gap:var(--spacing-m);align-items: center}
	.appointment .button{margin:0}

li .expand{color:var(--color-text);padding:0 7px;margin-left:var(--spacing-s);border-radius:var(--border-radius);text-decoration:none;text-align:center;}
	li .expand:hover{text-decoration:none;background:var(--gradient-button-secondary);}
	li .expand:after{content:'▲';font-size:10px;vertical-align:bottom;}
	li.collapsed .expand:after{content:'▼'}
	li.collapsed ol{display:none;}

.form{margin:var(--spacing-m) 0}
	.form h2{margin:var(--spacing-l) 0 var(--spacing-m);padding:0;border-top:none}
	.form:last-child{margin-bottom:0}
	.form-group{display:grid;margin:var(--spacing-m) 0;grid-template-columns:240px 1fr;grid-gap:var(--spacing-m)}
	input:not([type=range]), textarea, select, .toggle, .date-picker{flex:1 1 auto;border-radius:var(--border-radius);appearance:none;background:var(--color-background-input);max-width:100%;line-height:var(--line-height-compact)}
		input[type=date], input[type=text], input[type=number], input[type=tel], input[type=email], input[type=search], .toggle, .date-picker{box-sizing:border-box;font-family:var(--font-family-text);border:var(--border-input);font-size:var(--font-size-m);font-weight:var(--font-weight-text);margin:0;padding:var(--padding-input);color:var(--color-text);transition:var(--transition-border);padding-right:0}
			input[type=number] {-moz-appearance: textfield;}
				input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance:none;margin:0;}
				input.income-input{flex:0 1;min-width:calc(6em + 10px);padding-right:10px;}
				input.age-input{flex:0 1;min-width:45px;padding-right:10px;}
				input.percent-input{flex:0 1;min-width:70px;padding-right:10px;}
			input[type=range] {flex:1 1 0px;align-self:center;height:1px;appearance:none;background:var(--color-border-input);cursor:pointer;border-radius:100px;}
				input[type=range]::-webkit-slider-thumb{appearance:none;width:var(--size-checkbox);height:var(--size-checkbox);border-radius:100%;border:none;background:var(--color-highlight);box-shadow:0 2px 4px -3px var(--color-border-input-focused), inset 0 -4px 0px -2px #0001}
				input[type=range]::-moz-range-thumb{appearance:none;width:var(--size-checkbox);height:var(--size-checkbox);border-radius:100%;border:none;background:var(--color-highlight);box-shadow:0 2px 4px -3px var(--color-border-input-focused), inset 0 -4px 0px -2px #0001}
				input[type=range]:hover::-webkit-slider-thumb, input[type=range]:focus::-webkit-slider-thumb{filter:brightness(1.1)}
				input[type=range]:hover::-moz-range-thumb, input[type=range]:focus::-moz-range-thumb{filter:brightness(1.1)}
			.toggle{padding:var(--padding-input);cursor:pointer;}
				.toggle:active{background:transparent;}
		textarea, select{border-radius:var(--border-radius);box-sizing:border-box;font-family:var(--font-family-text);border:var(--border-input);font-size:var(--font-size-m);font-weight:var(--font-weight-text);padding:var(--padding-input);margin:0;color:var(--color-text);transition:var(--transition-border)}
			textarea{flex-grow:1;width:auto;height:60px;transition:height 0.2s, var(--transition-border);max-width:100%;margin:0;resize:none;}
			textarea:focus{height:150px;transition:height 0.2s}
			select{overflow-x:hidden;background-image:var(--background-select-arrow);background-position:center right var(--spacing-s);background-size:var(--spacing-m);background-repeat:no-repeat;padding-right:20px;text-overflow:ellipsis;}
				select option{margin:0;padding:0}
		input:focus, textarea:focus, select:focus, .date-picker:focus-within, input:hover, textarea:hover, select:hover, .toggle:hover, .date-picker:hover{outline:none;box-shadow:none;border-color:var(--color-border-input-focused);transition:none}
			.checkbox input:focus-visible{outline-color:var(--color-link)!important;border:2px solid var(--color-link)}
		.checkbox{display:grid;grid-template-columns:auto 1fr;grid-gap:var(--spacing-m);align-items:center;line-height:var(--line-height-compact)}
			.checkbox input{position:relative;margin:0;display:grid;place-items:center;width:var(--size-checkbox);height:var(--size-checkbox);border:var(--border-input);}
				.checkbox input[type=radio]{border-radius:50%}
				.checkbox input:hover{border-color:var(--color-border-input-focused)}
				.checkbox input[disabled]{background-color:transparent;}
					.checkbox.disabled{color:var(--color-text-light)}
				.checkbox input[type=checkbox]:checked:after{content:'✓';font-weight:bold;color:var(--color-text-header)}
				.checkbox input[type=radio]:checked:after{content:'';width:10px;height:10px;position:absolute;display:block;box-shadow:inset 0 0 100px var(--color-text);border-radius:100%;}
				.checkbox input:disabled:hover{border-color:var(--color-border-input)}
		.input-group{flex:1;display:flex;flex-wrap:wrap;align-items:baseline;overflow:hidden;}
			.input-group > * + *{flex:0 1 auto;margin-left:var(--spacing-s);}
			.input-group > * + input[type=range]{margin-left:var(--spacing-m);}
			.input-group > * + .checkbox{margin:0 0 0 var(--spacing-l);}
			.input-group .day-input, .input-group .short-month-input, .input-group .month-input, .input-group .year-input{flex:0 0 auto;box-sizing:content-box;padding-right:var(--padding-input)}
				.input-group .month-input{width:135px;}
				.input-group .day-input, .input-group .short-month-input{width:calc(2ch + var(--spacing-m) * 2);}
				.input-group .year-input{width:calc(4ch + var(--spacing-m) * 2);}
			.date-picker{display:flex;border-radius:var(--border-radius);align-items:center;padding:var(--padding-input);background:var(--color-background-input);flex:0 0}
				.date-picker input{border:none;padding:0;text-align:center;}
			.input-group .input-instructions{width:100%;font-size:var(--font-size-s);line-height:var(--line-height-compact);margin-top:var(--spacing-s);margin-left:0}
	output.large{font-size:var(--font-size-l);line-height:35px;background:var(--color-background-output);border-radius:var(--border-radius);display:block;text-align:center;padding:var(--spacing-s) 0;margin:var(--spacing-m) 0}
	output.small{font-size:var(--font-size-s);line-height:var(--line-height-compact)}

	.buttons{display:flex;flex-wrap:wrap;justify-content:center;margin-bottom:0}
		.buttons .button{margin:0 calc(var(--spacing-m) / 2);margin-bottom:var(--spacing-m)}
	.button{appearance:none;background:var(--color-highlight);color:var(--color-text-inverted)!important;border-radius:var(--border-radius-button);border:var(--border-button);cursor:pointer;padding:10px var(--spacing-l) 12px;margin:var(--spacing-m) auto;font-family:var(--font-family-text);font-size:var(--font-size-m);font-weight:var(--font-weight-text);display:block;line-height:var(--line-height-compact);outline:none;inline-size:fit-content;text-align:center;box-shadow:var(--box-shadow-button);}
		.button.secondary{color:var(--color-text-header)!important;background:var(--color-background-input);}
		.button:hover{background:var(--color-background-input);color:var(--color-text-header)!important;outline:var(--outline-button);text-decoration:none;}
		.button:focus{outline:none}
		.button:active{outline:var(--outline-button);}
		.button:before{content:none}
		.button:visited{color:#fff;}
		.button[disabled], .button[disabled]:hover, .button[disabled]:active, .button[disabled]:focus{color:var(--color-text-light)!important;background:transparent;border-color:var(--color-border-input)!important;outline:none;cursor:not-allowed;box-shadow:none;}
		.required, :invalid{border-top-right-radius:0!important;border-bottom-right-radius:0!important;border-right:0!important;box-shadow:none;}
			.input-symbols{background:var(--color-background-input);border:var(--border-widget);border-left:none;border-radius:0 var(--border-radius) var(--border-radius) 0;width:20px;text-align:center;font-size:var(--font-size-s);transition:var(--transition-border);line-height:var(--line-height-compact);padding:5px 0;align-self:stretch;margin-left:0!important}
			.required + .input-symbols:before{content:'*';}
			:focus + .input-symbols, :focus-within + .input-symbols, :hover + .input-symbols{border-color:var(--color-border-input-focused);transition:none}
		.show-errors :invalid, .error{border-color:var(--color-highlight)!important;}
			.show-errors :invalid + .input-symbols, .error + .input-symbols{background-color:var(--color-highlight);border-color:var(--color-highlight);color:#fff;}
			.show-errors :invalid + .input-symbols:before, .error + .input-symbols:before{content:'✗';}
			:valid + .input-symbols:before{content:'✓';}
	.range-input{display:flex;border-bottom:var(--border-input);padding:var(--spacing-m) 0;margin-top:calc(var(--spacing-m) * -1);flex-wrap:wrap;align-items:center;position:sticky;top:0;background-color:var(--color-background-widget);z-index:100}
		.range-input label{width:100%;text-align:center;font-size:var(--font-size-m);}
		.range-input input[type=range]{flex:1 1 auto;margin:var(--spacing-m) 0;height:var(--spacing-s)}
		.range-input .range-prefix{padding:0 var(--spacing-m) 0 0;flex:0 0 auto;color:var(--color-text-light)}
		.range-input .range-suffix{padding:0 0 0 var(--spacing-m);flex:0 0 auto;color:var(--color-text-light)}
		.range-input .show-options, .range-input .hide-options{flex:0 0 100%;font-size:var(--font-size-s);margin:0 auto;display:block;text-align:center;}
			.range-input .show-options:after{content:'▼';font-size:10px;vertical-align:center;}
			.range-input .hide-options:after{content:'▲';font-size:10px;vertical-align:center;}
	.select-inline{width:auto;box-sizing:border-box;background:transparent;cursor:pointer;color:inherit;font-family:inherit;font-weight:inherit;font-size:inherit;line-height:inherit;padding:var(--spacing-s);max-width:100%;}

	.health-insurance-options, .appointment-options {margin:var(--spacing-m) 0;display:grid;grid-gap:var(--spacing-m);grid-template-columns:1fr;}
		.health-insurance-options > *{padding:var(--spacing-m);border:1px solid var(--color-border-input);border-radius:var(--border-radius);display:grid;grid-template-columns: 100px 1fr 180px;grid-gap:var(--spacing-l);align-items:center}
		.health-insurance-options > *:last-child{margin:0}
		.health-insurance-options > * img{background:transparent!important;margin:0 auto!important;object-fit:contain;height:75px;max-width:100px;object-position:center;justify-self:center}
		.health-insurance-options > * svg{height:var(--size-image-category);margin:0 auto}
		.health-insurance-options > * h3{margin:0 0 var(--spacing-s);padding:0;font-size:18px;line-height:25px;}
		.health-insurance-options > * p{line-height:var(--line-height-compact);font-size:var(--font-size-s);margin:0}
		.health-insurance-options > * .button{padding: 10px var(--spacing-m);margin:0;width:100%;box-sizing:border-box;}
			.health-insurance-options > * .button output{font-weight:bold;}
			.health-insurance-options > * > output{padding:10px var(--spacing-m);background:var(--color-background-output);border:1px solid var(--color-border-output);border-radius:var(--border-radius);font-weight:bold;line-height:var(--line-height-compact);text-align:center;}

.options {display:grid;grid-gap:var(--spacing-m); grid-template-columns:1fr 1fr 1fr;}
	.options > * {color:var(--color-text);background:var(--color-background-page);padding:var(--spacing-m);text-align:center;padding:var(--spacing-m);border:var(--border-page);border-radius:var(--border-radius);color:var(--color-text)!important;text-decoration:none;line-height:var(--line-height-compact);display:flex;flex-direction:column;align-items:center;box-sizing:border-box;transition:var(--transition-border)}
		.options > a{cursor:pointer;border-radius:var(--border-radius-button);justify-content:space-evenly}
			.options > a:hover{text-decoration:none;border-color:var(--color-highlight);outline:var(--outline-button);transition:none}
		.options > * svg{margin:0 auto var(--spacing-s);height:var(--size-image-category);width:100%;display:block;color:var(--color-text-header);max-width:150px;max-height:var(--size-image-category);}
			.options > * svg:last-child{margin-bottom:0;}
		.options > * strong{color:var(--color-text-header);}
	.article-body > .options{margin:var(--spacing-text-block-m) 0}
	.collapsible .body > .options{margin:var(--spacing-m) 0;}
		.collapsible .body > .options > *{background:var(--color-background-widget)}
	.form-group .options {grid-template-columns:1fr;}
		.form-group .options > *, .collapsible .body > .options > *{border-color:var(--color-border-input);}
		.form-group .options > a:hover, .collapsible .options > a:hover, .form-group .options > .selected{text-decoration:none;border:1px solid var(--color-border-input-focused)}
			.form-group .options > * img{max-width:100%;max-height: 100px}

		.options.guides + .options.guides{border-top:var(--border-page);padding-top:var(--spacing-l);margin:var(--spacing-l) 0}
			.options.guides > * {box-shadow:var(--box-shadow-block)}
.radio-options{}
	.radio-options > .checkbox{cursor:pointer;display:grid;grid-template-columns:auto 1fr;grid-gap:var(--spacing-m);align-items:center;text-align:left;text-decoration:none;}
	.radio-options > * + *{margin-top:var(--spacing-m);padding-top:0;border-top:none}

.search-form{display:grid;grid-template-columns:1fr auto;align-items:stretch;grid-gap:var(--spacing-m);margin-bottom:var(--spacing-m)}
	.search-form input[type="search"]{min-width:0;}
	.search-form .button{margin:0;min-width:45px;padding:10px;background:var(--color-highlight) var(--background-search) no-repeat center;background-size:20px}
	.search-form + .preview{margin-top:var(--spacing-l);padding-top:var(--spacing-m);border-top:var(--border-page);}

#places{display:grid;grid-template-columns:1fr minmax(200px,300px);height:450px;grid-gap:var(--spacing-m);margin:var(--spacing-l) 0 0;border:var(--border-page);border-radius:var(--border-radius);}
	#places-map{background:var(--color-background-output);}
		#places-map img{background-color:transparent;margin:0}
	#places-list {counter-reset: line-number;overflow:auto;margin:0}
		#places-list li{line-height:var(--line-height-compact);counter-increment:line-number;list-style:none;border-bottom:var(--border-page);padding:var(--spacing-m) 0;margin:0 var(--spacing-m) 0 0;position:relative;display:grid;grid-template-columns:30px 1fr;}
			#places-list li:before{content: counter(line-number)".";color:var(--color-text-light);}
			#places-list li .title{overflow:hidden;}
				#places-list li h4{font-weight:bold;font-size:var(--font-size-m);line-height:var(--line-height-compact);font-family:var(--font-family-text);margin:0 0 var(--spacing-s);color:var(--color-text);overflow:hidden;}
				#places-list li address{font-size:var(--font-size-m);font-weight:normal;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
				#places-list li address{font-style:italic;}
			#places-list p{margin:var(--spacing-s) 0 0;grid-column-start:2;}
		#places-list li:last-child{margin-bottom:0;border-bottom:none}

.glossary-links {display:grid;grid-template-columns:1fr 1fr;grid-gap:var(--spacing-s);}

.footer-notice{}
	.footer-notice h2 {text-align: center}
	.footer-notice img{margin:0 var(--spacing-l) 0 0;width:90px;height:90px}
	.footer-notice div p:first-child{margin-top:0}
	.footer-notice div p:last-child{margin-bottom:0}

.pagination {margin:0 auto var(--spacing-m);display:flex;font-family:var(--font-family-header);font-size:var(--font-size-m)}
	.pagination a {flex:1 1 50%}
	.pagination a[rel=next] {text-align:right}
	.pagination .more {text-align:center}

.all-entries{}
	.all-entries .sidebar{position:static;}
	.all-entries h1{position:sticky;top:0;background:var(--color-background-page);padding:var(--spacing-m) 0;margin-top:calc(var(--spacing-m) * -1)!important;border-bottom:var(--border-page);z-index:9999;}
		.all-entries h1 small{font-size:var(--font-size-s);display:block;}

footer {color:var(--color-text-light);font-size:var(--font-size-s);}
	footer a, footer a:visited {color:var(--color-text-light)}

@media screen and ( max-width:1279px ) {
	main{grid-template-columns:100%;}
		.sidebar {width:0;height:0;margin:0;padding:0;border:none;position:relative;z-index:1000;}
			.sidebar .table-of-contents{position:fixed;z-index:1100;overflow:hidden auto;bottom:calc((2 * var(--spacing-s) + 35px) * -1);right:0;box-sizing:border-box;max-width:calc(100% - 2*var(--spacing-page-borders));max-height:calc(100vh - var(--spacing-m));background:var(--color-background-website);border:var(--border-input);border-bottom:none;margin:0 var(--spacing-page-borders);border-radius:var(--border-radius-button) var(--border-radius-button) 0 0;transition:bottom 0.2s}
				.sidebar .table-of-contents.visible{bottom:0}
				.sidebar .table-of-contents h2{cursor:pointer;}
				.sidebar .table-of-contents:not(.expanded):hover{border-color:var(--color-border-widget-focused)}
				.sidebar .table-of-contents:not(.expanded) h2{font-family:var(--font-family-text);font-size:var(--font-size-m);line-height:35px;margin:0;padding:var(--spacing-s) var(--spacing-m)}
				.sidebar .table-of-contents > ol{display:none;}
			.sidebar .table-of-contents.expanded{padding:var(--spacing-m) var(--spacing-page-borders);width:calc(1280px - var(--max-width-column));}
				.sidebar .table-of-contents.expanded h2{text-align:left;font-size:var(--font-size-h3);}
					.sidebar .table-of-contents.expanded h2:after{content:'▼';font-size:var(--font-size-s);float:right;color:var(--color-text-light);font-weight:normal!important;margin-right:var(--spacing-s)}
					.sidebar .table-of-contents.expanded h2:hover:after{color:var(--color-text-header)}
				.sidebar .table-of-contents.expanded > ol{display:block;}
		main > :not(.sidebar){grid-column-start:1}

	.article-body .table-of-contents{display:block;}
		.article-body .table-of-contents + h2{border-top:none;padding-top:0}

	:root{
		--max-width-page: var(--max-width-column);
	}
}

@media screen and ( min-width:601px ){
	.no-desktop{display:none!important}
}

/* Content occupies full width */
@media screen and ( max-width:860px ) {
	:root {
		--max-width-column-inner:calc(100% - 2 * var(--spacing-page-borders));
	}

	#main-nav{margin-bottom:0;border-radius:0}

	.glossary-links {grid-template-columns:1fr;}
	.article-body{ --scale: 1 }

	.collection{width:100%}

	.section{border-radius:0}
		.section.transparent {padding-left:var(--spacing-page-borders);padding-right:var(--spacing-page-borders);}
}

/* Phones */
@media screen and ( max-width:600px ) {
	:root {
		--spacing-page-borders: var(--spacing-m);
		--size-image-category:50px;
	}

	/* Wrapping of long words */
	html {text-size-adjust: none;word-wrap:break-word;}

	h1 {font-size:var(--font-size-l)}
	table{display:block;overflow:auto;width:calc(100% + var(--spacing-page-borders))}

	.logo{height:var(--height-header);width:0px;overflow:hidden}
	.no-mobile{display:none!important}
	.post-date{float:none}
	#main-nav{font-size:var(--font-size-s);}

		.article-body .table-of-contents h2{font-size:var(--font-size-h3);margin:0}

	.price output.no-mobile + output{flex:2 0 auto}

	.options {grid-template-columns:1fr;}
		.options > *{}
			.options.guides{grid-gap:var(--spacing-s);}
				.options.guides > *{padding-top:var(--spacing-s);padding-bottom:var(--spacing-s);flex-direction:row;text-align:left;}
				.options.guides + .options.guides{margin:var(--spacing-m) 0;padding-top:var(--spacing-m);}
			.options > * svg{flex:0 1 var(--size-image-category);margin:0 20px 0 0}
			.options > * span{flex:1 1 auto}
		.options img{max-width:150px;margin:0 auto}
		.health-insurance-options > * {grid-template-columns:1fr!important;grid-gap:var(--spacing-m);}
		.health-insurance-options > * img, .form-group .health-insurance-options > * svg{display:none;}
		.form-group .options{grid-gap:var(--spacing-s)}

	.radio-options > *:first-child{margin-top:var(--spacing-s)}

	.download-buttons {grid-template-columns:1fr;}

	.collapsible{font-size:var(--font-size-s);line-height:var(--line-height-compact)}
		.column-with-pie-chart{grid-template-columns:1fr}
			.column-with-pie-chart > .pie-chart{width:200px;max-width:100%;margin-left:auto;margin-right:auto;}

	.form-group{grid-template-columns:1fr;grid-gap:var(--spacing-s)}
		.form-group > label, .form-group > .label{font-weight:bold;}

	input, .button{font-size:var(--font-size-s)}
	.checkbox{margin-bottom:var(--spacing-s)}

	.appointment{grid-template-columns:100%;padding:var(--spacing-m)}

	.document{grid-template-columns:1fr;grid-gap:var(--spacing-s)}
		.document small{font-style:italic;color:var(--color-text-light)}

	#places{height:auto;border:0;grid-template-columns:1fr;}
		#places-map{height:70vh;min-height:250px;border-radius:var(--border-radius);}
		#places-list li{margin-right:0;}

	#tooltip{width:calc(100% - 2 * var(--spacing-page-borders));left:0!important;box-sizing:border-box;border-radius:var(--border-radius);transform:translateY(calc(var(--spacing-m) * -1));}
		#tooltip .body{font-size:var(--font-size-s);line-height:var(--line-height);}

	.post-date{display:block}
		.post-reviewers{white-space:nowrap;}

	.section.intro{margin-top:var(--spacing-m);padding-top:var(--spacing-m);padding-bottom:var(--spacing-m)}
		.buttons .button{flex:1 0 auto}

	.health-insurance-calculator .collapsible .header small{display:none;}

	footer{margin-top:var(--spacing-m);}
}

@media print{
	:root {
		--color-base-00:#fff;
		--color-base-01:#fff;
		--color-base-02:#fff;
		--color-base-02-end:#fff;
		--color-base-03:#fff;
		--color-base-03-end:#fff;

		--color-border-00:#000;
		--color-border-01:#000;
		--color-border-02:#000;

		--color-text-00:#000;
		--color-text-01:#000;
		--color-text-02:#000;
	}
	.article-body{ --scale: 1 }

	.no-print,#main-nav,.pagination,.sidebar,.table-of-contents,.search-form,.related,.footer-notice,footer, sup, .post-meta, #support, #places-map,.no-desktop,.collections{display:none}
	a{text-decoration:underline;border-bottom:none;}
	.section{box-shadow:none}
	#places{display:block}

	blockquote{background:transparent;border:1px solid #000}

	.button{border:1px solid #000;text-decoration:none;color:#000!important}

	input[type=range]{height:1px;border:1px solid #000}
		input[type=range]::-webkit-slider-thumb{border:1px solid #000;box-shadow:none;}
		input[type=range]::-moz-range-thumb{border:1px solid #000;box-shadow:none;}

	/* Firefox won't print multi-page grid content */
	main{display:block;margin-top:0!important;}
}

@media (prefers-reduced-motion: reduce) {
  *,:before,:after {animation-delay: -1ms !important;animation-duration: 1ms !important;animation-iteration-count: 1 !important;background-attachment: initial !important;scroll-behavior: auto !important;transition-duration: 0s !important;transition-delay: 0s !important;}
}