{% css %}

@keyframes highlight {
	from { background-color:var(--color-text-selection)}
	to {background-color:transparent}
}

.highlight{animation:highlight 1.5s ease 0s 1 alternate !important}

:root {
	--size-image-category:60px;
	--size-image-bio:75px;

	/* Images */
	--background-search:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='13'><g stroke-width='1.5' stroke='white' fill='none'><path d='M11.29 11.71l-4-4'/><circle cx='5' cy='5' r='4'/></g></svg>");
	--background-heart:url("data:image/svg+xml;utf8,<svg width='700pt' height='700pt' version='1.1' viewBox='0 0 700 700' xmlns='http://www.w3.org/2000/svg'><path d='m350 156.05c11.504-19.973 23.684-35.77 38.242-47.414 19.672-15.727 42.98-23.59 73.758-23.59 34.137 0 65.055 13.859 87.43 36.238 22.379 22.375 36.238 53.289 36.238 87.426 0 81.012-52.523 121.01-122.29 174.11-32.434 24.711-68.809 52.383-105.12 88.715-4.5508 4.5273-11.945 4.5273-16.496 0-36.328-36.328-72.684-64.027-105.14-88.738-69.742-53.082-122.29-93.125-122.29-174.09 0-34.113 13.859-65.055 36.262-87.43 22.348-22.375 53.266-36.234 87.402-36.234 30.777 0 54.086 7.8633 73.758 23.59 14.559 11.668 26.738 27.461 38.242 47.414z' fill-rule='evenodd' fill='%23da513d'/></svg>");

	/* Other */
	--box-shadow-s: 0 3px 4px -3px #0003;
	--box-shadow-m: 0 6px 9px -7px rgba(0,0,0,0.1);
	--box-shadow-l: 0 6px 12px -4px rgba(0,0,0,0.15);
}

.search-form{max-width:500px;border:var(--border-input);border-radius:var(--border-radius);background:var(--color-background-input);flex-wrap:wrap;position:relative}
	main .search-form{margin:var(--spacing-l) auto 0}
	.search-form label{display:flex;align-items:center;flex:1 0 100%;padding:var(--spacing-list-item) var(--spacing-m);}
		.search-form input[type="search"]{min-width:0;width:100%;flex:1 1 auto;padding:0;border:none!important;}
		.search-form svg{width:18px;height:100%;flex:0 0 18px}
	.search-results{display:none;flex:1 0;padding-top:var(--border-radius);margin-top:calc(var(--border-radius) * -1);position:absolute;left:-1px;z-index:1000;width:100%;border:1px solid var(--color-border-input-focused);border-top:none;border-radius:0 0 var(--border-radius) var(--border-radius);background:var(--color-background-input);overflow:hidden;box-shadow:var(--box-shadow-l)}
		.search-form:focus-within label ~ .search-results:not(:empty){display:block!important}
		.search-results a{display:flex;align-items:center;line-height:var(--line-height-compact);padding:var(--spacing-list-item) var(--spacing-m);justify-content:space-between;text-align:left}
			.search-results a:hover, .search-results a.highlighted{text-decoration:none;background:var(--color-base-03)}
			.search-results a:after{content:'➞';float:right;font-weight:bold;flex:0 0;color:transparent;}
				.search-results a.highlighted:after, .search-results a:hover:after{color:inherit;}

	.sidebar{width:var(--width-sidebar);box-sizing:border-box;border-radius:var(--border-radius) 0 0 var(--border-radius);grid-row-start:span 1000;position:sticky;top:0;margin-top:var(--spacing-m);padding:var(--spacing-l);background:var(--color-background-website)}
		.sidebar h2{line-height:35px;margin:0 0 var(--spacing-m)}
			.sidebar .table-of-contents li.donate{list-style-type:none;background: var(--background-heart) no-repeat -2.6px 5px;background-size: 18px;margin-left:0;padding-left:calc(var(--spacing-m) + 9px);}

.required, :invalid{border-top-right-radius:0!important;border-bottom-right-radius:0!important;border-right:0!important;box-shadow:none;}
	.input-symbols{background:var(--color-background-input);border:var(--border-widget);border-left:none;border-radius:0 var(--border-radius) var(--border-radius) 0;width:20px;text-align:center;font-size:var(--font-size-s);transition:var(--transition-border);line-height:var(--line-height-compact);padding:5px 0;align-self:stretch;margin-left:0!important}
	.required + .input-symbols:before{content:'*';}
	:focus + .input-symbols, :focus-within + .input-symbols, :hover + .input-symbols{border-color:var(--color-border-input-focused);transition:none}
.show-errors :invalid, .error{border-color:var(--color-highlight)!important;}
	.show-errors :invalid + .input-symbols, .error + .input-symbols{background-color:var(--color-highlight);border-color:var(--color-highlight);color:#fff;}
	.show-errors :invalid + .input-symbols:before, .error + .input-symbols:before{content:'✗';}
	:valid + .input-symbols:before{content:'✓';}

@media screen and ( max-width:1279px ) {
	main{grid-template-columns:100%;}
		.sidebar {width:0;height:0;margin:0;padding:0;border:none;position:relative;z-index:1000;}
			.sidebar .table-of-contents{position:fixed;z-index:1100;overflow:hidden auto;bottom:calc((2 * var(--spacing-s) + 35px) * -1);right:0;box-sizing:border-box;max-width:calc(100% - 2*var(--spacing-page-borders));max-height:calc(100vh - var(--spacing-m));background:var(--color-background-website);border:var(--border-input);border-bottom:none;margin:0 var(--spacing-page-borders);border-radius:var(--border-radius-button) var(--border-radius-button) 0 0;transition:bottom 0.2s}
				.sidebar .table-of-contents.visible{bottom:0}
				.sidebar .table-of-contents h2{cursor:pointer;}
				.sidebar .table-of-contents:not(.expanded):hover{border-color:var(--color-border-widget-focused)}
				.sidebar .table-of-contents:not(.expanded) h2{font-family:var(--font-family-text);font-size:var(--font-size-m);line-height:35px;margin:0;padding:var(--spacing-s) var(--spacing-m)}
				.sidebar .table-of-contents > ol{display:none;}
			.sidebar .table-of-contents.expanded{padding:var(--spacing-m) var(--spacing-page-borders);width:calc(1280px - var(--max-width-column));}
				.sidebar .table-of-contents.expanded h2{text-align:left;font-size:var(--font-size-h3);}
					.sidebar .table-of-contents.expanded h2:after{content:'▼';font-size:var(--font-size-s);float:right;color:var(--color-text-light);font-weight:normal!important;margin-right:var(--spacing-s)}
					.sidebar .table-of-contents.expanded h2:hover:after{color:var(--color-text-header)}
				.sidebar .table-of-contents.expanded > ol{display:block;}
		main > :not(.sidebar){grid-column-start:1}

	.article-body .table-of-contents{display:block;}
		.article-body .table-of-contents + h2{border-top:none;padding-top:0}

	:root{
		--max-width-page: var(--max-width-column);
	}
}

/* Phones */
@media screen and ( max-width:600px ) {
	:root {
		--spacing-page-borders: var(--spacing-m);
		--size-image-category:50px;
	}

	h1 {font-size:var(--font-size-l)}
	table{display:block;overflow:auto;width:calc(100% + var(--spacing-page-borders))}

	.no-mobile{display:none!important}
	.post-meta > span{display:block}
		.post-meta > span + span{margin-left:0}
	#main-nav{font-size:var(--font-size-s);}
		.logo{height:var(--height-header);width:0px;overflow:hidden}

	.search-results a:after{content:none}

	.download-buttons {grid-template-columns:1fr;}

	.collapsible{font-size:var(--font-size-s);line-height:var(--line-height-compact)}

	.form-recipient img{width:100px;height:100px}

	input, .button{font-size:var(--font-size-s)}

	#places{height:auto;border:0;grid-template-columns:1fr;}
		#places-map{height:70vh;min-height:250px;border-radius:var(--border-radius);}
		#places-list li{margin-right:0;}
}

@media print{
	#places{display:block}
}
{% endcss %}