{% css %}

@keyframes highlight {
	from { background-color:var(--color-text-selection)}
	to {background-color:transparent}
}

.highlight{animation:highlight 1.5s ease 0s 1 alternate !important}

:root {
	--size-image-category:60px;
	--size-image-bio:75px;

	/* Images */
	--background-search:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='13'><g stroke-width='1.5' stroke='white' fill='none'><path d='M11.29 11.71l-4-4'/><circle cx='5' cy='5' r='4'/></g></svg>");
	--background-heart:url("data:image/svg+xml;utf8,<svg width='700pt' height='700pt' version='1.1' viewBox='0 0 700 700' xmlns='http://www.w3.org/2000/svg'><path d='m350 156.05c11.504-19.973 23.684-35.77 38.242-47.414 19.672-15.727 42.98-23.59 73.758-23.59 34.137 0 65.055 13.859 87.43 36.238 22.379 22.375 36.238 53.289 36.238 87.426 0 81.012-52.523 121.01-122.29 174.11-32.434 24.711-68.809 52.383-105.12 88.715-4.5508 4.5273-11.945 4.5273-16.496 0-36.328-36.328-72.684-64.027-105.14-88.738-69.742-53.082-122.29-93.125-122.29-174.09 0-34.113 13.859-65.055 36.262-87.43 22.348-22.375 53.266-36.234 87.402-36.234 30.777 0 54.086 7.8633 73.758 23.59 14.559 11.668 26.738 27.461 38.242 47.414z' fill-rule='evenodd' fill='%23da513d'/></svg>");

	/* Other */
	--box-shadow-s: 0 3px 4px -3px #0003;
	--box-shadow-m: 0 6px 9px -7px rgba(0,0,0,0.1);
	--box-shadow-l: 0 6px 12px -4px rgba(0,0,0,0.15);
}

table {font-size:var(--font-size-s);margin:var(--spacing-text-block-m) 0;}
	table td, table th {padding:var(--spacing-s) var(--spacing-m);line-height:var(--line-height-compact);border:var(--border-page);}
	table th {text-align:left;color:var(--color-text-header);font-weight:bold;}
		table th small{font-weight:normal;}
	td:first-child, th:first-child{border-left:var(--border-page)}
	td:last-child, th:last-child{border-right:var(--border-page)}
	tr:last-child td{border-bottom:var(--border-page)}

#main-nav{margin-bottom:var(--spacing-m);height:var(--height-header);background:var(--color-highlight);border-radius:0 0 var(--border-radius) var(--border-radius);display:flex;justify-content:space-between;border:none;}
		.logo, .logo:visited{flex:0 0 auto;padding-left:33px;display:block;background-size:23px 35px;line-height:var(--height-header);font-size:var(--font-size-h2);color:var(--color-text-inverted);font-family:var(--font-family-header);letter-spacing:-0.03em;background-repeat:no-repeat;background-position:0 5px;}
			.logo:hover{text-decoration:none}
		#sections{flex:1 1 auto;max-width:500px;display:flex;flex-wrap:wrap;justify-content:flex-end;align-items:center;margin-left:var(--spacing-l)}
			#sections > a, #sections > .search-form:not(:focus-within) label{color:var(--color-text-inverted);padding:0 var(--spacing-m);line-height:var(--height-header);}
				#sections > a:hover, #sections > .search-form:not(:focus-within):hover{text-decoration:none;background-color:#fff1}
			#sections .search-form:not(:focus-within){cursor:pointer;display:flex;order:5;height:100%;border:none;background:transparent;}
				#sections .search-form:not(:focus-within) label{cursor:pointer;flex:0}
					#sections .search-form:not(:focus-within) input{width:0;flex:0}
				#sections .search-form:focus-within{order:0;flex:1 0 100%;}
					#sections .search-form:focus-within ~ a{display:none}

.search-form{max-width:500px;border:var(--border-input);border-radius:var(--border-radius);background:var(--color-background-input);flex-wrap:wrap;position:relative}
	main .search-form{margin:var(--spacing-l) auto 0}
	.search-form label{display:flex;align-items:center;flex:1 0 100%;padding:var(--spacing-list-item) var(--spacing-m);}
		.search-form input[type="search"]{min-width:0;width:100%;flex:1 1 auto;padding:0;border:none!important;}
		.search-form svg{width:18px;height:100%;flex:0 0 18px}
	.search-results{display:none;flex:1 0;padding-top:var(--border-radius);margin-top:calc(var(--border-radius) * -1);position:absolute;left:-1px;z-index:1000;width:100%;border:1px solid var(--color-border-input-focused);border-top:none;border-radius:0 0 var(--border-radius) var(--border-radius);background:var(--color-background-input);overflow:hidden;box-shadow:var(--box-shadow-l)}
		.search-form:focus-within label ~ .search-results:not(:empty){display:block!important}
		.search-results a{display:flex;align-items:center;line-height:var(--line-height-compact);padding:var(--spacing-list-item) var(--spacing-m);justify-content:space-between;text-align:left}
			.search-results a:hover, .search-results a.highlighted{text-decoration:none;background:var(--color-base-03)}
			.search-results a:after{content:'➞';float:right;font-weight:bold;flex:0 0;color:transparent;}
				.search-results a.highlighted:after, .search-results a:hover:after{color:inherit;}

	.sidebar{width:var(--width-sidebar);box-sizing:border-box;border-radius:var(--border-radius) 0 0 var(--border-radius);grid-row-start:span 1000;position:sticky;top:0;margin-top:var(--spacing-m);padding:var(--spacing-l);background:var(--color-background-website)}
		.sidebar h2{line-height:35px;margin:0 0 var(--spacing-m)}
			.sidebar .table-of-contents li.donate{list-style-type:none;background: var(--background-heart) no-repeat -2.6px 5px;background-size: 18px;margin-left:0;padding-left:calc(var(--spacing-m) + 9px);}

.{margin:0 auto;box-sizing:border-box;width:100%;padding:0 var(--spacing-page-borders);max-width:var(--max-width-column);border-top:1px solid transparent;border-bottom:1px solid transparent}

.section#support{margin:var(--spacing-m) auto var(--spacing-l)}
	.section#support h2{margin:0}
	.section#support p{margin:var(--spacing-m) 0 var(--spacing-text-block-m)}

.collections{margin-bottom:calc(var(--spacing-m) * -1)!important;}
	.collection{width:calc(50% - var(--spacing-m) / 2);margin-bottom: var(--spacing-m);box-sizing:border-box;background:var(--color-background-page);padding:var(--spacing-m) var(--spacing-page-borders);border-radius:var(--border-radius);border:var(--border-page);box-shadow:var(--box-shadow-m)}
		.collection:first-child:last-child{width:100%}
		.collection h3{padding:0;margin:0;margin:var(--spacing-s) 0 var(--spacing-m);padding-bottom:var(--spacing-m);border-bottom:var(--border-page);text-align:center;line-height:var(--line-height-compact);}
			.collection h3 a{color:var(--color-text-header)}
		.collection ol{margin:var(--spacing-m) 0 0}
			.collection ol li{margin:var(--spacing-list-item) 0 var(--spacing-list-item) 9px;list-style:none;padding:0;padding-left:var(--spacing-m);list-style-type:'–';}
			.collection ol li.current{list-style-type:'▸';font-weight:bold;color:var(--color-text-header)}
				.collection ol li.current::marker{color:var(--color-text)}
		#related .collection h3{text-align:left;}

.preview{display:block;margin:var(--spacing-text-block-m) 0;}
	.preview + .preview, h2 + .preview{padding-top:var(--spacing-text-block-m);border-top:var(--border-page);}
	.preview h3{margin:0;font-size:var(--font-size-m);font-family:var(--font-family-text);font-weight:bold;line-height:var(--line-height);}
	.preview p{margin:var(--spacing-s) 0 0;max-width:72ch}
	.preview .post-date{color:var(--color-text);color:var(--color-text-light);font-size:var(--font-size-s);}

.document{overflow:hidden;margin:var(--spacing-m) 0;padding-top:var(--spacing-m);border-top:var(--border-page);display:grid;grid-template-columns:300px 1fr;grid-gap:0 var(--spacing-l)}
	.document:first-child{padding-top:0;border-top:0;margin-top:0;}
	.document:last-child{margin-bottom:0}
	.document .description{}
		.document h2{font-weight:bold;font-size:var(--font-size-m);font-family:var(--font-family-text);margin:0 0;color:var(--color-text);white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
			.document h2 small{font-size:var(--font-size-m);white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:block;font-weight:normal;}
		.document p{margin:0;}

.collapsible{border:var(--border-widget);background:var(--color-background-widget);border-radius:var(--border-radius);margin-top:var(--spacing-text-block-m);margin-bottom:var(--spacing-text-block-m)}
	.collapsible.collapsed:not(.collapsible .collapsible):hover{outline:var(--outline-button);border-color:var(--color-highlight);}
		.collapsible.collapsed .body{display:none}
		.collapsible.collapsed .header{border-bottom:none;}
	.collapsible .header{display:flex;align-items:center;cursor:pointer;padding:var(--spacing-m);border-bottom:var(--border-page);position:relative;border-bottom:var(--border-widget)}
		.collapsible .header .pie-chart{height:25px;margin:0 var(--spacing-m) 0 0;display:inline-block;vertical-align:middle;color:var(--color-background-widget-image);}
		.collapsible .header:hover:after{color:var(--color-text-header)}
		.collapsible .header:after{content:'▲';line-height:25px;color:var(--color-text-light);text-align:right;margin-left:var(--spacing-s);font-weight:normal!important}
			.collapsible.collapsed .header:after{content:'▼'}
			.collapsible .header h2{flex:1;margin:0;padding:0;border:none;font-family:var(--font-family-text);font-weight:bold;font-size:18px;line-height:25px;}

	.collapsible .collapsible{border:none;margin-top:var(--spacing-m);margin:0;}
		.collapsible .collapsible .header{border-bottom:none;padding:var(--spacing-s) 0;}
		.collapsible .collapsible .body{border-bottom:none;padding:0 0 var(--spacing-s);margin-top:calc(var(--spacing-s) * -1);font-size:var(--font-size-s)}

	.collapsible.income-tax-calculator .collapsible:not(.total) + .total .header{margin-top:var(--spacing-m);}
		.collapsible.appointment-finder h3{margin:var(--spacing-l) 0 var(--spacing-m)}
		.collapsible.appointment-finder .checkbox{margin-bottom:var(--spacing-m);font-size:var(--font-size-s);line-height:var(--line-height-compact)}
		.appointment-finder .options {grid-template-columns:1fr;margin:var(--spacing-m) 0}
			.appointment-finder .options > *{display:grid;text-align:left;grid-column-gap:var(--spacing-m);grid-template-columns:auto 1fr}
			.collapsible.appointment-finder .options > :hover{border-color:var(--color-highlight)}
			.appointment-finder .options svg{height:1.5em;width:auto;margin:0;grid-row-end:span 2}
		.appointment-finder .options + .timer{margin-bottom:var(--spacing-s)}

.appointment{background:var(--color-background-widget);border:var(--border-widget);border-radius:var(--border-radius);overflow:hidden;margin:var(--spacing-m) 0;padding:var(--spacing-s) var(--spacing-s) var(--spacing-s) var(--spacing-m);display:grid;grid-template-columns:1fr auto;grid-gap:var(--spacing-m);align-items: center}
	.appointment .button{margin:0}

		.pension-refund-calculator .form-group{grid-template-columns:215px 1fr;}
		.form-recipient{display:flex;align-items:center;}
			.form-recipient img{width:125px;height:125px;border:none;margin-right:var(--spacing-m);border-radius:100%}
			.form-recipient p{margin:0}
		.form-group > input, .form-group > select{align-self:center;}
	input:not([type=range]), textarea, select, .toggle, .date-picker{flex:1 1 auto;border-radius:var(--border-radius);appearance:none;background:var(--color-background-input);max-width:100%;line-height:var(--line-height-compact)}
		input[type=date], input[type=text], input[type=number], input[type=tel], input[type=email], input[type=search], .toggle, .date-picker{box-sizing:border-box;font-family:var(--font-family-text);border:var(--border-input);font-size:var(--font-size-m);font-weight:var(--font-weight-text);margin:0;padding:var(--padding-input);color:var(--color-text);transition:var(--transition-border);padding-right:0}
			.toggle{padding:var(--padding-input);cursor:pointer;}
				.toggle:active{background:transparent;}
		textarea, select{transition:var(--transition-border)}
		input:focus, textarea:focus, select:focus, .date-picker:focus-within, .search-form:focus-within, input:hover, textarea:hover, select:hover, .toggle:hover, .date-picker:hover, .search-form:hover{outline:none;box-shadow:none;border-color:var(--color-border-input-focused);transition:none}
			.input-group .day-input, .input-group .short-month-input, .input-group .month-input, .input-group .year-input{flex:0 0 auto;box-sizing:content-box;padding-right:var(--padding-input)}
				.input-group .month-input{width:135px;}
				.input-group .day-input, .input-group .short-month-input{width:calc(2ch + var(--spacing-m) * 2);}
				.input-group .year-input{width:calc(4ch + var(--spacing-m) * 2);}
			.date-picker{display:flex;border-radius:var(--border-radius);align-items:center;padding:var(--padding-input);background:var(--color-background-input);flex:0 0}
				.date-picker input{border:none;padding:0;text-align:center;}
	output.large{font-size:var(--font-size-l);line-height:35px;background:var(--color-background-output);border-radius:var(--border-radius);display:block;text-align:center;padding:var(--spacing-s) 0;margin:var(--spacing-m) 0}
	output.small{font-size:var(--font-size-s);line-height:var(--line-height-compact)}

	.button{inline-size:fit-content;text-align:center;}
		.button:active{outline:var(--outline-button);}
		.button:before{content:none}
		.button[disabled], .button[disabled]:hover, .button[disabled]:active, .button[disabled]:focus{color:var(--color-text-light)!important;background:transparent;border-color:var(--color-border-input)!important;outline:none;cursor:not-allowed;box-shadow:none;}
		.required, :invalid{border-top-right-radius:0!important;border-bottom-right-radius:0!important;border-right:0!important;box-shadow:none;}
			.input-symbols{background:var(--color-background-input);border:var(--border-widget);border-left:none;border-radius:0 var(--border-radius) var(--border-radius) 0;width:20px;text-align:center;font-size:var(--font-size-s);transition:var(--transition-border);line-height:var(--line-height-compact);padding:5px 0;align-self:stretch;margin-left:0!important}
			.required + .input-symbols:before{content:'*';}
			:focus + .input-symbols, :focus-within + .input-symbols, :hover + .input-symbols{border-color:var(--color-border-input-focused);transition:none}
		.show-errors :invalid, .error{border-color:var(--color-highlight)!important;}
			.show-errors :invalid + .input-symbols, .error + .input-symbols{background-color:var(--color-highlight);border-color:var(--color-highlight);color:#fff;}
			.show-errors :invalid + .input-symbols:before, .error + .input-symbols:before{content:'✗';}
			:valid + .input-symbols:before{content:'✓';}

	.health-insurance-options, .appointment-options {margin:var(--spacing-m) 0;display:grid;grid-gap:var(--spacing-m);grid-template-columns:1fr;}
		.health-insurance-options > *{padding:var(--spacing-m);border:1px solid var(--color-border-input);border-radius:var(--border-radius);display:grid;grid-template-columns: 100px 1fr 180px;grid-gap:var(--spacing-l);align-items:center}
		.health-insurance-options > *:last-child{margin:0}
		.health-insurance-options > * img{border:none;background:transparent!important;margin:0 auto!important;object-fit:contain;height:75px;max-width:100px;object-position:center;justify-self:center}
		.health-insurance-options > * svg{height:var(--size-image-category);margin:0 auto}
		.health-insurance-options > * h3{margin:0 0 var(--spacing-s);padding:0;font-size:18px;line-height:25px;}
		.health-insurance-options > * p{line-height:var(--line-height-compact);font-size:var(--font-size-s);margin:0}
		.health-insurance-options > * .button{padding: 10px var(--spacing-m);margin:0;width:100%;box-sizing:border-box;}
			.health-insurance-options > * .button output{font-weight:bold;}
			.health-insurance-options > * > output{padding:10px var(--spacing-m);background:var(--color-background-output);border:1px solid var(--color-border-output);border-radius:var(--border-radius);font-weight:bold;line-height:var(--line-height-compact);text-align:center;}

	.options > * {color:var(--color-text);background:var(--color-background-page);padding:var(--spacing-m);text-align:center;padding:var(--spacing-m);border:var(--border-page);border-radius:var(--border-radius);color:var(--color-text)!important;text-decoration:none;line-height:var(--line-height-compact);display:flex;flex-direction:column;align-items:center;box-sizing:border-box;transition:var(--transition-border)}
		.options > a{cursor:pointer;border-radius:var(--border-radius-button);justify-content:space-evenly}
			.options > a:hover{text-decoration:none;border-color:var(--color-highlight);outline:var(--outline-button);transition:none}
		.options > * svg{margin:0 auto var(--spacing-s);height:var(--size-image-category);width:100%;display:block;color:var(--color-text-header);max-width:150px;max-height:var(--size-image-category);}
			.options > * svg:last-child{margin-bottom:0;}
		.options > * strong{color:var(--color-text-header);}
	.form-group .options {grid-template-columns:1fr;}
		.form-group .options > *, .collapsible .body > .options > *{border-color:var(--color-border-input);}
		.form-group .options > a:hover, .collapsible .options > a:hover, .form-group .options > .selected{text-decoration:none;border:1px solid var(--color-border-input-focused)}
			.form-group .options > * img{max-width:100%;max-height: 100px}


#places{display:grid;grid-template-columns:1fr minmax(200px,300px);height:450px;grid-gap:var(--spacing-m);margin:var(--spacing-l) 0 0;border:var(--border-page);border-radius:var(--border-radius);}
	#places-map{background:var(--color-background-output);}
		#places-map img{background-color:transparent;margin:0}
	#places-list {counter-reset: line-number;overflow:auto;margin:0}
		#places-list li{line-height:var(--line-height-compact);counter-increment:line-number;list-style:none;border-bottom:var(--border-page);padding:var(--spacing-m) 0;margin:0 var(--spacing-m) 0 0;position:relative;display:grid;grid-template-columns:30px 1fr;}
			#places-list li:before{content: counter(line-number)".";color:var(--color-text-light);}
			#places-list li .title{overflow:hidden;}
				#places-list li h4{font-weight:bold;font-size:var(--font-size-m);line-height:var(--line-height-compact);font-family:var(--font-family-text);margin:0 0 var(--spacing-s);color:var(--color-text);overflow:hidden;}
				#places-list li address{font-size:var(--font-size-m);font-weight:normal;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
				#places-list li address{font-style:italic;}
			#places-list p{margin:var(--spacing-s) 0 0;grid-column-start:2;}
		#places-list li:last-child{margin-bottom:0;border-bottom:none}

.glossary-links {display:grid;grid-template-columns:1fr 1fr;grid-gap:var(--spacing-s);}

.footer-notice{}
	.footer-notice h2 {text-align: center}
	.footer-notice img{margin:0 var(--spacing-l) 0 0;width:90px;height:90px}
	.footer-notice div p:first-child{margin-top:0}
	.footer-notice div p:last-child{margin-bottom:0}

.pagination {margin:0 auto var(--spacing-m);display:flex;font-family:var(--font-family-header);font-size:var(--font-size-m)}
	.pagination a {flex:1 1 50%}
	.pagination a[rel=next] {text-align:right}
	.pagination .more {text-align:center}

.all-entries{}
	.all-entries .sidebar{position:static;}
	.all-entries h1{position:sticky;top:0;background:var(--color-background-page);padding:var(--spacing-m) 0;margin-top:calc(var(--spacing-m) * -1)!important;border-bottom:var(--border-page);z-index:9999;}
		.all-entries h1 small{font-size:var(--font-size-s);display:block;}

footer {color:var(--color-text-light);font-size:var(--font-size-s);}
	footer a, footer a:visited {color:var(--color-text-light)}

@media screen and ( max-width:1279px ) {
	main{grid-template-columns:100%;}
		.sidebar {width:0;height:0;margin:0;padding:0;border:none;position:relative;z-index:1000;}
			.sidebar .table-of-contents{position:fixed;z-index:1100;overflow:hidden auto;bottom:calc((2 * var(--spacing-s) + 35px) * -1);right:0;box-sizing:border-box;max-width:calc(100% - 2*var(--spacing-page-borders));max-height:calc(100vh - var(--spacing-m));background:var(--color-background-website);border:var(--border-input);border-bottom:none;margin:0 var(--spacing-page-borders);border-radius:var(--border-radius-button) var(--border-radius-button) 0 0;transition:bottom 0.2s}
				.sidebar .table-of-contents.visible{bottom:0}
				.sidebar .table-of-contents h2{cursor:pointer;}
				.sidebar .table-of-contents:not(.expanded):hover{border-color:var(--color-border-widget-focused)}
				.sidebar .table-of-contents:not(.expanded) h2{font-family:var(--font-family-text);font-size:var(--font-size-m);line-height:35px;margin:0;padding:var(--spacing-s) var(--spacing-m)}
				.sidebar .table-of-contents > ol{display:none;}
			.sidebar .table-of-contents.expanded{padding:var(--spacing-m) var(--spacing-page-borders);width:calc(1280px - var(--max-width-column));}
				.sidebar .table-of-contents.expanded h2{text-align:left;font-size:var(--font-size-h3);}
					.sidebar .table-of-contents.expanded h2:after{content:'▼';font-size:var(--font-size-s);float:right;color:var(--color-text-light);font-weight:normal!important;margin-right:var(--spacing-s)}
					.sidebar .table-of-contents.expanded h2:hover:after{color:var(--color-text-header)}
				.sidebar .table-of-contents.expanded > ol{display:block;}
		main > :not(.sidebar){grid-column-start:1}

	.article-body .table-of-contents{display:block;}
		.article-body .table-of-contents + h2{border-top:none;padding-top:0}

	:root{
		--max-width-page: var(--max-width-column);
	}
}

@media screen and ( min-width:601px ){
	.only-mobile{display:none!important}
}

/* Content occupies full width */
@media screen and ( max-width:var(--w-main-column) ) {
	#main-nav{margin-bottom:0;border-radius:0}

	.glossary-links {grid-template-columns:1fr;}
}

/* Phones */
@media screen and ( max-width:600px ) {
	:root {
		--spacing-page-borders: var(--spacing-m);
		--size-image-category:50px;
	}

	h1 {font-size:var(--font-size-l)}
	table{display:block;overflow:auto;width:calc(100% + var(--spacing-page-borders))}

	.no-mobile{display:none!important}
	.post-meta > span{display:block}
		.post-meta > span + span{margin-left:0}
	#main-nav{font-size:var(--font-size-s);}
		.logo{height:var(--height-header);width:0px;overflow:hidden}
		#sections{margin-left:0}
		.article-body .table-of-contents h2{font-size:var(--font-size-h3);margin:0}

	.search-results a:after{content:none}

	.options {grid-template-columns:1fr;}
		.options > *{}
			.options.guides{grid-gap:var(--spacing-s);}
				.options.guides > *{padding-top:var(--spacing-s);padding-bottom:var(--spacing-s);flex-direction:row;text-align:left;}
				.options.guides + .options.guides{margin:var(--spacing-m) 0;padding-top:var(--spacing-m);}
			.options > * svg{flex:0 1 var(--size-image-category);margin:0 20px 0 0}
			.options > * span{flex:1 1 auto}
		.options img{max-width:150px;margin:0 auto}
		.health-insurance-options > * {grid-template-columns:1fr!important;grid-gap:var(--spacing-m);}
		.health-insurance-options > * img, .form-group .health-insurance-options > * svg{display:none;}
		.form-group .options{grid-gap:var(--spacing-s)}

	.checkbox-group > *:first-child{margin-top:var(--spacing-s)}

	.download-buttons {grid-template-columns:1fr;}

	.collapsible{font-size:var(--font-size-s);line-height:var(--line-height-compact)}

	.form-group{grid-template-columns:1fr!important;grid-gap:var(--spacing-s)}
		.form-group > label, .form-group > .label{font-weight:bold;}
		.form-recipient img{width:100px;height:100px}

	input, .button{font-size:var(--font-size-s)}
	.checkbox{margin-bottom:var(--spacing-s)}

	.appointment{grid-template-columns:100%;padding:var(--spacing-m)}

	.document{grid-template-columns:1fr;grid-gap:var(--spacing-s)}
		.document small{font-style:italic;color:var(--color-text-light)}

	#places{height:auto;border:0;grid-template-columns:1fr;}
		#places-map{height:70vh;min-height:250px;border-radius:var(--border-radius);}
		#places-list li{margin-right:0;}

	.post-date{display:block}
		.post-reviewers{white-space:nowrap;}

	.health-insurance-calculator .collapsible .header small{display:none;}
}

@media print{
	:root {
		--color-base-00:#fff;
		--color-base-01:#fff;
		--color-base-02:#fff;
		--color-base-02-end:#fff;
		--color-base-03:#fff;
		--color-base-03-end:#fff;

		--color-border-00:#000;
		--color-border-01:#000;
		--color-border-02:#000;

		--color-text-00:#000;
		--color-text-01:#000;
		--color-text-02:#000;
	}
	#places{display:block}

	.button{border:1px solid #000;text-decoration:none;color:#000!important}

	input[type=range]{height:1px;border:1px solid #000}
		input[type=range]::-webkit-slider-thumb{border:1px solid #000;box-shadow:none;}
		input[type=range]::-moz-range-thumb{border:1px solid #000;box-shadow:none;}

	/* Firefox won't print multi-page grid content */
	main{display:block;margin-top:0!important;}
}
{% endcss %}