<aside class="section fixed-width transparent centred" id="support" aria-labelledby="h-support">
    <h2 id="h-title">Thank you for reading</h2>
    <p>
        This website is my full time job. If this {{ pageType|default("page") }} helped you, <a href="{{ site_url }}/donate" title="Donate to All About Berlin">leave a tip</a>.
    </p>
    <a href="{{ site_url }}/donate" title="Donate to All About Berlin"><img width="100" height="139" src="/staticimages/trinkgeld-dip-donation-jar.png" srcset="/staticimages/trinkgeld-dip-donation-jar.png 1x, /staticimages/trinkgeld-dip-donation-jar-2x.png 2x" loading="lazy" alt="Tip jar"></a>
</aside>
