<div class="options" aria-label="Donate to All About Berlin">
  <a title="Donate with PayPal" href="https://allaboutberlin.com/out/paypal" target="_blank">
    {% include "css/icons/paypal.svg" %}
  </a>
  <a title="Become a Patreon" href="https://allaboutberlin.com/out/patreon" target="_blank">
    {% include "css/icons/patreon.svg" %}
  </a>
  <a title="Donate with Buy Me A Coffee" href="https://allaboutberlin.com/out/buymeacoffee" target="_blank">
    {% include "css/icons/buymeacoffee.svg" %}
  </a>
</div>
