{% set id = random_id() %}
<aside class="health-insurance-calculator collapsible {% if static|default %}static{% else %}collapsed{% endif %}" ref="collapsible" aria-label="Health insurance calculator">
{% if not static|default %}
    <div class="header">
        <h2>Health insurance calculator</h2>
    </div>
{% endif %}
{% raw %}
    <div class="body form">
        <div v-show="!showOptions">
            <div class="range-input">
                <label for="range-income-{% endraw %}{{ id }}{% raw %}">
                    <strong v-html="eur(income)"></strong>/{{ useMonthlyIncome ? 'month' : 'year' }}
                    <span v-if="income <= incomeInputRange.min">or less</span>
                    <span v-if="income >= incomeInputRange.max">or more</span>
                    <span v-if="income > incomeInputRange.min && income < incomeInputRange.max">{{ salaryOrIncome }}</span>
                </label>
                <span class="range-prefix" @click="decrementIncome">€</span>
                <input
                    id="range-income-{% endraw %}{{ id }}{% raw %}"
                    v-model.number="income"
                    type="range"
                    :step="incomeInputRange.step"
                    :min="incomeInputRange.min"
                    :max="incomeInputRange.max">
                <span class="range-suffix" @click="incrementIncome">€€€</span>
            </div>
            <div class="form-group">
                <label for="occupation-{% endraw %}{{ id }}{% raw %}">
                    Occupation
                </label>
                <select class="select" id="occupation-{% endraw %}{{ id }}{% raw %}" v-model="occupation">
                    <optgroup label="Employee">
                        <option value="employee">Employee</option>
                        <option value="azubi">Apprentice (Azubi)</option>
                    </optgroup>
                    <optgroup label="Student">
                        <option value="studentEmployee">Student, with a job</option>
                        <option value="studentSelfEmployed">Student, self-employed</option>
                        <option value="student">Student, unemployed</option>
                    </optgroup>
                    <optgroup label="Other">
                        <option value="selfEmployed">Self-employed / freelancer</option>
                        <option value="unemployed">Unemployed</option>
                    </optgroup>
                </select>
            </div>
            <div class="form-group">
                <label for="income-{% endraw %}{{ id }}{% raw %}">
                    {{ salaryOrIncome === 'salary' ? 'Salary' : 'Income' }}
                </label>
                <div class="input-group">
                    <input class="income-input"
                        type="number"
                        inputmode="numeric"
                        pattern="[0-9]*"
                        min="0"
                        step="1"
                        id="income-{% endraw %}{{ id }}{% raw %}" v-model.number="income">
                    &nbsp;€
                    <button class="toggle" @click="useMonthlyIncome = !useMonthlyIncome">per {{ useMonthlyIncome ? 'month' : 'year' }}</button>
                </div>
            </div>
            <div class="form-group">
                <label for="age-{% endraw %}{{ id }}{% raw %}">
                    Age
                </label>
                <div class="input-group">
                    <input class="age-input"
                        type="number"
                        inputmode="numeric"
                        pattern="[0-9]*"
                        min="1"
                        step="1"
                        id="age-{% endraw %}{{ id }}{% raw %}"
                        @focus="$event.target.select()"
                        v-model.number="age">
                    <span>years old</span>
                </div>
            </div>
            <div class="form-group">
                <label for="has-children-{% endraw %}{{ id }}{% raw %}">
                    Children
                </label>
                <div class="input-group">
                    <label class="checkbox"><input type="checkbox" v-model="hasChildren" id="has-children-{% endraw %}{{ id }}{% raw %}"> I have children</label>
                </div>
            </div>
            <hr>
            <p>You pay the <strong>{{ tarifName }} tarif</strong>. <span v-html="tarifExplanation"></span></p>
            <hr>
            <div class="collapsible collapsed">
                <div class="header price">
                    Base cost <output><span v-html="eur(result.baseContribution.totalContribution)"></span><small>/month</small></output>
                </div>
                <div class="body"><p v-html="baseContributionExplanation"></p></div>
            </div>
            <div class="collapsible collapsed">
                <div class="header price">
                    Insurer surcharge
                    <output v-if="eur(result.options.cheapest.zusatzbeitrag.totalContribution) === eur(result.options.mostExpensive.zusatzbeitrag.totalContribution)">
                        <span v-html="eur(result.options.mostExpensive.zusatzbeitrag.totalContribution)"></span>
                    </output>
                    <output v-if="eur(result.options.cheapest.zusatzbeitrag.totalContribution) != eur(result.options.mostExpensive.zusatzbeitrag.totalContribution)">
                        <span>
                            <span v-html="eur(result.options.cheapest.zusatzbeitrag.totalContribution, false, false)"></span> to <span v-html="eur(result.options.mostExpensive.zusatzbeitrag.totalContribution)"></span><small>/month</small>
                        </span>
                    </output>
                </div>
                <div class="body"><p v-html="zusatzbeitragExplanation"></p></div>
            </div>
            <div class="collapsible collapsed">
                <div class="header price">
                    Nursing care insurance
                    <output><span v-html="eur(result.pflegeversicherung.totalContribution)"></span><small>/month</small></output>
                </div>
                <div class="body"><p v-html="pflegeversicherungExplanation"></p></div>
            </div>
            <div class="collapsible collapsed">
                <div class="header price">
                    Your employer pays
                    <output v-if="maxTotal.employerContribution === 0" v-html="eur(0)"></output>
                    <output v-if="maxTotal.employerContribution > 0 && eur(minTotal.employerContribution) === eur(maxTotal.employerContribution)">
                        <span v-html="eur(maxTotal.employerContribution)"></span><small>/month</small>
                    </output>
                    <output v-if="maxTotal.employerContribution > 0 && eur(minTotal.employerContribution) != eur(maxTotal.employerContribution)">
                        <span>
                            <span v-html="eur(minTotal.employerContribution, false, false)"></span> to <span v-html="eur(maxTotal.employerContribution)"></span><small>/month</small>
                        </span>
                    </output>
                </div>
                <div class="body"><p v-html="employerContributionExplanation"></p></div>
            </div>
            <div class="collapsible collapsed">
                <div class="header price">
                    <strong>
                        You pay 
                        <span class="no-mobile" v-if="result.flags.has('max-contribution')">the maximum price</span>
                        <span class="no-mobile" v-if="result.flags.has('min-contribution')">the minimum price</span>
                    </strong>
                    <output v-if="maxTotal === 0"><strong v-html="eur(0)"></strong></output>
                    <output v-if="eur(minTotal.personalContribution) === eur(maxTotal.personalContribution) && maxTotal.personalContribution > 0">
                        <strong v-html="eur(maxTotal.personalContribution)"><small>/month</small></strong>
                    </output>
                    <output v-if="eur(minTotal.personalContribution) != eur(maxTotal.personalContribution) && maxTotal.personalContribution > 0">
                        <strong><span v-html="eur(minTotal.personalContribution, false, false)"></span> to <span v-html="eur(maxTotal.personalContribution)"></span><small>/month</small></strong>
                    </output>
                </div>
                <div class="body"><p v-html="totalCostExplanation"></p></div>
            </div>
            <button class="button no-print" @click="showInsuranceOptions">Show insurance options</button>
        </div>
        <div v-show="showOptions">
            <div v-if="result.flags.has('familienversicherung-parents') || result.flags.has('familienversicherung-spouse') || occupation === 'unemployed' || result.flags.has('ehic')">
                <p>In your case, there are ways to get insured for free.</p>
                <div class="health-insurance-options">
                    <div v-if="result.flags.has('familienversicherung-parents') || result.flags.has('familienversicherung-spouse')">
                        {% endraw %}{% include "css/icons/family.svg" %}{% raw %}
                        <div>
                            <h3>Family insurance</h3>
                            <p v-if="result.flags.has('familienversicherung-parents')">If your parents or your spouse have German public health insurance, their insurance can cover you for free.</p>
                            <p v-if="result.flags.has('familienversicherung-spouse') && !result.flags.has('familienversicherung-parents')">If your spouse has German public health insurance, their insurance can cover you for free.</p>
                        </div>
                        <output>Free</output>
                    </div>
                    <div v-if="occupation === 'unemployed'">
                        {% endraw %}{% include "css/icons/bank.svg" %}{% raw %}
                        <div>
                            <h3>ALG I or II</h3>
                            <p>If you get <a href="https://allaboutberlin.com/glossary/ALG+I" target="_blank">ALG I</a> or <a target="_blank" href="https://allaboutberlin.com/glossary/ALG+II">ALG II</a>, you don't pay for health insurance. The Jobcenter pays for it.</p>
                        </div>
                        <output>Free</output>
                    </div>
                    <div v-if="result.flags.has('ehic')">
                        {% endraw %}{% include "css/icons/passport.svg" %}{% raw %}
                        <div>
                            <h3>European Health Insurance Card</h3>
                            <p>If you have a EHIC from another country, you might not need German health insurance.</p>
                        </div>
                        <output>Free</output>
                    </div>
                </div>
            </div>
            <p>You can get <strong>public health insurance</strong>. There are over 100 public health insurers in Germany. TK, AOK and Barmer are the biggest ones.</p>
            <div class="health-insurance-options">
                <div>
                    <img title="Techniker Krankenkasse" loading="lazy" alt="Techniker Krankenkasse logo" src="/staticimages/health-insurance-calculator/logo-tk.svg" width="954" height="954"/>
                    <div>
                        <h3>Techniker Krankenkasse</h3>
                        <p>The largest health insurer in Germany. They have English-speaking support.</p>
                    </div>
                    <a target="_blank" v-if="result.tarif !== 'student'" title="Sign up with Techniker Krankenkasse" role="button" class="button" href="https://allaboutberlin.com/out/tk-calc"><output v-html="eur(result.options.tk.total.personalContribution, false, true, false)"></output> <small>/ month</small></a>
                    <a target="_blank" v-if="result.tarif === 'student'" title="Sign up with Techniker Krankenkasse" role="button" class="button" href="https://allaboutberlin.com/out/tk-calc-students"><output v-html="eur(result.options.tk.total.personalContribution, false, true, false)"></output> <small>/ month</small></a>
                </div>
                <div>
                    <img title="BARMER" loading="lazy" alt="BARMER logo" src="/staticimages/health-insurance-calculator/logo-barmer.svg" width="312" height="71"/>
                    <div>
                        <h3>Barmer</h3>
                        <p>The second largest public health insurer. They have an English-speaking Expat Hub.</p>
                    </div>
                    <a target="_blank" title="Sign up with BARMER" role="button" class="button" href="https://allaboutberlin.com/out/barmer-calc"><output v-html="eur(result.options.barmer.total.personalContribution, false, true, false)"></output> <small>/ month</small></a>
                </div>
                <div>
                    <img title="AOK Nordost" loading="lazy" alt="AOK logo" src="/staticimages/health-insurance-calculator/logo-aok.svg" width="1024" height="505"/>
                    <div>
                        <h3>AOK (Nordost)</h3>
                        <p>Another large public health insurer. There are different AOK branches for each part of Germany.</p>
                    </div>
                    <a target="_blank" title="Sign up with AOK" role="button" class="button" href="https://allaboutberlin.com/out/aok-calc"><output v-html="eur(result.options.aok.total.personalContribution, false, true, false)"></output> <small>/ month</small></a>
                </div>
            </div>
            <p v-if="result.flags.has('private')">In your case, you can also get <strong>private health insurance</strong>. It might be better and cheaper for you.</p>
            <div class="health-insurance-options" v-if="result.flags.has('private')">
                <div>
                    {% endraw %}{% include "css/icons/help.svg" %}{% raw %}
                    <div>
                        <h3>Talk to a broker</h3>
                        <p>A <a target="_blank" href="https://allaboutberlin.com/guides/german-health-insurance#insurance-brokers">health insurance broker</a> can help you choose the best insurance for your situation. It's the best way to get private health insurance. Their help is free.</p>
                    </div>
                    <a class="button" target="_blank" href="https://allaboutberlin.com/guides/german-health-insurance#insurance-brokers">Talk to a broker</a>
                </div>
                <div>
                    <img title="Tarifcheck" loading="lazy" alt="Tarifcheck logo" src="/staticimages/health-insurance-calculator/logo-tarifcheck.svg" width="220" height="38"/>
                    <div>
                        <h3>Tarifcheck</h3>
                        <p>Tarifcheck compares private health insurance prices. It only shows you prices. It does not help you choose health insurance. It's better if you talk to a broker.</p>
                    </div>
                    <a class="button" target="_blank" href="https://allaboutberlin.com/out/tarifcheck-calc">Compare prices</a>
                </div>
                <div>
                    <img title="Feather Insurance" loading="lazy" alt="Feather logo" src="/staticimages/health-insurance-calculator/logo-feather.svg" width="136" height="34"/>
                    <div>
                        <h3>Feather</h3>
                        <p>Feather is a health insurance broker. They speak English, and they have a lot of experience with expats. Their help is free.</p>
                    </div>
                    <a class="button secondary" target="_blank" href="https://allaboutberlin.com/out/feather-calc">Get a quote</a>
                </div>
                <div>
                    <img title="Ottonova" loading="lazy" alt="Ottonova logo" src="/staticimages/health-insurance-calculator/logo-ottonova.svg" width="75" height="75"/>
                    <div>
                        <h3>Ottonova</h3>
                        <p>Ottonova is a private health insurer. They are popular with expats because they speak English.</p>
                    </div>
                    <a class="button secondary" target="_blank" href="https://allaboutberlin.com/out/ottonova-calc">Visit website</a>
                </div>
                <div v-if="result.flags.has('ksk')">
                    {% endraw %}{% include "css/icons/liability.svg" %}{% raw %}
                    <div>
                        <h3>Künstlersozialkasse (KSK)</h3>
                        <p>If you are a freelance artist or publicist, you can join the KSK. The KSK pays half of your health insurance.</p>
                    </div>
                    <a class="button secondary" target="_blank" href="https://allaboutberlin.com/guides/ksk-kuenstlersozialkasse">More info</a>
                </div>
            </div>
            <button class="button" @click="hideInsuranceOptions">Back to calculator</button>
        </div>
    </div>
</aside>
{% endraw %}
{% include '/js/utils.js' %}
{% include '/js/constants.js' %}
{% include '/js/health-insurance-calculator.js' %}
{% include '/js/vue.js' %}
{% js %}
  document.querySelectorAll('.health-insurance-calculator').forEach(
    el => new Vue({
      el: el,
      data: function() {
        return {
          occupation: 'employee',
          hasChildren: getDefaultNumber('childrenCount') > 0,
          income: getDefaultBoolean('useMonthlyIncome') ? Math.round(getDefaultNumber('yearlyIncome')/12) : getDefaultNumber('yearlyIncome'),
          age: getDefaultNumber('age'),
          showOptions: false,
          hasShownOptions: false,
          useMonthlyIncome: getDefaultBoolean('useMonthlyIncome'),
        }
      },
      computed: {
        result: function() {
          setDefaultNumber('yearlyIncome', this.monthlyIncome * 12);
          setDefaultNumber('age', this.age);
          if(this.hasChildren && getDefaultNumber('childrenCount') === 0) {
            setDefaultNumber('childrenCount', 1);
          }
          else if(!this.hasChildren && getDefaultNumber('childrenCount') > 0) {
            setDefaultNumber('childrenCount', 0);
          }

          return calculateHealthInsuranceContributions({
            age: +this.age,
            monthlyIncome: +this.monthlyIncome,
            occupation: this.occupation,
            hasChildren: this.hasChildren,
          });
        },
        salaryOrIncome() { return occupations.isEmployed(this.occupation) ? 'salary' : 'income' },
        incomeInputRange() {
          return {
            min: this.useMonthlyIncome ? 250 : 5000,
            max: this.useMonthlyIncome ? Math.ceil(healthInsurance.minFreiwilligMonthlyIncome/250)*250 : Math.ceil(healthInsurance.minFreiwilligMonthlyIncome*12/1000)*1000,
            step: this.useMonthlyIncome ? 250 : 1000,
          };
        },
        monthlyIncome: function() {
          return this.useMonthlyIncome ? this.income : Math.round(this.income/12);
        },
        yearlyIncome: function() {
          return this.useMonthlyIncome ? this.income * 12 : this.income;
        },
        minTotal: function() {
          return this.result.options.cheapest.total;
        },
        maxTotal: function() {
          return this.result.options.mostExpensive.total;
        },
        baseContributionPercentage: function() {
          return (this.result.baseContribution.totalRate * 100).toFixed(1);
        },
        tarifName: function() {
          return {
            employee: 'employee',
            midijob: 'midijob',
            selfEmployed: 'self-employed',
            selfPay: this.result.flags.has('minijob') ? 'minijob' : 'self-pay (freiwillig Versichert)',
            student: 'student',
            azubi: 'apprentice',
          }[this.result.tarif];
        },
        tarifExplanation: function() {
          let explanation = '';
          if(this.result.tarif === 'student') {
            explanation = "Your health insurance has a fixed price.";
          }
          else if(this.result.tarif === 'midijob') {
            explanation = "It's cheaper than the regular tarif.";
          }
          else if(this.result.tarif === 'selfPay') {
            if(this.result.flags.has('minijob')) {
              explanation = `When you have a <a target="_blank" href="https://allaboutberlin.com/glossary/Minijob">minijob</a>, you pay the <a href="https://allaboutberlin.com/glossary/Mindestbeitrag" target="_blank">minimum price</a>. You don't get help from your employer.`;
            }
            else {
              explanation = 'Your health insurance costs a percentage of your income.';
              if(this.occupation === 'unemployed') {
                explanation += ' If you get <a target="_blank" href="https://allaboutberlin.com/glossary/ALG+I">ALG I</a> or <a target="_blank" href="https://allaboutberlin.com/glossary/ALG+II">ALG II</a>, the Jobcenter pays for your insurance.';
              }
              else {
                explanation += ' Your employer does not pay half of it.';
              }
            }
          }
          else if(this.result.tarif === 'selfEmployed') {
            explanation = `Your health insurance costs a percentage of your income.`;
          }
          else if(this.result.flags.has('azubi-free')){
            explanation = `You make less than ${this.eur(healthInsurance.azubiFreibetrag)} per month, so you don't pay for health insurance. Your employer pays for it.`;
          }
          else{
            explanation =`Your health insurance costs a percentage of your income. Your employer pays half of it.`
          }

          if(this.result.flags.has('student-over30')){
            explanation += " You don't pay the student tarif because you are too old.";
          }
          else if(this.result.flags.has('not-nebenjob')){
            explanation += " You don't pay the student tarif because your income is too high.";
          }
          return explanation;
        },
        baseContributionExplanation: function() {
          let explanation = '';
          if(this.result.flags.has('minijob')){
            explanation = `You have a minijob, so you pay the <a href="https://allaboutberlin.com/glossary/Mindestbeitrag" target="_blank">minimum price</a>. It's ${this.baseContributionPercentage}% of ${this.eur(healthInsurance.minMonthlyIncome, true)}.`
          }
          else if(this.result.flags.has('min-contribution')) {
            explanation = `You make less than ${this.eur(healthInsurance.minMonthlyIncome, true)} per month, so you pay the <a href="https://allaboutberlin.com/glossary/Mindestbeitrag" target="_blank">minimum price</a>. It's ${this.baseContributionPercentage}% of ${this.eur(healthInsurance.minMonthlyIncome, true)}.`
          }
          else if(this.result.flags.has('max-contribution')) {
            explanation = `You make more than ${this.eur(healthInsurance.maxMonthlyIncome, true)} per month, so you pay the <a href="https://allaboutberlin.com/glossary/H%C3%B6chstbeitrag" target="_blank">maximum price</a>. It's ${this.baseContributionPercentage}% of ${this.eur(healthInsurance.maxMonthlyIncome, true)}.`
          }
          else if(this.result.flags.has('midijob')) {
            explanation = `You make less than ${this.eur(healthInsurance.maxMidijobIncome)}, so you pay the midijob tarif. It's cheaper than the normal tarif.`
          }
          else if(this.result.tarif === 'student'){
            explanation = `When you pay the student tarif, the base cost is a fixed price.`;
          }
          else{
            explanation = `The base cost is ${this.baseContributionPercentage}% of your income.`;
          }
          return explanation + " It's the same with every public health insurer.";
        },
        zusatzbeitragExplanation: function() {
          return `Health insurers can charge a little more than the base cost. The surcharge (<em>Zusatzbeitrag</em>) is usually around ${formatPercent(healthInsurance.avgZusatzbeitrag * 100)} of your income.`;
        },
        pflegeversicherungExplanation: function() {
          let explanation = '';
          if(this.age > pflegeversicherung.defaultTarifMaxAge && !this.hasChildren){
            explanation = `Nursing care insurance (<em>Pflegeversicherung</em>) costs ${(pflegeversicherung.surchargeTarif*100).toFixed(1)}% of your income, because you are over ${ pflegeversicherung.defaultTarifMaxAge } years old and you don't have children.`;

            if(this.result.flags.has('max-contribution')) {
              explanation += ` You make over ${this.eur(healthInsurance.maxMonthlyIncome, true)} per month, so you pay the <a href="https://allaboutberlin.com/glossary/H%C3%B6chstbeitrag" target="_blank">maximum price</a>.`
            }
          }
          else {
            explanation = `Nursing care insurance (<em>Pflegeversicherung</em>) costs ${(pflegeversicherung.defaultTarif*100).toFixed(2)}% of your income.`;

            if(this.result.flags.has('max-contribution')) {
              explanation += ` You make over ${this.eur(healthInsurance.maxMonthlyIncome, true)} per month, so you pay the <a href="https://allaboutberlin.com/glossary/H%C3%B6chstbeitrag" target="_blank">maximum price</a>.`
            }
          }

          return explanation + " It's the same with every public health insurer.";
        },
        employerContributionExplanation: function() {
          if(this.result.tarif === 'selfEmployed') {
            return "When you are self-employed, you don't get help from your employer. You pay the full price yourself.";
          }
          else if(this.result.flags.has('azubi-free')){
            return `Your employer pays for your health insurance, because you make less than ${this.curr(healthInsurance.azubiFreibetrag)} per month.`;
          }
          else if(this.result.flags.has('minijob')){
            return "When you have a minijob, your employer does not pay for your health insurance.";
          }
          return "When you are an employee, your employer pays half of your health insurance.";
        },
        totalCostExplanation: function() {
          let explanation = "This is how much you pay every month for your public health insurance.";
          if(this.result.flags.has('max-contribution')){
            explanation += ` You make more than ${this.eur(healthInsurance.maxMonthlyIncome, true)} per month, so you pay the <a href="https://allaboutberlin.com/glossary/H%C3%B6chstbeitrag" target="_blank">maximum price</a>.`;
          }
          else if(this.result.flags.has('min-contribution')){
            explanation += ` You pay the <a href="https://allaboutberlin.com/glossary/Mindestbeitrag" target="_blank">minimum price</a>, because you make less than ${this.eur(healthInsurance.minMonthlyIncome, true)} per month.`;
          }
          else if(this.result.flags.has('azubi-free')){
            explanation += ` You pay nothing, because you make less than ${this.eur(healthInsurance.azubiFreibetrag)} per month. Your employer pays for your insurance.`;
          }
          return explanation;
        },
      },
      methods: {
        eur: function(num, includeCents=false, includeSymbol=true, asHtml=true) {
          return formatCurrency(num, includeCents, includeSymbol ? '€' : null, asHtml);
        },
        incrementIncome() { this.income = Math.min(this.income + this.incomeInputRange.step, this.incomeInputRange.max) },
        decrementIncome() { this.income = Math.max(this.income - this.incomeInputRange.step, this.incomeInputRange.min) },
        showInsuranceOptions() {
          if(!this.hasShownOptions) {
            plausible('Health insurance calculator', { props: { stage: 'options' }});
          }
          this.showOptions = true;
          this.hasShownOptions = true;
          Vue.nextTick(() => {
            scrollIntoViewIfNeeded(this.$refs.collapsible);
          });
        },
        hideInsuranceOptions: function() {
          this.showOptions = false;
          Vue.nextTick(() => {
            scrollIntoViewIfNeeded(this.$refs.collapsible);
          });
        },
      },
      watch: {
        useMonthlyIncome() {
          setDefaultBoolean('useMonthlyIncome', this.useMonthlyIncome);
          if(this.useMonthlyIncome) {
            this.income = Math.round(this.income/12);
          }
          else {
            this.income *= 12;
          }
        },
        yearlyIncome() {
          setDefaultNumber('yearlyIncome', this.yearlyIncome);
        },
      }
    })
  );
{% endjs %}
