{% set id = random_id() %}
<details class="health-insurance-calculator collapsible" ref="collapsible" {% if static|default %}open{% endif %} v-cloak>
    <summary {% if static|default %}hidden{% endif %}>
        Health insurance calculator
    </summary>
{% raw %}
    <template v-if="stage === 'start'">
        <div class="range-input">
            <label for="range-income-{% endraw %}{{ id }}{% raw %}">
                <strong><eur :amount="income"></eur></strong>/{{ useMonthlyIncome ? 'month' : 'year' }}
                <template v-if="income <= incomeInputRange.min">or less</template>
                <template v-if="income >= incomeInputRange.max">or more</template>
                <template v-if="income > incomeInputRange.min && income < incomeInputRange.max">{{ salaryOrIncome }}</template>
            </label>
            <span class="no-print range-prefix" @click="decrementIncome">€</span>
            <input
                class="no-print"
                id="range-income-{% endraw %}{{ id }}{% raw %}"
                v-model.number="income"
                type="range"
                :step="incomeInputRange.step"
                :min="incomeInputRange.min"
                :max="incomeInputRange.max">
            <span class="no-print range-suffix" @click="incrementIncome">€€€</span>
        </div>
        <div class="form-group">
            <label for="occupation-{% endraw %}{{ id }}{% raw %}">
                Occupation
            </label>
            <select class="select" id="occupation-{% endraw %}{{ id }}{% raw %}" v-model="occupation">
                <optgroup label="Employee">
                    <option value="employee">Employee</option>
                    <option value="azubi">Apprentice (Azubi)</option>
                </optgroup>
                <optgroup label="Student">
                    <option value="studentEmployee">Student, with a job</option>
                    <option value="studentSelfEmployed">Student, self-employed</option>
                    <option value="student">Student, unemployed</option>
                </optgroup>
                <optgroup label="Other">
                    <option value="selfEmployed">Self-employed / freelancer</option>
                    <option value="unemployed">Unemployed</option>
                </optgroup>
            </select>
        </div>
        <div class="form-group">
            <label for="income-{% endraw %}{{ id }}{% raw %}">
                {{ salaryOrIncome === 'salary' ? 'Salary' : 'Income' }}
            </label>
            <div class="input-group">
                <input class="income-input"
                    type="number"
                    inputmode="numeric"
                    pattern="[0-9]*"
                    min="0"
                    step="1"
                    id="income-{% endraw %}{{ id }}{% raw %}" v-model.number="income">
                €
                <button class="toggle" @click="useMonthlyIncome = !useMonthlyIncome">per {{ useMonthlyIncome ? 'month' : 'year' }}</button>
            </div>
        </div>
        <div class="form-group">
            <label for="age-{% endraw %}{{ id }}{% raw %}">
                Age
            </label>
            <label class="input-group">
                <input class="age-input"
                    type="number"
                    inputmode="numeric"
                    pattern="[0-9]*"
                    min="1"
                    step="1"
                    id="age-{% endraw %}{{ id }}{% raw %}"
                    @focus="$event.target.select()"
                    v-model.number="age">
                years old
            </label>
        </div>
        <div class="form-group">
            <label for="has-children-{% endraw %}{{ id }}{% raw %}">
                Children
            </label>
            <div class="input-group">
                <label class="checkbox"><input type="checkbox" v-model="hasChildren" id="has-children-{% endraw %}{{ id }}{% raw %}"> I have children</label>
            </div>
        </div>
        <hr>
        <p>
            You pay the <strong>{{ tarifName }} tarif</strong>.
            <template v-if="result.tarif === 'student'">
                Your health insurance has a fixed price.
            </template>
            <template v-else-if="result.tarif === 'midijob'">
                It's cheaper than the regular tarif.
            </template>
            <template v-else-if="result.tarif === 'selfPay'">
                <template v-if="result.flags.has('minijob')">
                    When you have a <glossary>Minijob</glossary>, you pay the <glossary term="Mindestbeitrag">minimum price</glossary>. You don't get help from your employer.
                </template>
                <template v-else>
                    Your health insurance costs a percentage of your income.
                    <template v-if="occupation === 'unemployed'">
                        If you get <glossary>ALG I</glossary> or <glossary>Bürgergeld</glossary>, the Jobcenter pays for your insurance.
                    </template>
                    <template v-else>
                        Your employer does not pay half of it.
                    </template>
                </template>
            </template>
            <template v-else-if="result.tarif === 'selfEmployed'">
                Your health insurance costs a percentage of your income.
            </template>
            <template v-else-if="result.flags.has('azubi-free')">
                You make less than <eur :amount="healthInsurance.azubiFreibetrag"></eur> per month, so you don't pay for health insurance. Your employer pays for it.
            </template>
            <template v-else>
                Your health insurance costs a percentage of your income. Your employer pays half of it.
            </template>

            <template v-if="result.flags.has('student-over30')">
                You don't pay the student tarif because you are too old.
            </template>
            <template v-else-if="result.flags.has('not-nebenjob')">
                You don't pay the student tarif because your income is too high.
            </template>
        </p>
        <hr>
        <details>
            <summary class="price">
                Base cost
                <output>
                    <eur :amount="result.baseContribution.totalContribution"></eur><small class="no-mobile">/month</small>
                </output>
            </summary>
            <p>
                The base cost is the same with every <glossary term="Krankenkasse">public health insurer</glossary>.
                <template v-if="result.flags.has('minijob')">
                    You have a minijob, so you pay the <glossary term="Mindestbeitrag">minimum price</glossary>. It's {{ baseContributionPercentage }}% of <eur :amount="healthInsurance.minMonthlyIncome" cents></eur> }}.
                </template>
                <template v-else-if="result.flags.has('min-contribution')">
                    You make less than <eur :amount="healthInsurance.minMonthlyIncome" cents></eur> per month, so you pay the <glossary term="Mindestbeitrag">minimum price</glossary>. It's {{ baseContributionPercentage }}% of <eur :amount="healthInsurance.minMonthlyIncome" cents></eur>.
                </template>
                <template v-else-if="result.flags.has('max-contribution')">
                    You make more than <eur :amount="healthInsurance.maxMonthlyIncome" cents></eur> per month, so you pay the <glossary term="Höchstbeitrag">maximum price</glossary>. It's {{ baseContributionPercentage}}% of <eur :amount="healthInsurance.maxMonthlyIncome" cents></eur>.
                </template>
                <template v-else-if="result.flags.has('midijob')">
                    You make less than <eur :amount="healthInsurance.maxMidijobIncome" cents></eur>, so you pay the midijob tarif. It's cheaper than the normal tarif.
                </template>
                <template v-else-if="result.tarif === 'student'">
                    You pay the student tarif; the base cost is a fixed price.
                </template>
                <template v-else>
                    The base cost is {{ baseContributionPercentage }}% of your income.
                </template>
            </p>
        </details>
        <details>
            <summary class="price">
                Insurer surcharge
                <output
                    v-if="eur(result.options.cheapest.zusatzbeitrag.totalContribution) === eur(result.options.mostExpensive.zusatzbeitrag.totalContribution)">
                    <eur :amount="result.options.mostExpensive.zusatzbeitrag.totalContribution"></eur>
                </output>
                <output v-else>
                    <eur :amount="result.options.cheapest.zusatzbeitrag.totalContribution" no-symbol></eur>
                    &nbsp;to&nbsp;
                    <eur :amount="result.options.mostExpensive.zusatzbeitrag.totalContribution"></eur><small class="no-mobile">/month</small>
                </output>
            </summary>
            <p>
                Health insurers can charge a little more than the base cost. The surcharge (<em><glossary>Zusatzbeitrag</glossary></em>) is usually around {{ formatPercent(healthInsurance.avgZusatzbeitrag * 100) }} of your income.
            </p>
        </details>
        <details>
            <summary class="price">
                Nursing care insurance
                <output>
                    <eur :amount="result.pflegeversicherung.totalContribution"></eur><small class="no-mobile">/month</small>
                </output>
            </summary>
            <p>
                Nursing care insurance (<em><glossary>Pflegeversicherung</glossary></em>) costs the same with every <glossary term="Krankenkasse">public health insurer</glossary>.
                <template v-if="result.flags.has('max-contribution')">
                    You make over <eur :amount="healthInsurance.maxMonthlyIncome" cents></eur> per month, so you pay the <glossary term="Höchstbeitrag">maximum price</glossary>.
                </template>
                <template v-else-if="age > pflegeversicherung.defaultTarifMaxAge && !hasChildren">
                    It costs {{ (pflegeversicherung.surchargeTarif*100).toFixed(1) }}% of your income, because you are over {{ pflegeversicherung.defaultTarifMaxAge }} years old and you don't have children.
                </template>
                <template v-else>
                    It costs {{ (pflegeversicherung.defaultTarif*100).toFixed(2) }}% of your income.
                </template>
            </p>
        </details>
        <details>
            <summary class="price">
                Your employer pays
                <output v-if="maxTotal.employerContribution === 0">
                    <eur amount="0"></eur>
                </output>
                <template v-else>
                    <output v-if="eur(minTotal.employerContribution) === eur(maxTotal.employerContribution)">
                        <eur :amount="maxTotal.employerContribution"></eur><small class="no-mobile">/month</small>
                    </output>
                    <output v-else>
                        <eur :amount="minTotal.employerContribution" no-symbol></eur>
                        &nbsp;to&nbsp;
                        <eur :amount="maxTotal.employerContribution"></eur><small class="no-mobile">/month</small>
                    </output>
                </template>
            </summary>
            <p v-if="result.tarif === 'selfEmployed'">
                When you are self-employed, you don't get help from your employer. You pay the full price yourself.
            </p>
            <p v-else-if="result.flags.has('azubi-free')">
                Your employer pays for your health insurance, because you make less than <eur :amount="healthInsurance.azubiFreibetrag"></eur> per month.
            </p>
            <p v-else-if="result.flags.has('minijob')">
                When you have a minijob, your employer does not pay for your health insurance.
            </p>
            <p v-else>
                When you are an employee, your employer pays half of your health insurance.
            </p>
        </details>
        <details>
            <summary class="price highlighted">
                You pay 
                <template class="no-mobile" v-if="result.flags.has('max-contribution')">the maximum price</template>
                <template class="no-mobile" v-if="result.flags.has('min-contribution')">the minimum price</template>
                <output v-if="maxTotal === 0">
                    <eur amount="0"></eur>
                </output>
                <output v-if="eur(minTotal.personalContribution) === eur(maxTotal.personalContribution) && maxTotal.personalContribution > 0">
                    <eur :amount="maxTotal.personalContribution"></eur><small class="no-mobile">/month</small>
                </output>
                <output v-if="eur(minTotal.personalContribution) != eur(maxTotal.personalContribution) && maxTotal.personalContribution > 0">
                    <eur :amount="minTotal.personalContribution" no-symbol></eur>
                    &nbsp;to&nbsp;
                    <eur :amount="maxTotal.personalContribution"></eur><small class="no-mobile">/month</small>
                </output>
            </summary>
            <p>
                This is how much you pay every month for public health insurance.
                <template v-if="result.flags.has('max-contribution')">
                    You make more than <eur :amount="healthInsurance.maxMonthlyIncome" cents></eur> per month, so you pay the <glossary term="Höchstbeitrag">maximum price</glossary>.
                </template>
                <template v-else-if="result.flags.has('min-contribution')">
                    You pay the <glossary term="Mindestbeitrag">minimum price</glossary>, because you make less than <eur :amount="healthInsurance.minMonthlyIncome" cents></eur> per month.
                </template>
                <template v-else-if="result.flags.has('azubi-free')">
                    You pay nothing, because you make less than <eur :amount="healthInsurance.azubiFreibetrag"></eur> per month. Your employer pays for your insurance.
                </template>
            </p>
        </details>
        <div class="buttons">
            <button class="button primary no-print" @click="showInsuranceOptions">Show insurance options <i class="icon right"></i></button>
        </div>
    </template>
    <template v-if="stage === 'insuranceOptions'">
        <template v-if="result.flags.has('familienversicherung-parents') || result.flags.has('familienversicherung-spouse') || occupation === 'unemployed' || result.flags.has('ehic')">
            <h3>Free health insurance</h3>
            <p>In your case, there are ways to get insured for free.</p>
            <ul class="health-insurance-options">
                <li v-if="result.flags.has('familienversicherung-parents') || result.flags.has('familienversicherung-spouse')">
                    {% endraw %}{% include "_css/icons/family.svg" %}{% raw %}
                    <div>
                        <h3>Family insurance</h3>
                        <p v-if="result.flags.has('familienversicherung-parents')">If your parents or your spouse have German public health insurance, their insurance can cover you for free.</p>
                        <p v-if="result.flags.has('familienversicherung-spouse') && !result.flags.has('familienversicherung-parents')">If your spouse has German public health insurance, their insurance can cover you for free.</p>
                    </div>
                    <output>Free</output>
                </li>
                <li v-if="occupation === 'unemployed'">
                    {% endraw %}{% include "_css/icons/bank.svg" %}{% raw %}
                    <div>
                        <h3>ALG I or II</h3>
                        <p>If you get <glossary>ALG I</glossary> or <glossary>Bürgergeld</glossary>, you don't pay for health insurance. The Jobcenter pays for it.</p>
                    </div>
                    <output>Free</output>
                </li>
                <li v-if="result.flags.has('ehic')">
                    {% endraw %}{% include "_css/icons/passport.svg" %}{% raw %}
                    <div>
                        <h3>European Health Insurance Card</h3>
                        <p>If you have a EHIC from another country, you might not need German health insurance.</p>
                    </div>
                    <output>Free</output>
                </li>
            </ul>
        </template>
        <h3>Public health insurance</h3>
        <p>You can get <glossary term="gesetzliche Krankenversicherung">public health insurance</glossary>. There are many <glossary term="Krankenkasse">public health insurers</glossary> to choose from. Their price and coverage is almost the same.</p>
        <div class="health-insurance-options">
            <a title="Sign up with Techniker Krankenkasse" :href="result.tarif === 'student' ? '/out/tk-calc-students' : '/out/tk-calc'" target="_blank">
                {% endraw %}{% include "_css/icons/health-insurance/logo-tk.svg" %}{% raw %}
                <div>
                    <h3>Techniker Krankenkasse</h3>
                    <p>The largest health insurer in Germany. They have English-speaking support.</p>
                </div>
                <output>
                    <eur :amount="result.options.tk.total.personalContribution"></eur> <small>per month</small>
                </output>
            </a>
            <a title="Sign up with BARMER" href="/out/barmer-calc" target="_blank">
                {% endraw %}{% include "_css/icons/health-insurance/logo-barmer.svg" %}{% raw %}
                <div>
                    <h3>Barmer</h3>
                    <p>The second largest public health insurer. They have an English-speaking Expat Hub.</p>
                </div>
                <output>
                    <eur :amount="result.options.barmer.total.personalContribution"></eur> <small>per month</small>
                </output>
            </a>
            <a title="Sign up with AOK" href="/out/aok-calc" target="_blank">
                {% endraw %}{% include "_css/icons/health-insurance/logo-aok.svg" %}{% raw %}
                <div>
                    <h3>AOK (Nordost)</h3>
                    <p>Another large public health insurer. There are different AOK branches for each part of Germany.</p>
                </div>
                <output>
                    <eur :amount="result.options.aok.total.personalContribution"></eur> <small>per month</small>
                </output>
            </a>
        </div>
        <template v-if="result.flags.has('private')">
            <h3>Private health insurance</h3>
            <p>You can also get <glossary term="private Krankenversicherung">private health insurance</glossary>. It can be better and cheaper than public health insurance. Don't choose private health insurance without help. You can make expensive mistakes.</p>
            <div class="health-insurance-options">
                <a @click.prevent="showBrokerOptions()" title="Choose a health insurance broker" href="/guides/german-health-insurance#insurance-brokers" target="_blank">
                    {% endraw %}{% include "_css/icons/help.svg" %}{% raw %}
                    <div>
                        <h3>Ask a health insurance broker</h3>
                        <p>They help you choose the right insurance for your situation. Their help is free.</p>
                    </div>
                </a>
                <a title="Learn more about the KSK" v-if="result.flags.has('ksk')" href="/guides/ksk-kuenstlersozialkasse" target="_blank">
                    {% endraw %}{% include "_css/icons/liability.svg" %}{% raw %}
                    <div>
                        <h3>Join the Künstlersozialkasse (KSK)</h3>
                        <p>If you are a freelance artist or publicist, you can join the KSK. The KSK pays half of your health insurance.</p>
                    </div>
                </a>
                <a title="Get a quote from Ottonova" href="/out/ottonova-calc" target="_blank">
                    {% endraw %}{% include "_css/icons/health-insurance/logo-ottonova.svg" %}{% raw %}
                    <div>
                        <h3>Get a quote from Ottonova</h3>
                        <p>Ottonova is a private health insurer. They speak English.</p>
                    </div>
                </a>
            </div>
        </template>
        <div class="buttons left">
            <button class="button" @click="hideInsuranceOptions"><i class="icon left"></i> Back to calculator</button>
        </div>
    </template>
    <template v-if="stage === 'brokerOptions'">
        <h3>Choose a broker</h3>
        <p>A broker can help you choose between hundreds of insurance options. It's the safest way to choose health insurance.</p>
        <div class="health-insurance-options">
            <a title="Get a quote from Feather" href="/out/feather-calc" target="_blank">
                {% endraw %}{% include "_css/icons/health-insurance/logo-feather.svg" %}{% raw %}
                <div>
                    <h3>Feather Insurance</h3>
                    <p>They are fast and fully digital, but they have a smaller choice of insurances. I have health insurance with Feather, and I work with them since 2018.</p>
                </div>
            </a>
            <a title="Get a quote from Muffin" href="/out/muffin-health" target="_blank">
                {% endraw %}{% include "_css/icons/health-insurance/logo-muffin.svg" %}{% raw %}
                <div>
                    <h3>Muffin</h3>
                    <p>A newer insurance broker. They have more choice than Feather. They are fully digital; you can even talk to them on WhatsApp.</p>
                </div>
            </a>
            <a title="Get a quote from Tarifcheck" href="/out/tarifcheck-calc" target="_blank">
                {% endraw %}{% include "_css/icons/health-insurance/logo-tarifcheck.svg" %}{% raw %}
                <div>
                    <h3>Tarifcheck</h3>
                    <p>Enter information about you, and get a call from a broker. You might get a broker that never worked with immigrants.</p>
                </div>
            </a>
        </div>
        <div class="buttons left">
            <button class="button" @click="hideBrokerOptions"><i class="icon left"></i> Back to options</button>
        </div>
    </template>
{% endraw %}
</details>
{% include '/js/utils.js' %}
{% include '/js/constants.js' %}
{% include '/js/health-insurance-calculator.js' %}
{% include '/js/vue.js' %}
{% include '/js/vue/glossary.js' %}
{% include '/js/vue/eur.js' %}
{% js %}
  document.querySelectorAll('.health-insurance-calculator').forEach(
    el => new Vue({
      el: el,
      data: function() {
        return {
          occupation: 'employee',
          hasChildren: getDefaultNumber('childrenCount') > 0,
          income: getDefaultBoolean('useMonthlyIncome') ? Math.round(getDefaultNumber('yearlyIncome')/12) : getDefaultNumber('yearlyIncome'),
          age: getDefaultNumber('age'),
          stage: 'start',
          hasShownInsuranceOptions: false,
          hasShownBrokerOptions: false,
          useMonthlyIncome: getDefaultBoolean('useMonthlyIncome'),
        }
      },
      computed: {
        result: function() {
          setDefaultNumber('yearlyIncome', this.monthlyIncome * 12);
          setDefaultNumber('age', this.age);
          if(this.hasChildren && getDefaultNumber('childrenCount') === 0) {
            setDefaultNumber('childrenCount', 1);
          }
          else if(!this.hasChildren && getDefaultNumber('childrenCount') > 0) {
            setDefaultNumber('childrenCount', 0);
          }

          return calculateHealthInsuranceContributions({
            age: +this.age,
            monthlyIncome: +this.monthlyIncome,
            occupation: this.occupation,
            hasChildren: this.hasChildren,
          });
        },
        salaryOrIncome() { return occupations.isEmployed(this.occupation) ? 'salary' : 'income' },
        incomeInputRange() {
          return {
            min: this.useMonthlyIncome ? 250 : 5000,
            max: this.useMonthlyIncome ? Math.ceil(healthInsurance.minFreiwilligMonthlyIncome/250)*250 : Math.ceil(healthInsurance.minFreiwilligMonthlyIncome*12/1000)*1000,
            step: this.useMonthlyIncome ? 250 : 1000,
          };
        },
        monthlyIncome: function() {
          return this.useMonthlyIncome ? this.income : Math.round(this.income/12);
        },
        yearlyIncome: function() {
          return this.useMonthlyIncome ? this.income * 12 : this.income;
        },
        minTotal: function() {
          return this.result.options.cheapest.total;
        },
        maxTotal: function() {
          return this.result.options.mostExpensive.total;
        },
        baseContributionPercentage: function() {
          return (this.result.baseContribution.totalRate * 100).toFixed(1);
        },
        tarifName: function() {
          return {
            employee: 'employee',
            midijob: 'midijob',
            selfEmployed: 'self-employed',
            selfPay: this.result.flags.has('minijob') ? 'minijob' : 'self-pay (freiwillig Versichert)',
            student: 'student',
            azubi: 'apprentice',
          }[this.result.tarif];
        },
      },
      methods: {
        eur(num) {
          return formatCurrency(num, false, '€', false);
        },
        incrementIncome() { this.income = Math.min(this.income + this.incomeInputRange.step, this.incomeInputRange.max) },
        decrementIncome() { this.income = Math.max(this.income - this.incomeInputRange.step, this.incomeInputRange.min) },
        showInsuranceOptions() {
          this.stage = 'insuranceOptions';
          this.hasShownInsuranceOptions = true;
          Vue.nextTick(() => {
            this.$refs.collapsible.scrollIntoView({ block: 'start', behavior: 'smooth' });
          });

          if(!this.hasShownInsuranceOptions) {
            plausible('Health insurance calculator', { props: { stage: this.stage }});
          }
        },
        hideInsuranceOptions: function() {
          this.stage = 'start';
          Vue.nextTick(() => {
            this.$refs.collapsible.scrollIntoView({ block: 'start', behavior: 'smooth' });
          });
        },
        showBrokerOptions: function() {
          this.stage = 'brokerOptions';
          Vue.nextTick(() => {
            this.$refs.collapsible.scrollIntoView({ block: 'start', behavior: 'smooth' });
          });

          if(!this.hasShownBrokerOptions) {
            plausible('Health insurance calculator', { props: { stage: this.stage }});
          }
        },
        hideBrokerOptions: function() {
          this.stage = 'insuranceOptions';
          Vue.nextTick(() => {
            this.$refs.collapsible.scrollIntoView({ block: 'start', behavior: 'smooth' });
          });
        },
      },
      watch: {
        useMonthlyIncome() {
          setDefaultBoolean('useMonthlyIncome', this.useMonthlyIncome);
          if(this.useMonthlyIncome) {
            this.income = Math.round(this.income/12);
          }
          else {
            this.income *= 12;
          }
        },
        yearlyIncome() {
          setDefaultNumber('yearlyIncome', this.yearlyIncome);
        },
      }
    })
  );
{% endjs %}
