<aside class="health-insurance-question collapsible collapsed" aria-label="Ask a health insurance broker" ref="collapsible">
  {% if not static|default %}
    <div class="header">
      <h2>
        <span class="no-mobile">Ask a health insurance broker</span>
        <span class="no-desktop" aria-hidden="true">Ask a broker</span>
      </h2>
    </div>
  {% endif %}
  {% raw %}
    <div class="body form">
      {% endraw %}{% include "blocks/_formHoneypot.html" %}{% raw %}
      <div v-if="stage === 'contactInfo'">
        <p>Daniel is an independent health insurance broker. He answers your questions in one business day, for free.</p>
        <hr>
        <div class="form-group">
          <span class="label">Your occupation</span>
          <select v-model="occupation">
            <option value="employee">Employee</option>
            <option value="selfEmployed">Self-employed</option>
            <option value="student">Student</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div v-if="occupation !== 'student'">
          <div class="form-group">
            <span class="label"></span>
            <div class="input-group">
              <label class="checkbox">
                <input type="checkbox"> I earn more than {% endraw %}{{ GKV_FREIWILLIG_VERSICHERT_MIN_INCOME | currency }}{% raw %}€ per year
              </label>
            </div>
          </div>
          <hr>
          <div class="form-group">
            <label for="question-{% endraw %}{{ id }}{% raw %}">Your question</label>
            <div class="input-group">
              <textarea v-model="question" id="question-{% endraw %}{{ id }}{% raw %}" class="required" required placeholder=" "></textarea>
              <span class="input-symbols"></span>
            </div>
          </div>
          <hr>
          <div class="form-group">
            <label for="name-{% endraw %}{{ id }}{% raw %}">
              Name
            </label>
            <div class="input-group">
              <input v-model="fullName" type="text" id="name-{% endraw %}{{ id }}{% raw %}" class="required" required autocomplete="name">
              <span class="input-symbols"></span>
            </div>
          </div>
          <div class="form-group">
            <label for="email-{% endraw %}{{ id }}{% raw %}">
              Email
            </label>
            <div class="input-group">
              <input v-model="emailAddress" type="email" id="email-{% endraw %}{{ id }}{% raw %}" class="required" required autocomplete="email">
              <span class="input-symbols"></span>
            </div>
          </div>
          <div class="form-group">
            <label for="phone-{% endraw %}{{ id }}{% raw %}">
              Phone number
            </label>
            <div class="input-group">
              <input v-model="phoneNumber" type="tel" id="phone-{% endraw %}{{ id }}{% raw %}" class="required" required placeholder="+49..." autocomplete="tel">
              <span class="input-symbols"></span>
            </div>
          </div>
          <hr>
          <div class="form-group">
            <label for="date-of-birth-{% endraw %}{{ id }}{% raw %}-day">
              Date of birth
            </label>
            <div class="input-group">
              <date-picker v-model="dateOfBirth" id="date-of-birth-{% endraw %}{{ id }}{% raw %}" required></date-picker>
              <span class="input-symbols"></span>
              <span class="input-instructions">Your age affects your health insurance options.</span>
            </div>
          </div>
          <button v-if="occupation !== 'student'" class="button submit no-print" @click="submitForm">Ask Daniel</button>
        </div>
        <div v-if="occupation === 'student'">
          <hr>
          <p>
            Health insurance brokers rarely help students, but <a href="https://allaboutberlin.com/out/popsure-students">Feather</a> does. They can get you covered quickly, and they speak English.</p>
          <p>
            Use my <a target="_blank" href="https://allaboutberlin.com/tools/health-insurance-calculator">health insurance calculator</a> to see your options.
          </p>
          <p class="buttons">
            <a class="button" target="_blank" href="https://allaboutberlin.com/out/popsure-students">Ask Feather</a>
            <a class="button secondary" target="_blank" href="https://allaboutberlin.com/tools/health-insurance-calculator">Use the calculator</a>
          </p>
        </div>
      </div>
      <div v-if="stage === 'thank-you'">
        <p><strong>Message sent!</strong> Daniel will contact you today or during the next business day. Expect a call or an email from "B-Protected".</p>
      </div>
    </div>
  {% endraw %}
</aside>
{% include '/js/utils.js' %}
{% include '/js/vue.js' %}
{% include '/js/date-picker.js' %}
{% js %}
  document.querySelectorAll('.health-insurance-question').forEach(
    el => new Vue({
      el: el,
      data: function() {
        return {
          dateOfBirth: '',
          emailAddress: '',
          fullName: '',
          incomeOverLimit: false,
          occupation: 'employee',
          phoneNumber: '',
          question: '',
          stage: 'contactInfo',
        };
      },
      methods: {
        setStage(stage) {
          this.stage = stage;
          Vue.nextTick(() => scrollIntoViewIfNeeded(this.$refs.collapsible));
          plausible('Health insurance question', { props: { stage: this.stage }});
        },
        submitForm() {
          if(validateForm(this.$refs.collapsible)) {
            fetch(
              '/api/forms/health-insurance-question',
              {
                method: 'POST',
                headers: {'Content-Type': 'application/json; charset=utf-8',},
                body: JSON.stringify({
                  name: this.fullName,
                  email: this.emailAddress,
                  phone: this.phoneNumber,
                  income: this.incomeOverLimit ? 'Over {{ GKV_FREIWILLIG_VERSICHERT_MIN_INCOME | currency }}€/year' : 'Under {{ GKV_FREIWILLIG_VERSICHERT_MIN_INCOME | currency }}€/year',
                  occupation: this.occupation,
                  dateOfBirth: this.dateOfBirth,
                  question: this.question,
                }),
              }
            ).then(() => {
              fetch(
              '/api/reminders/health-insurance-question-reminder',
                {
                  method: 'POST',
                  headers: {'Content-Type': 'application/json; charset=utf-8',},
                  body: JSON.stringify({
                    name: this.fullName,
                    email: this.emailAddress,
                  }),
                }
              );
            });
            this.setStage('thank-you');
          }
        },
      },
    })
  );
{% endjs %}