{% set id = random_id() %}
<details class="pension-refund-question collapsible" aria-label="Ask a question about pension refunds" ref="collapsible" {% if static|default %}open{% endif %} v-cloak>
  <summary {% if static|default %}hidden{% endif %}>
    <span class="only-mobile" aria-hidden="true">Ask a question</span>
    <span class="no-mobile">Ask a question about pension refunds</span>
  </summary>
  {% include "blocks/_formHoneypot.html" %}
  <template v-if="stage === 'contactInfo'">
    <p>Chris helps people get their pension refund. You can ask him questions. He will answer in 1 to 3 business days. This is a free service.</p>
    <hr>
    <div class="form-group">
      <label for="question-{{ id }}">Your question</label>
      <div class="input-group">
        <textarea v-model="question" id="question-{{ id }}" class="required" required placeholder=" "></textarea>
        <span class="input-symbols"></span>
      </div>
    </div>
    <div class="form-group">
      <label for="name-{{ id }}">
        Name
      </label>
      <div class="input-group">
        <input v-model="fullName" type="text" class="required" required autocomplete="name">
        <span class="input-symbols"></span>
      </div>
    </div>
    <div class="form-group">
      <label for="email-{{ id }}">
        Email
      </label>
      <div class="input-group">
        <input v-model="emailAddress" type="email" id="email-{{ id }}" class="required" required autocomplete="email">
        <span class="input-symbols"></span>
      </div>
    </div>
    <hr>
    <div class="form-group">
      <label for="nationality-{{ id }}">Nationality</label>
      <div class="input-group">
        <input type="text" v-model="nationality" id="nationality-{{ id }}" list="countries-{{ id }}" required class="required">
        <span class="input-symbols"></span>
      </div>
    </div>
    <div class="form-group">
      <label for="country-of-residence-{{ id }}">Where do you live?</label>
      <div class="input-group">
        <input type="text" v-model="countryOfResidence" id="country-of-residence-{{ id }}" list="countries-{{ id }}" required class="required">
        <span class="input-symbols"></span>
      </div>
    </div>
    <datalist id="countries-{{ id }}">
      <option v-for="country in sortedCountryList" :key="country[0]" :value="country[1]"></option>
    </datalist>
    <hr>
    <p>Remember, <strong>if you are a EU citizen, or you currently live in the EU, EEA or UK</strong>, you can't get a pension refund. Use my <a target="_blank" href="/tools/pension-refund-calculator">pension refund calculator</a> to know your options.</p>
    <button class="button primary no-print" @click="submitForm">Ask Chris</button>
  </template>
  <template v-if="stage === 'thank-you'">
    <p><strong>Message sent!</strong> Chris will contact you today or during the next business day. Expect an email from "FundsBack".</p>
  </template>
</details>
{% include '/js/utils.js' %}
{% include '/js/constants.js' %}
{% include '/js/vue.js' %}
{% include '/js/date-picker.js' %}
{% js %}
  document.querySelectorAll('.pension-refund-question').forEach(
    el => new Vue({
      el: el,
      data: function() {
        return {
          emailAddress: '',
          fullName: '',
          question: '',
          nationality: countries[getDefault('nationality')] || '',
          countryOfResidence: countries[getDefault('countryOfResidence')] || '',
          stage: 'contactInfo',
          sortedCountryList: Object.entries(countries).sort((a, b) => a[1].localeCompare(b[1])),
        };
      },
      methods: {
        setStage(stage) {
          this.stage = stage;
          Vue.nextTick(() => scrollIntoViewIfNeeded(this.$refs.collapsible));
          plausible('Pension refund question', { props: { stage: this.stage }});
        },
        submitForm() {
          if(validateForm(this.$refs.collapsible)) {
            fetch(
              '/api/forms/pension-refund-question',
              {
                method: 'POST',
                headers: {'Content-Type': 'application/json; charset=utf-8'},
                body: JSON.stringify({
                  name: this.fullName,
                  email: this.emailAddress,
                  question: this.question,
                  nationality: this.nationality,
                  'country-of-residence': this.countryOfResidence,
                }),
              }
            );
            this.setStage('thank-you');
          }
        },
      },
    })
  );
{% endjs %}