<aside class="pension-refund-calculator collapsible {% if static|default %}static{% else %}collapsed{% endif %}" aria-label="Pension refund calculator" ref="collapsible">
{% if not static|default %}
    <div class="header" @click="isCollapsed=false">
        <h2>
            Calculate your pension refund
        </h2>
    </div>
{% endif %}
{% raw %}
    <div class="body form" v-if="!isCollapsed">
        <div v-if="stage === 'start'">
            <p>This calculator tells you if you can get a pension refund, and how much you can get back.</p>
            <hr>
            <div class="form-group">
                <label for="nationality-{% endraw %}{{ id }}{% raw %}">
                    What is your nationality?
                </label>
                <select
                  class="select"
                  :class="{'error': !isNationalityEligible}"
                  id="nationality-{% endraw %}{{ id }}{% raw %}"
                  v-model="nationality">
                    <option value="" disabled selected hidden>Choose a country</option>
                    <option v-for="country in sortedCountryList" :key="country[0]" :value="country[0]">{{ country[1] }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="country-of-residence-{% endraw %}{{ id }}{% raw %}">
                    Where do you live now?
                </label>
                <select
                  class="select"
                  :class="{'error': !isCountryOfResidenceEligible}"
                  id="country-of-residence-{% endraw %}{{ id }}{% raw %}"
                  v-model="countryOfResidence">
                    <option value="" disabled selected hidden>Choose a country</option>
                    <option v-for="country in sortedCountryList" :key="country[0]" :value="country[0]">{{ country[1] }}</option>
                </select>
            </div>
            <div v-if="!isCountriesEligible">
                <hr>
                <h3>You can't get a pension refund</h3>
                <p v-if="hasFlag('eu-national')">You can't get a German pension refund because you are a European Union citizen.</p>
                <p v-if="hasFlag('eea-national')">You can't get a German pension refund because you are a European Economic Area citizen.</p>
                <p v-if="hasFlag('eu-resident')">You can't get a German pension refund while you live in the European Union. If you leave the European Union, you can get a refund.</p>
                <p v-if="hasFlag('disqualifying-country-resident')">You can't get a German pension refund while you live in Bosnia-Herzegovina, Kosovo, North Macedonia, Serbia or Turkey.</p>
                <p v-if="hasFlag('israel-national') && hasFlag('israel-resident')">You can't get a pension refund because <strong>you live in Israel</strong>. If you move out of Israel, you can get a pension refund.</p>
            </div>
            <div v-if="isCountriesSelected && isCountriesEligible">
                <hr>
                <div class="form-group">
                    <span class="label">First month of work in Germany</span>
                    <div class="input-group date-input">
                      <select
                        class="month-input"
                        :class="{'error': isDateRangeSelected && !isDateRangeEligible}"
                        v-model="firstMonthOfWork">
                          <option value="" disabled selected hidden>Month</option>
                          <option v-for="month in monthOptions" :key="month.number" :value="month.number">{{ month.name }}</option>
                      </select>
                      <select
                        class="year-input"
                        :class="{'error': isDateRangeSelected && !isDateRangeEligible}"
                        v-model="firstYearOfWork">
                          <option value="" disabled selected hidden>Year</option>
                          <option v-for="year in yearOptions" :key="year" :value="year">{{ year }}</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <span class="label">Last month of work in Germany</span>
                    <div class="input-group date-input">
                        <select
                          class="month-input"
                          :class="{'error': isDateRangeSelected && !isDateRangeEligible}"
                          v-model="lastMonthOfWork">
                            <option value="" disabled selected hidden>Month</option>
                            <option v-for="month in monthOptions" :key="month.number" :value="month.number">{{ month.name }}</option>
                        </select>
                        <select
                          class="year-input"
                          :class="{'error': isDateRangeSelected && !isDateRangeEligible}"
                          v-model="lastYearOfWork">
                            <option value="" disabled selected hidden>Year</option>
                            <option v-for="year in yearOptions" :key="year" :value="year">{{ year }}</option>
                        </select>
                    </div>
                </div>
                <div v-if="isDateRangeSelected && isDateRangeEligible">
                    <hr>
                    <div class="form-group">
                        <label for="income-{% endraw %}{{ id }}{% raw %}">
                            Your salary in Germany
                        </label>
                        <div class="input-group">
                            <input class="income-input" type="number" inputmode="numeric" pattern="[0-9]*" id="income-{% endraw %}{{ id }}{% raw %}" placeholder="30000" v-model="yearlyIncome">
                            &nbsp;€ per year
                        </div>
                    </div>
                    <div class="form-group" v-if="showStatePicker">
                        <label for="state-{% endraw %}{{ id }}{% raw %}">
                            Where did you work in Germany?
                        </label>
                        <div class="input-group">
                            <select id="state-{% endraw %}{{ id }}{% raw %}" v-model="germanState">
                            <option v-for="(state, abbr) in germanStates" :key="abbr" :value="abbr">{{ stateName(state) }}</option>
                            </select>
                            <span class="input-instructions">You lived in a former East German state. You made smaller pension payments, so your refund is smaller.</span>
                        </div>
                    </div>
                    <div v-if="refundAmount">
                        <hr>
                        <output class="large" v-html="refundAmountHtml"></output>
                        <p>You paid {{ refundAmount }} into the German pension system. <strong>You can get that money back.</strong></p>
                        <div v-if="hasFlag('eligible')">
                            <p>You can already ask for a pension refund, because you left Germany over 2 years ago.</p>
                            <button class="button" target="_blank" @click="setStage('partnerSelection')">Apply for a refund</button>
                        </div>
                        <div v-if="hasFlag('eligible-later')">
                            <p>You must wait until {{ eligibilityDateString }} to ask for a pension refund. You can ask for a refund 2 years after your last pension payment. This is usually 2 years after you stopped working in Germany.</p>
                            <p>We can send you an email reminder in {{ eligibilityDateString }}. Just enter your email.</p>
                            <div class="input-group">
                                <input type="email" placeholder="Your email address" v-model="emailAddress" class="required" required autocomplete="email">
                                <span class="input-symbols"></span>
                            </div>
                            <button class="button" @click="setReminder" :disabled="!emailAddress">Remind me in {{ monthsUntilEligible }}</button>
                        </div>
                    </div>
                </div>
                <div v-if="isDateRangeSelected && !isDateRangeEligible && firstDayOfWork <= lastDayOfWork">
                    <hr>
                    <h3>You can't get a pension refund</h3>
                    <div v-if="hasFlag('over-5-years')">
                        <p>You can't get a pension refund because you made pension payments for over 60 months. When you are 67 years old, you can receive a German pension.</p>
                    </div>
                    <p v-if="hasFlag('uk-prebrexit')">You can't get a pension refund because <strong>you are a UK citizen, and you worked in Germany before Brexit</strong>. When you are 67 years old, you can receive a German pension.</p>
                    <p v-if="hasFlag('japan-national') && hasFlag('japan-resident')">If you move out of Japan, you can ask for a refund.</p>
                </div>
            </div>
        </div>
        <div v-if="stage === 'reminderConfirmation'">
            <p><strong>Reminder set!</strong> We will send you an email in {{ monthsUntilEligible }}.</p>
        </div>
        <div v-if="stage === 'partnerSelection'">
            <p>You can pay someone to request your pension refund. They do all the work for you, and transfer the refund to your bank account.&thinsp;—&thinsp;<a href="https://allaboutberlin.com/guides/pension-payments-refund#get-help-from-someone">More information</a></p>
            <div class="form-group">
                <span class="label">Choose a helper</span>
                <div class="radio-options">
                    <label class="checkbox" v-for="partner in sortedPartners" :key="partner.name">
                        <input type="radio" name="partner-{% endraw %}{{ id }}{% raw %}" :value="partner" v-model="selectedPartner"/>
                        <div>
                            {{ partner.name }}
                            <br><small>{{ partner.description }}</small>
                        </div>
                    </label>
                </div>
            </div>
            <hr>
            <div v-if="selectedPartner.name === 'Do it yourself'">
                <p>You can apply for a pension refund without help. It's harder, but if you speak German, it's not so bad.</p>
                <p><strong><a href="https://allaboutberlin.com/guides/pension-payments-refund#do-it-yourself">How to apply without help ➞</a></strong></p>
            </div>
            <div v-if="selectedPartner.name !== 'Do it yourself'">
                <div class="form-group">
                    <span class="label">Cost estimation</span>
                    <div>
                        <p class="price">Your pension refund<output v-html="refundAmountHtml"></output></p>
                        <p class="price">{{ selectedPartner.name }} fee <output v-html="partnerFeeHtml"></output></p>
                        <p class="price highlighted">You keep<output v-html="totalAfterFeesHtml"></output></p>
                    </div>
                </div>
                <hr>
                <button class="button submit" @click="setStage('contactInfo')">Continue</button>
            </div>
        </div>
        <div v-if="stage === 'contactInfo'" ref="contactForm">
            <div class="form-group">
                <label for="name-{% endraw %}{{ id }}{% raw %}">Full name</label>
                <div class="input-group">
                    <input v-model="fullName" type="text" id="name-{% endraw %}{{ id }}{% raw %}" class="required" required autocomplete="name">
                    <span class="input-symbols"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="email-{% endraw %}{{ id }}{% raw %}">Email</label>
                <div class="input-group">
                    <input v-model="emailAddress" type="email" id="email-{% endraw %}{{ id }}{% raw %}" class="required" required autocomplete="email">
                    <span class="input-symbols"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="date-of-birth-{% endraw %}{{ id }}{% raw %}-day">Date of birth</label>
                <div class="input-group">
                    <date-picker v-model="dateOfBirth" id="date-of-birth-{% endraw %}{{ id }}{% raw %}" required autocomplete="bday"></date-picker>
                    <span class="input-symbols"></span>
                    <span class="input-instructions">Required by the Deutsche Rentenversicherung</span>
                </div>
            </div>
            <button class="button submit" target="_blank" @click="sendRefundRequest">Apply for a refund</button>
        </div>
        <div v-if="stage === 'requestConfirmation'">
            <p><strong>Request sent!</strong> Your pension refund request was sent to {{ selectedPartner.name }}. They will contact you soon.</p>
        </div>
    </div>
</aside>
{% endraw %}
{% include '/js/utils.js' %}
{% include '/js/pension-refund-calculator.js' %}
{% include '/js/vue.js' %}
{% include '/js/date-picker.js' %}
{% js %}
  document.querySelectorAll('.pension-refund-calculator').forEach(
    el => new Vue({
      el: el,
      data() {
        return {
          isCollapsed: el.classList.contains('collapsed'),
          stage: 'start',
          nationality: getDefault('nationality', ''),
          sortedCountryList: Object.entries(countries).sort((a, b) => a[1].localeCompare(b[1])),
          countryOfResidence: getDefault('countryOfResidence', ''),
          yearlyIncome: getDefaultNumber('yearlyIncome'),
          firstMonthOfWork: '',
          firstYearOfWork: '',
          lastMonthOfWork: '',
          lastYearOfWork: '',
          germanState: getDefault('state'),
          fullName: '',
          emailAddress: '',
          dateOfBirth: '',
          showRefundRequestForm: false,
          yearOptions: Array.from({ length: ((new Date()).getFullYear() + 2 - 2000) + 1}, (_, i) => 2000 + i), // From 2000 to currentYear + 2
          monthOptions: [
            {number: '01', name: 'January'},
            {number: '02', name: 'February'},
            {number: '03', name: 'March'},
            {number: '04', name: 'April'},
            {number: '05', name: 'May'},
            {number: '06', name: 'June'},
            {number: '07', name: 'July'},
            {number: '08', name: 'August'},
            {number: '09', name: 'September'},
            {number: '10', name: 'October'},
            {number: '11', name: 'November'},
            {number: '12', name: 'December'},
          ],
          germanStates,
          partners: [
            {
              name: 'FundsBack',
              description: "10% fee. Minimum 899€, maximum 2,899€. No refund, no fee.",
              fee: x => Math.min(Math.max(x * 0.1, 899), 2899),
              apiEndpoint: '/api/forms/pension-refund-fundsback',
            },
            {
              name: 'Germany Pension Refund',
              description: "0.975% fee. No refund, no fee.",
              fee: x => x * 0.975,
              apiEndpoint: '/api/forms/pension-refund-germanypensionrefund',
            },
            {
              name: 'Pension Refund Germany',
              description: "10% fee. Maximum 2,800€. No refund, no fee.",
              fee: x => Math.min(x * 0.1, 2800),
              apiEndpoint: '/api/forms/pension-refund-pensionrefundgermany',
            },
            {
              name: 'Do it yourself',
              description: 'Apply without help. No fee.',
              fee: x => 0,
              apiEndpoint: '',
            },
          ],
          selectedPartner: null,
        };
      },
      mounted() {
        this.selectedPartner = this.sortedPartners[0];
      },
      methods: {
        hasFlag(flag) {
          return this.results.flags.has(flag);
        },
        stateName: stateName,
        setStage(stage) {
          this.stage = stage;
          Vue.nextTick(() => scrollIntoViewIfNeeded(this.$refs.collapsible));
          plausible('Pension refund calculator', { props: { stage: this.stage }});
        },
        setReminder() {
          fetch(
            '/api/reminders/pension',
            {
              method: 'POST',
              headers: {'Content-Type': 'application/json; charset=utf-8',},
              body: JSON.stringify({
                'email': this.emailAddress,
                'refundAmount': this.refundAmount,
                'eligibilityDate': this.eligibilityDateString,
                'deliveryDate': this.eligibilityDate.toISOString(),
              }),
            }
          );
          this.setStage('reminderConfirmation');
        },
        sendRefundRequest() {
          if(validateForm(this.$refs.contactForm)) {
            fetch(
              this.selectedPartner.apiEndpoint,
              {
                method: 'POST',
                headers: {'Content-Type': 'application/json; charset=utf-8',},
                body: JSON.stringify({
                  'arrivalDate': `${this.firstYearOfWork}-${this.firstMonthOfWork}`,
                  'countryOfResidence': countries[this.countryOfResidence],
                  'dateOfBirth': this.dateOfBirth,
                  'departureDate': `${this.lastYearOfWork}-${this.lastMonthOfWork}`,
                  'email': this.emailAddress,
                  'name': this.fullName,
                  'nationality': countries[this.nationality],
                }),
              }
            );
            plausible('Pension refund request', { props: { partner: this.selectedPartner.name }});
            this.setStage('requestConfirmation');
          }
        }
      },
      computed: {
        firstDayOfWork() {
          if(this.firstMonthOfWork && this.firstYearOfWork) {
            return new Date(`${this.firstYearOfWork}-${this.firstMonthOfWork}-01T00:00:00`);
          }
          return null;
        },
        lastDayOfWork() {
          if(this.lastMonthOfWork && this.lastYearOfWork) {
            const lastDayOfWork = new Date(`${this.lastYearOfWork}-${this.lastMonthOfWork}-01T00:00:00`);
            lastDayOfWork.setMonth(lastDayOfWork.getMonth()+1);
            lastDayOfWork.setDate(0);
            return lastDayOfWork; // Last day of the selected month
          }
          return null;
        },
        results() {
          const isInEastGermany = this.germanStates[this.germanState].isInEastGermany;
          setDefaultNumber('yearlyIncome', this.yearlyIncome);
          setDefault('state', this.germanState);
          setDefault('nationality', this.nationality);
          setDefault('countryOfResidence', this.countryOfResidence);
          return calculatePensionRefund(
            this.nationality,
            this.countryOfResidence,
            this.firstDayOfWork,
            this.lastDayOfWork,
            this.yearlyIncome,
            isInEastGermany
          );
        },
        isCountriesSelected() {
          return !!(this.nationality && this.countryOfResidence);
        },
        isCountryOfResidenceEligible() {
          return (
            this.results
            && !this.hasFlag('eu-resident')
            && !(
              this.hasFlag('israel-national')
              && this.hasFlag('israel-resident')
            )
            && !this.hasFlag('disqualifying-country-resident')
          );
        },
        isNationalityEligible() {
          return this.results && !this.hasFlag('eu-national') && !this.hasFlag('eea-national')
        },
        isCountriesEligible() {
          return this.results && this.isCountryOfResidenceEligible && this.isNationalityEligible
        },
        isDateRangeSelected() {
          return this.firstDayOfWork && this.lastDayOfWork;
        },
        isDateRangeEligible() {
          return this.isDateRangeSelected && this.lastDayOfWork >= this.firstDayOfWork && this.results && !this.hasFlag('not-eligible');
        },
        eligibilityDate() {
          if(this.isDateRangeEligible) {
            const twoYearsAfterDeparture = new Date(this.lastDayOfWork.getTime());
            twoYearsAfterDeparture.setMonth(this.lastDayOfWork.getMonth() + 24 + 1); // +1 because last payment is 1 month after last month of work
            return twoYearsAfterDeparture;
          }
        },
        eligibilityDateString() {
          const monthName = this.monthOptions.find(m => m.number == (this.eligibilityDate.getMonth() + 1).toString().padStart(2, '0')).name;
          return `${monthName} ${this.eligibilityDate.getFullYear()}`;
        },
        monthsUntilEligible() {
          if(this.isDateRangeEligible) {
            const months = Math.floor((this.eligibilityDate.getTime() - (new Date()).getTime()) / (2e3 * 3600 * 365.25))
            if(months === 0) {
              return 'a few days';
            }
            else if(months === 1) {
              return '1 month';
            }
            else {
              return `${months} months`;
            }
          }
        },
        showStatePicker() {
          // Only show the state picker if the state can affect the refund amount
          if(!this.refundAmount) { return false; }

          const args = [this.nationality, this.countryOfResidence, this.firstDayOfWork, this.lastDayOfWork, this.yearlyIncome];
          const eastGermanResults = calculatePensionRefund(...args, true).refundAmount;
          const westGermanResults = calculatePensionRefund(...args, false).refundAmount;
          return eastGermanResults != westGermanResults;
        },
        refundAmount() {
          if (this.results && this.results.refundAmount) { // TODO: Can the amount be 0?
            return formatCurrency(this.results.refundAmount, false, '€');
          }
        },
        refundAmountHtml() {
          if (this.results && this.results.refundAmount) { // TODO: Can the amount be 0?
            return formatCurrency(this.results.refundAmount, false, '€', true);
          }
        },
        sortedPartners() {
          return this.partners.sort(
            (a, b) => {
              if(b.name === 'Do it yourself') return -1;
              return a.fee(this.results.refundAmount) - b.fee(this.results.refundAmount);
            }
          );
        },
        partnerFee() {
          return this.selectedPartner.fee(this.results.refundAmount);
        },
        partnerFeeHtml() {
          if (this.results && this.results.refundAmount) {
            return formatCurrency(this.partnerFee, false, '€', true);
          }
        },
        totalAfterFeesHtml() {
          if (this.results && this.results.refundAmount) {
            return formatCurrency(Math.max(this.results.refundAmount - this.partnerFee, 0), false, '€', true);
          }
        },
      },
    })
  );
{% endjs %}