<aside id="places no-print">
	<div id="places-map">
		<noscript>This map needs JavaScript to work.</noscript>
	</div>
	<ol id="places-list">
		{% for place in entry.related_places %}
		<li id="place-{{ loop.index }}">
			<div class="title">
				<h4>
					{% if place.website %}
						<a title="Website of {{ place.name }}" target="_blank" href="{{ place.website }}" target="_blank" position="{{ loop.index }}">{{ place.name }}</a>
					{% else %}
						{{ place.name }}
					{% endif %}
				</h4>
				<address><a href="https://www.google.com/maps/search/{{ place.name|urlencode }}/@{{ place.latitude }},{{ place.longitude }}" target="_blank" title="View on Google Maps">{{ place.address }}</a></address>
			</div>
			{%- if place.description|default -%}
				<p>{{ place.description }}</p>
			{%- endif -%}
			{%- if place.accepts_public_insurance|default == 'Yes' -%}
				<p>Accepts public health insurance.</p>
			{%- endif -%}
		</li>
		{% endfor %}
	</ol>
</aside>
<script>
function initMap() {
	const placesMap = document.getElementById('places-map');
	const googleMap = new google.maps.Map(placesMap, {
		disableDefaultUI: true,
		zoomControl: true,
		mapTypeControl: false,
		scaleControl: true,
		streetViewControl: false,
		rotateControl: false,
		fullscreenControl: false
	});
	const markers = [];
	{% for place in entry.related_places %}
		markers.push(new google.maps.Marker({
			position: {lat: {{ place.latitude }}, lng: {{ place.longitude }} },
			map: googleMap,
			title: "{{ place.name }}",
			label: "{{ loop.index }}"
		}));
	{% endfor %}
	const bounds = new google.maps.LatLngBounds();
	markers.forEach((marker) => {
		bounds.extend(marker.position)
		marker.addListener('click', function() {
			markers.forEach((marker) => {
				// Remove the highlight class from all places
				const otherPlaceElement = document.getElementById(`place-${marker.label}`)
				otherPlaceElement.classList.remove('highlight');
				void otherPlaceElement.offsetWidth; // Triggers a reflow and the highlight animation
			})
			const placeElement = document.getElementById(`place-${marker.label}`);

			const scrollTo = placeElement.scrollIntoViewIfNeeded ? 'scrollIntoViewIfNeeded' : 'scrollIntoView';
			placeElement[scrollTo]({ block: 'end', behavior: 'smooth' });
			placeElement.classList.add('highlight');
		});
	});
	const placeListingAddressLinks = document.querySelectorAll('#places-list li address a');
	placeListingAddressLinks.forEach((addressLink, index) => {
		addressLink.addEventListener('click', (e) => {
			e.preventDefault();
			googleMap.setZoom(13);
			googleMap.panTo(markers[index].position);

			const scrollTo = placesMap.scrollIntoViewIfNeeded ? 'scrollIntoViewIfNeeded' : 'scrollIntoView';
			placesMap[scrollTo]({ block: 'end', behavior: 'smooth' });
		});
	})
	googleMap.fitBounds(bounds);
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap"></script>
