{% set id = random_id() %}
<details class="unemployment-insurance-calculator collapsible" aria-label="Unemployment insurance calculator" {% if static|default %}open{% endif %}>
    <summary {% if static|default %}hidden{% endif %}>
        Unemployment insurance calculator
    </summary>
{% raw %}
    <div class="form-group">
        <label for="occupation-{% endraw %}{{ id }}{% raw %}">
            Occupation
        </label>
        <select class="select" id="occupation-{% endraw %}{{ id }}{% raw %}" name="occupation" v-model="occupation">
            <option value="employee">Employee</option>
            <option value="selfEmployed">Self-employed / freelancer</option>
            <option value="azubi">Apprentice (Azubi)</option>
            <option value="unemployed">Unemployed</option>
        </select>
    </div>
    <div class="form-group">
        <label for="income-{% endraw %}{{ id }}{% raw %}">
            Income
        </label>
        <div class="input-group">
            <input class="income-input" type="number" inputmode="numeric" pattern="[0-9]*" name="income" id="income-{% endraw %}{{ id }}{% raw %}" v-model="monthlyIncome">
            <span>€ per month</span>
        </div>
    </div>
    <div class="form-group" v-if="showStatePicker">
        <label for="state-{% endraw %}{{ id }}{% raw %}">
            Where do you work?
        </label>
        <div class="input-group">
          <select id="state-{% endraw %}{{ id }}{% raw %}" v-model="germanState">
            <option v-for="(state, abbr) in germanStates" :key="abbr" :value="abbr">{{ stateName(state) }}</option>
          </select>
          <span class="input-instructions">The maximum contribution is different in East and West Germany.</span>
        </div>
    </div>
    <hr>
    <div v-if="results">
        <output class="large" v-html="unemploymentInsuranceAmount"></output>
        <p v-html="resultsExplanation"></p>
    </div>
</details>
{% endraw %}
{% include '/js/utils.js' %}
{% include '/js/constants.js' %}
{% include '/js/tax-calculator.js' %}
{% include '/js/vue.js' %}
{% js %}
  document.querySelectorAll('.unemployment-insurance-calculator').forEach(
    el => new Vue({
      el: el,
      data: function() {
        return {
          occupation: getDefault('occupation'),
          monthlyIncome: Math.round(getDefaultNumber('yearlyIncome')/12),
          germanState: getDefault('state'),
          germanStates,
        }
      },
      computed: {
        showStatePicker: function() {
          return (+this.monthlyIncome)*12 >= taxes.beitragsbemessungsgrenze.currentYear.east;
        },
        isInEastGermany: function() {
          return this.germanStates[this.germanState].isInEastGermany;
        },
        results: function() {
          setDefault('occupation', this.occupation);
          setDefaultNumber('yearlyIncome', this.monthlyIncome*12);
          setDefault('state', this.germanState);
          return calculateUnemploymentInsurance(+this.monthlyIncome * 12, this.occupation, this.isInEastGermany);
        },
        unemploymentInsuranceAmount: function() {
          if(this.results) {
            const amount = formatCurrency(this.results.unemploymentInsurance / 12, true, '€', true);
            return `${amount} <small>per month</small>`
          }
        },
        beitragsbemessungsgrenze: function() {
          return taxes.beitragsbemessungsgrenze.currentYear[this.isInEastGermany ? 'east' : 'west'];
        },
        resultsExplanation: function() {
          const f = this.results.flags;
          if(f.has('none')) {
            if(f.has('unemployed')) {
              return "You are unemployed, so you don't pay unemployment insurance.";
            }
            else if(f.has('minijob')) {
              return `You earn less than ${formatCurrency(taxes.maxMinijobIncome, false, '€', true)} per month. When you have a <a href="https://allaboutberlin.com/glossary/Minijob" target="_blank">minijob</a>, you don't pay unemployment insurance.`;
            }
          }
          else if(f.has('optional')) {
            return "When you are self-employed, you don't have to pay unemployment insurance. It's optional.";
          }
          else {
            if(f.has('max-contribution')) {
              return `You earn more than ${formatCurrency(this.beitragsbemessungsgrenze / 12, false, '€', true)} per month (the <a href="https://allaboutberlin.com/glossary/Beitragsbemessungsgrenze" target="_blank"><em>Beitragsbemessungsgrenze</em></a>), so you pay the maximum amount: ${taxes.arbeitslosenversicherungRate * 100}% of ${formatCurrency(this.beitragsbemessungsgrenze / 12, false)}.`;
            }
            else if(f.has('azubi')) {
              return `As an apprentice, you pay ${taxes.arbeitslosenversicherungRate * 100}% of your income for unemployment insurance.`;
            }
            else {
              return `You pay ${taxes.arbeitslosenversicherungRate * 100}% of your income for unemployment insurance.`;
            }
          }
        },
      },
      methods: {
        stateName: stateName,
      }
    })
  );
{% endjs %}