{% extends "_layout.html" %}
{% set metatitle = "Calculator test" %}
{% set metadescription = "" %}

{% block postHead %}
	{{ super() }}
	<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
	<h1>Tool test</h1>
	<div class="article-body">
		{% include "_blocks/healthInsuranceCalculator.html" %}
	</div>
{% endblock %}
