{% extends "_layout.html" %}
{% set metatitle = entry.title %}
{% set metadescription = entry.description %}
{% set related_entries = entry.related_guides|default([]) %}

{% block postHead %}
	{{ super() }}
	<link rel="index" href="{{ site_url }}/tools">
{% endblock %}

{% block main %}
	<main aria-label="Main page">
		{% block precontent %}{% endblock %}
		<article class="section">
			<h1>{{ entry.title }}</h1>
			{% include "_blocks/postMeta.html" %}
			<div class="article-body">
				{{ entry.body|render|safe }}
			</div>
		</article>

		{% with pageType='document' %}
			{% include "_blocks/footerDonationPrompt.html" %}
		{% endwith %}

		{% if related_entries %}
			<aside class="section no-print" id="related" aria-labelledby="h-using-this-term" data-nosnippet>
				<h2 id="h-using-this-term">Related guides</h2>
				{% with entries=related_entries, showDateUpdated=true %}
					{% include "_blocks/entryPreviews.html" %}
				{% endwith %}
			</aside>
		{% endif %}

		<aside class="section no-print" aria-label="Affiliate links notice" data-nosnippet>
			<p>
				<strong>This page might contain affiliate links.</strong> When you click those links and buy something, I make a little money. This allows me to work on this website full time.
			</p>
		</aside>
	</main>
	
	<div class="sidebar" aria-hidden="true" data-nosnippet>
		{% with entry=entry, showRelatedEntriesLink=related_entries|length %}
			{% include '_blocks/tableOfContents.html' %}
		{% endwith %}
		{% block postSidebar %}
			<div class="donate" data-nosnippet>
				Did this {{ pageType|default("website") }} help you? Consider <a href="{{ site_url }}/donate" target="_blank" title="Donate to All About Berlin">donating €10</a> to support my work.
			</div>
		{% endblock %}
		<button class="button open-close" title="Show/hide table of contents">
			{% include "_css/icons/table-of-contents.svg" %}
		</button>
	</div>
	{% include "_js/sidebar.js" %}
{% endblock %}

{% block postFooter %}
	{{ super() }}
	<script type="application/ld+json">
		[
			{
				"@context": "http://schema.org",
				"@type": "WebPage",
				"name": {{ entry.title|tojson }},
				"description": {{ entry.description|tojson }},
				"breadcrumb": {
					"@context": "https://schema.org",
					"@type": "BreadcrumbList",
					"itemListElement": [
						{
							"@type": "ListItem",
							"position": 1,
							"item": {
								"@id": "{{ site_url }}/",
								"name": "Home"
							}
						},
						{
							"@type": "ListItem",
							"position": 2,
							"item": {
								"@id": "{{ site_url }}/tools",
								"name": "Tools and calculators"
							}
						},
						{
							"@type": "ListItem",
							"position": 3,
							"item": {
								"@id": "{{ entry.url }}",
								"name": {{ entry.title|tojson }}
							}
						}
					]
				},
				"author": {
					"@type": "Person",
					"@id": "https://nicolasbouliane.com"
				},
				"publisher": {
					"@type": "Organization",
					"@id": "{{ site_url }}/#organization"
				}
			}
		]
	</script>
{% endblock %}
