{% extends "_layout.html" %}
{% set metatitle = "Tools and calculators" %}
{% set metadescription = "Useful calculators for German taxes, health insurance and other things." %}

{% block postHead %}
    {{ super() }}
    <link rel="canonical" href="{{ site_url }}/tools">
{% endblock %}

{% block precontent %}
    <header class="intro">
        <h1>Tools and calculators</h1>
    </header>
{% endblock %}

{% block content %}
    {% for tool in get_entries('tools', sort_by=('short_title', 'title')) %}
        <div class="preview tool">
            <h3>
                <a title="{{ tool.title }}" rel="bookmark" href="{{ tool.url }}">{{ tool.short_title|default(tool.title) }}</a>
            </h3>
            <p>{{ tool.description }}</p>
        </div>
    {% endfor %}
{% endblock %}
