{% extends "_layout.html" %}
{% set metatitle = "Unit tests" %}
{% set metadescription = "" %}

{% block precontent %}
	<header class="intro">
		<h1>Tests</h1>
	</header>
{% endblock %}

{% block postHead %}
		<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
		<script src="https://unpkg.com/chai/chai.js"></script>
		<script src="https://unpkg.com/mocha/mocha.js"></script>
		<div id="mocha"></div>
		<script class="mocha-init">
			mocha.setup('bdd');
			let assert = chai.assert;
			chai.config.truncateThreshold = 0
		</script>
		{% js %}
			{% include '_js/utils.js' %}
			{% include '_js/constants.js' %}
			{% include '_js/tracking.js' %}
			{% include '_js/health-insurance-calculator.js' %}
			{% include '_js/pension-refund-calculator.js' %}
			{% include '_js/tax-calculator.js' %}
		{% endjs %}
{% endblock %}

{% block postFooter %}
	{{ super() }}
	<script src="/js/health-insurance-calculator.test.js" type="module"></script>
	<script src="/js/pension-refund-calculator.test.js" type="module"></script>
	<script src="/js/tax-calculator.test.js" type="module"></script>
	<script src="/js/utils.test.js" type="module"></script>
	<script src="/js/tracking.test.js" type="module"></script>
	<script class="mocha-exec">
		mocha.run();
	</script>
	<style type="text/css">
		#mocha-stats{margin:0;padding:var(--m);background:var(--c-bg-widget);border-radius:var(--b-radius)}
			.progress, .duration, .replay{display:none}

		#mocha-report li{list-style:'—'}

		#mocha-report > .suite > h1{font-weight:bold}
		#mocha-report > .suite > ul > .suite > h1{font-weight:bold}

		#mocha-report *{
			font-size: var(--m) !important;
			line-height: var(--m) !important;
			margin-top: 0;
			margin-bottom: 0;
		}
		#mocha-report pre{
			font-family:monospace!important;
			overflow-x:auto;
		}
		.test.fail{background:#fcc}
	</style>
{% endblock %}
