{% raw %}
<p>These are reports from people who applied for German citizenship in Berlin. <a href="#share-your-experience">Share your experience</a>; it's really helpful.</p>

{% endraw %}{% include "_blocks/feedbackCitizenship/filters.html"%}{% raw %}

<div class="loading" v-if="isLoading">Loading feedback...</div>
<ul class="feedback-list" v-show="!isLoading">
	<li v-cloak v-for="result in resultsPage" v-if="!isLoading" :key="result.modification_date">
		<button class="button" v-if="result.modification_key" @click="deleteResult(result.modification_key)">Delete</button>
		<h3>
			Citizenship
			<template v-if="result.appointment_date">in {{ formatTimeDelta(result.application_date, result.appointment_date) }}</template>
			<span class="department" v-text="(departments[result.department] || '').split(' — ')[0]"></span>
		</h3>
		<div class="steps">
			<div class="step completed">
				<input type="checkbox" checked disabled>
				<span class="description">Applied on {{ formatLongDate(result.application_date) }}</span>
				<small class="duration">
					<template v-if="result.first_response_date">
						{{ waitTime(result.application_date, result.first_response_date) }}
					</template>
					<template v-else>
						{{ waitTime(result.application_date, result.modification_date, true) }}
					</template>
				</small>
			</div>

			<div class="step" :class="{completed: !!result.first_response_date}">
				<input type="checkbox" :checked="result.first_response_date" disabled>
				<span class="description">
					<template v-if="result.first_response_date">
						Got a response on {{ formatLongDate(result.first_response_date) }}
					</template>
					<template v-else>
						No response as of {{ formatLongDate(result.modification_date) }}
					</template>
				</span>
				<small class="duration" v-if="result.first_response_date || result.appointment_date">
					<template v-if="result.appointment_date">
						{{ waitTime(result.first_response_date, result.appointment_date) }}
					</template>
					<template v-if="result.first_response_date && !result.appointment_date">
						{{ waitTime(result.first_response_date, result.modification_date, true) }}
					</template>
				</small>
			</div>

			<div class="step" :class="{completed: !!result.appointment_date}">
				<input type="checkbox" :checked="result.appointment_date" disabled>
				<span class="description">
					<template v-if="result.appointment_date">
						{{ isInTheFuture(result.appointment_date) ? 'Will become' : 'Became' }} a citizen on {{ formatLongDate(result.appointment_date) }}
					</template>
					<template v-else>
						No appointment <template v-if="result.first_response_date">as of {{ formatLongDate(result.modification_date) }}</template>
					</template>
				</span>
			</div>
		</div>
		<p v-if="result.notes.length" class="notes">“{{ result.notes.trim() }}”</p>
	</li>
</ul>
<pagination :value="page" @input="loadPage($event, true)" :page-count="pageCount"></pagination>
{% endraw %}