{$SSL_DOMAIN:localhost} {
    tls {$SSL_EMAIL:internal}
    encode gzip

    # Block any request that ends with .html
    @html path_regexp html \.html$
    handle @html {
        error 404
    }
    @htmlIndex path_regexp htmlIndex /index$
    handle @htmlIndex {
        error 404
    }

    # Push assets with static pages
    # TODO: Test
    @staticHtmlPage {
        header Content-Type text/html*
        not path /admin*
    }
    push @staticHtmlPage /fonts/librefranklin-variable.woff2
    push @staticHtmlPage /fonts/librefranklin-variable-i.woff2
    push @staticHtmlPage /api/exchangerates.json
    push @staticHtmlPage /whoisthere.js

    # Cache assets
    @assets {
        path_regexp assets .*\.(css|js|jpg|jpeg|gif|png|ico|cur|gz|svg|svgz|mp3|mp4|ogg|ogv|webm|htc|webp)$
    }
    header @assets Cache-Control "public"
    header @assets Cache-Control "max-age=31536000"
    header @assets -ETag
    header @assets -Access-Control-Allow-Origin

    # Cache fonts
    @fonts {
        path_regexp fonts .*\.(ttf|ttc|otf|eot|woff|woff2)$
    }
    header @fonts Cache-Control "public"
    header @fonts Cache-Control  "max-age=31536000"
    header @fonts -ETag
    header @fonts Access-Control-Allow-Origin "*"

    # Various security headers
    header {
        -Server
        Referrer-Policy no-referrer-when-downgrade
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Frame-Options SAMEORIGIN
        X-XSS-Protection "1; mode=block"
        X-Content-Type-Options nosniff
        Referrer-Policy "no-referrer-when-downgrade"
        Permissions-Policy "interest-cohort=()"
    }

    # Custom 404 page
    # TODO: Test (including status code)
    handle_errors 404 410 {
        file_server
        root * /var/www/html
        rewrite * /404.html
    }

    # Favicon and apple-touch-icon handling
    # TODO: Test
    handle /favicon.ico {
        redir /staticimages/favicon.png 301
    }
    handle_path /apple-touch-icon* {
        respond "" 204
    }

    # TODO: Test everything here
    handle /api/* {
        reverse_proxy backend:80
    }
    handle /admin/* {
        reverse_proxy backend:80
    }
    handle /admin/static/* {
        root * /var/www/api/staticfiles
        file_server
    }
    handle /api/appointments* {
        reverse_proxy 128.140.76.17:80 {
            stream_timeout 12h
            stream_close_delay 5m
        }
    }
    handle /api/exchangerates.json {
        cache {
            ttl 24h
            mode bypass_request
        }
        rewrite * /api/latest.json?app_id={$OPENEXCHANGERATES_API_KEY}
        reverse_proxy https://openexchangerates.org {
            header_up Host openexchangerates.org
        }
    }

    @plausible path /whoisthere.js /whoisthere/event
    handle @plausible {
        # Use path from step 1
        rewrite /whoisthere.js https://plausible.io/js/plausible.file-downloads.js
        reverse_proxy https://plausible.io {
            header_up Host {http.reverse_proxy.upstream.hostport}
        }
    }

    # Static site. Default option.
    handle {
        file_server
        root * /var/www/html
        try_files {path} {path}.html {path}/index.html
    }
}