{% extends "_layout.html" %}
{% set entry = entries['guides/best-bank-germany.md'] %}
{% set metatitle = entry.title %}
{% set metadescription = entry.description %}

{% block postHead %}
	<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
	<h1>Component test</h1>
	<div class="article-body">
		{% with static=True %}
			{% with occupation = 'employee' %}{% include '_blocks/healthInsuranceCalculatorStatic.html' %}{% endwith %}
		{% endwith %}
	</div>
{% endblock %}