{% extends "_layout.html" %}
{% set metatitle = "Tests" %}
{% set metadescription = "" %}

{% block postHead %}
	<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
	<h1>{{ metatitle }}</h1>
	<div class="article-body">
		<ul>
			<li><a href="unit">Unit tests</a></li>
			<li><a href="component">Component tests</a></li>
		</ul>
	</div>
{% endblock %}