{% extends "_layout.html" %}
{% set metatitle = entry.title %}
{% set metadescription = entry.description %}
{% set related_entries = entry.related_guides|default([]) %}

{% block postHead %}
	{{ super() }}
	<meta property="og:type" content="website">
	<link rel="index" href="{{ site_url }}/docs">
{% endblock %}

{% block main %}
	<main aria-label="Main page">
		{% block precontent %}{% endblock %}
		<article class="section">
			<h1>{{ entry.title }}</h1>
			{% include "_blocks/postMeta.html" %}
			<div class="article-body">
				{{ entry.body|render|safe }}
			</div>
		</article>
		{% if related_entries|length %}
			<aside class="section" aria-labelledby="h-related-guides">
				<h2 id="h-related-guides">Related guides</h2>
				{% with entries=entry.related_guides|default([]) %}
					{% include "_blocks/entryPreviews.html" %}
				{% endwith %}
			</aside>
		{% endif %}

		{% with pageType='document' %}
			{% include "_blocks/donationPrompt.html" %}
		{% endwith %}
		<aside class="section no-print" aria-label="Affiliate links notice">
			<p>
				<strong>This guide might contain affiliate links.</strong> When you click those links and buy something, I make a little money. This allows me to work on this website full time.
			</p>
		</aside>
	</main>
	
	<div class="sidebar no-print" aria-hidden="true">
		{% with entry=entry, showScrollToTop=true, showSupportLink=true %}
			{% include '_blocks/tableOfContents.html' %}
		{% endwith %}
	</div>
	{% include "_js/sidebar.js" %}
{% endblock %}
