{% extends "_layout.html" %}
{% set metatitle = "Translated documents" %}
{% set metadescription = "Download Berlin Bürgeramt and Ausländerbehörde documents in English." %}

{% block postHead %}
	<link rel="canonical" href="{{ site_url }}/docs">
{% endblock %}

{% block precontent %}
	<header class="intro">
		<h1>Document translations</h1>
		<p>Important German documents translated to English.</p>
	</header>
{% endblock %}

{% block content %}
	{% for document in get_entries('docs', sort_by='german_term') %}
		<div class="preview document">
			<h3>
				<a title="{{ document.german_term }}" rel="bookmark" href="{{ document.url }}" lang="de">{{ document.german_term }}</a>
				{{ document.english_term }}
			</h3>
			<p>{{ document.description }}</p>
		</div>
	{% endfor %}
{% endblock %}
