{% extends "_layout.html" %}
{% set metatitle = "Translated documents" %}
{% set metadescription = "Download Berlin Bürgeramt and Ausländerbehörde documents in English." %}

{% block postHead %}
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ metatitle }}" />
	<meta property="og:description" content="{{ metadescription }}" />
	<meta property="og:image" content="{{site_url}}api/images/cover.png?text={{ metatitle|urlencode }}" />
	<link rel="canonical" href="https://allaboutberlin.com/docs">
	<link rel="edit" href="{{site_url}}admin/entries/docs">
{% endblock %}

{% block precontent %}
	<header class="section transparent fixed-width intro centred">
		<h1>Document translations</h1>
		<p>Important German documents translated to English.</p>
	</header>
{% endblock %}

{% block content %}
	{% for document in entries.docs.values() %}
		<div class="document">
			<h2>
				<a title="{{ document.german_term }}" rel="bookmark" href="{{ document.url }}">{{ document.german_term }}</a>
				<small title="{{ document.english_term }}">
					{{ document.english_term }}
				</small>
			</h2>
			<p>{{ document.description }}</p>
		</div>
	{% endfor %}
{% endblock %}
