{% extends "_layout.html" %}
{% set metatitle = "Documents and templates" %}
{% set metadescription = "Download English documents and templates for the Bürgeramt, Ausländerbehörde and Arbeitsagentur." %}

{% block postHead %}
	<link rel="canonical" href="{{ site_url }}/docs">
{% endblock %}

{% block precontent %}
	<header class="intro">
		<h1>Documents and templates</h1>
	</header>
{% endblock %}

{% block content %}
	<ol class="previews">
	{% for document in get_entries('docs', sort_by='german_term') %}
		<li class="document">
			<h3>
				<a title="{{ document.german_term }}" rel="bookmark" href="{{ document.url }}" lang="de">{{ document.german_term }}</a>
				{{ document.english_term }}
			</h3>
			<p>{{ document.description }}</p>
		</li>
	{% endfor %}
	</ol>
{% endblock %}
