<ol class="previews">
{% for entry in entries %}
	{% set entryType = entry.url.split('/')[3] %}
	<li class="{{ entryType }}">
		<h3>
			<a href="{{ entry.url }}" rel="bookmark">
				{% if entry.url.startswith('guides/') %}
					{{ entry.pageTitle | default(entry.title) }}
				{% else %}
					{% if entry.short_title|default %}
						<span class="no-mobile">{{ entry.title }}</span>
						<span class="only-mobile no-print" aria-hidden="true">{{ entry.short_title }}</span>
					{% else %}
						{{ entry.title }}
					{% endif %}
				{% endif %}
			</a>
			{% if showDateUpdated|default or showDatePosted|default %}
				{% if showDateUpdated|default %}
					<time title="Last updated on {{ entry.date_updated.strftime('%B %-d, %Y') }}" datetime="{{ entry.date_updated.isoformat(timespec='seconds') }}">{{ entry.date_updated.strftime('%B %-d, %Y') }}</time>
				{% else %}
					<time title="Published on {{ entry.date_created.strftime('%B %-d, %Y') }}" datetime="{{ entry.date_created.isoformat(timespec='seconds') }}">{{ entry.date_created.strftime('%B %-d, %Y') }}</time>
				{% endif %}
			{% endif %}
		</h3>
		{% if entryType == 'guides' %}
			<script type="application/ld+json">{% include "_blocks/guideJsonld.json" %}</script>
		{% elif entryType == 'newsletter' %}
			<p>{{ entry.description }}</p>
			<script type="application/ld+json">{% include "_blocks/newsletterJsonld.json" %}</script>
		{% endif %}
	</li>
{% endfor %}
</ol>