{% include '_js/vue.js' %}
{% include '_js/vue/components/collapsible.js' %}
{% include '_js/vue/components/date-input.js' %}
{% include '_js/vue/components/glossary.js' %}
{% include '_js/vue/mixins/uniqueIdsMixin.js' %}
{% include '_js/utils/date.js' %}
{% js %}
	document.querySelectorAll('collapsible.lease-notice-period-calculator').forEach(
		el => new Vue({
			el: el,
			mixins: [uniqueIdsMixin],
			data() {
				return {
					inputNoticeDate: '',  // YYYY-MM-DD string
				};
			},
			mounted(){
				this.inputNoticeDate = isoDay(new Date())
			},
			computed: {
				inputMoveOutDate: {
					get(){
						const noticeDate = dateFromString(this.inputNoticeDate);
						return noticeDate ? isoDay(this.getMoveOutDate(noticeDate)) : '';
					},
					set(dateString){
						const moveOutDate = dateFromString(dateString);
						this.inputNoticeDate = moveOutDate ? isoDay(this.getNoticeDate(moveOutDate)) : '';
					}
				},
			},
			methods: {
				isPublicHoliday(date) {
					const holidays = {{ PUBLIC_HOLIDAYS_BY_DATE_JSON|safe }};
					return Object.keys(holidays).map(dateFromString).some(holiday =>
						holiday.getFullYear() === date.getFullYear() &&
						holiday.getMonth() === date.getMonth() &&
						holiday.getDate() === date.getDate()
					);
				},
				getNthWorkingDay(year, zeroBasedMonth, n){
					const date = new Date(year, zeroBasedMonth, 1);
					let workingDaysFound = 0;
					while(workingDaysFound < n){
						date.setDate(date.getDate() + 1);

						// Working days (Werktage) include Saturdays in this context
						if(date.getDay() !== 0 && !this.isPublicHoliday(date)){
							workingDaysFound++;
						}
					}
					return date;
				},
				getMoveOutDate(noticeDate) {
					const fourthWorkingDay = this.getNthWorkingDay(noticeDate.getFullYear(), noticeDate.getMonth(), 4);
					const monthsToAdd = noticeDate < fourthWorkingDay ? 3 : 4;
					const moveOutDate = new Date(noticeDate); // Leave original object untouched
					moveOutDate.setHours(0, 0, 0, 0);  // Start of the day
					moveOutDate.setMonth(moveOutDate.getMonth() + monthsToAdd);
					moveOutDate.setDate(0); // Last day of previous month. Jan 0 -> Dec 31
					return moveOutDate;
				},
				getNoticeDate(moveOutDate) {
					noticeDate = new Date(moveOutDate);
					noticeDate.setHours(0, 0, 0, 0);  // Start of the day
					noticeDate.setDate(1); // First day of the month.
					noticeDate.setMonth(noticeDate.getMonth() - 3); // Go back 3 months

					// Third working day of the next month
					return this.getNthWorkingDay(noticeDate.getFullYear(), noticeDate.getMonth(), 3);
				},
			},
		})
	);
{% endjs %}

<collapsible aria-label="Lease notice period calculator" class="lease-notice-period-calculator" ref="collapsible" {% if static|default %}static{% endif %}>
{% raw %}
	<template v-slot:header>Lease notice period calculator</template>
	<div class="form-group show-errors">
		<label :for="uid('noticeDate') + '-day'">Notice date</label>
		<input type="date" v-model="inputNoticeDate" :id="uid('noticeDate')">
	</div>
	<div class="form-group show-errors">
		<label :for="uid('moveOutDate') + '-day'">Move-out date</label>
		<input type="date" v-model="inputMoveOutDate" :id="uid('moveOutDate')">
	</div>
{% endraw %}
</collapsible>