{% include '_js/utils/date.js' %}
{% include '_js/utils/lease.js' %}
{% include '_js/utils/letter.js' %}
{% include '_js/vue.js' %}
{% include '_js/vue/components/address-input.js' %}
{% include '_js/vue/components/blank.js' %}
{% include '_js/vue/components/checkbox.js' %}
{% include '_js/vue/components/date-picker.js' %}
{% include '_js/vue/components/first-name-input.js' %}
{% include '_js/vue/components/full-name-input.js' %}
{% include '_js/vue/components/gender-input.js' %}
{% include '_js/vue/components/glossary.js' %}
{% include '_js/vue/components/tabs.js' %}
{% include '_js/vue/components/last-name-input.js' %}
{% include '_js/vue/components/letter-generator.js' %}
{% include '_js/vue/components/recommended.js' %}
{% include '_js/vue/mixins/uniqueIdsMixin.js' %}
{% include '_js/vue/mixins/userDefaultsMixin.js' %}
{% js %}
	document.querySelectorAll('.lease-termination-letter').forEach(
		el => new Vue({
			el: el,
			mixins: [userDefaultsMixin, uniqueIdsMixin],
			data() {
				return {
					people: [],
					address: '',
					futureAddress: '',
					fullName: userDefaults.empty,  // Just used to load the name from userdefaults
					recipientGender: 'man',
					recipientFirstName: '',
					recipientLastName: '',
					askForDepositReturn: false,
					bankAccountName: '',
					bankAccountIBAN: '',
					landlordAddress: '',
					landlordCompanyName: '',
					currentDate: new Date(),
					customMoveOutDate: false,
					moveOutDate: '',
				};
			},
			mounted() {
				this.addPerson();
			},
			computed: {
				de(){
					const many = this.people.length > 1;
					return {
						wir: many ? 'wir' : 'ich',
						unser: many ? 'unser' : 'mein',
						uns: many ? 'uns' : 'mich',
					}
				},
				en(){
					const many = this.people.length > 1;
					return {
						we: many ? 'we' : 'I',
						our: many ? 'our' : 'my',
						us: many ? 'us' : 'me',
					}
				},
				minimumMoveOutDate(){
					return getMoveOutDate(new Date());
				},
				maximumNoticeDate(){
					const noticeDate = getNoticeDate(dateFromString(this.moveOutDate) || this.minimumMoveOutDate);
					// Add one day, because it must be delivered "before the 4th workday". February 4 -> "Before February 5"
					noticeDate.setDate(noticeDate.getDate() + 1);

					console.log(dateFromString(this.moveOutDate) || this.minimumMoveOutDate, noticeDate)
					return noticeDate;
				},
				isMoveOutDateValid(){
					return new Date() < this.maximumNoticeDate;
				},
			},
			methods: {
				addPerson(){
					this.people.push({
						id: Math.floor(Math.random() * 10000),
						fullName: this.people.length === 0 ? this.fullName : '',
					})
				},
				formatName,
				formatSalutations,
				formatLongDate,
			},
			watch: {
				isMoveOutDateValid(isValid) {
					this.$refs.moveOutDateInput.$el.setCustomValidity(isValid ? '' : "This move-out date is too early.");
				},
				moveOutDate(){
					console.log(
						`moveOutDate: ${this.moveOutDate}\n`
						+ `maximumNoticeDate: ${this.maximumNoticeDate}\n`
						+ `minimumMoveOutDate: ${this.minimumMoveOutDate}\n`
						+ `isMoveOutDateValid: ${this.isMoveOutDateValid}\n`
					)
				}
			}
		})
	);
{% endjs %}

<letter-generator aria-label="Lease termination letter" class="lease-termination-letter" track-as="Lease termination letter" {% if static|default %}static{% endif %}>
{% raw %}
	<template v-slot:header>Lease termination letter</template>

	<template v-slot:letter-recipient="{ language, stage }">
		<span class="letter-return-address">
			<blank :key="uid('fullNameReturnBlank')" placeholder="Your full name">{{ fullName }}</blank>,
			<blank :key="uid('addressReturnBlank')" placeholder="your address">{{ address.replaceAll('\n', ', ') }}</blank>
		</span>
		<blank :key="uid('landlordCompanyNameBlank')" placeholder="Landlord's name">{{ landlordCompanyName }}</blank><br>
		<template v-if="formatName(recipientGender, recipientFirstName, recipientLastName, language)">
			{{ formatName(recipientGender, recipientFirstName, recipientLastName, language) }}<br>
		</template>
		<blank :key="uid('landlordAddressBlank')" v-if="!landlordAddress.trim()" placeholder="Landlord's address"></blank>
		<span v-if="landlordAddress.trim()" v-html="landlordAddress.replaceAll('\n', '<br>')"></span>
	</template>

	<template v-slot:letter-details="{ language, stage }">
		<template v-if="language === 'en'">
			<template v-if="fullName"><strong>Name:</strong> {{ fullName }}<br></template>
			<strong>Date:</strong> {{ currentDate.toLocaleDateString("en-US") }}
			<template v-if="address"><br>{{ address.replaceAll('\n', ', ') }}</template>
		</template>
		<template v-if="language === 'de'">
			<strong>Name:</strong> <blank :key="uid('fullNameBlank')" placeholder="Your full name">{{ fullName }}</blank><br>
			<strong>Datum:</strong> {{ currentDate.toLocaleDateString("de-DE") }}
			<template v-if="address"><br>{{ address.replaceAll('\n', ', ') }}</template>
		</template>
	</template>

	<template v-slot:before-print-preview="{ language }">
		<p class="input-instructions" v-if="language == 'en'">Send the German version to your landlord.</p>
	</template>

	<template v-slot:letter-body="{ language, stage }">
		<p v-if="language === 'en'">
			<strong>Subject: Termination of {{ en.our }} lease agreement</strong>
			<br><blank :key="uid('addressBlank')" placeholder="Apartment address">{{ address.replaceAll('\n', ', ') }}</blank>
		</p>
		<p v-if="language === 'de'">
			<strong>Betreff: Kündigung {{ de.unser }}es Mietvertrags</strong>
			<br><blank :key="uid('addressBlank')" placeholder="Apartment address">{{ address.replaceAll('\n', ', ') }}</blank>
		</p>

		<p v-text="formatSalutations(recipientGender, recipientFirstName, recipientLastName, language)"></p>

		<p v-if="language === 'en'">
			I hereby terminate the rental agreement for above-mentioned apartment
			<template v-if="customMoveOutDate">
				effective <blank :key="uid('moveOutDateBlankEn')" placeholder="Move-out date">{{ formatLongDate(moveOutDate, "en-US", true) }}</blank>.
			</template>
			<template v-else>
				at the earliest possible date.
			</template>
		</p>
		<p v-if="language === 'de'">
			hiermit kündige ich den Mietvertrag für die oben genannte Wohnung
			<template v-if="customMoveOutDate">
				unter Einhaltung der gesetzlichen Kündigungsfrist zum <blank :key="uid('moveOutDateBlankDe')" placeholder="Move-out date">{{ formatLongDate(moveOutDate, "de-DE", true) }}</blank>.
			</template>
			<template v-else>
				zum nächstmöglichen Termin.
			</template>
		</p>

		<p v-if="language === 'en'">
			Please transfer the rental deposit with interest, as well as any credit balances from utility bills, to the following bank account:
		</p>
		<p v-if="language === 'de'">
			Bitte überweisen Sie die Mietkaution mit Zinsen sowie etwaige Guthaben aus Nebenkostenabrechnungen auf das folgende Bankkonto:
		</p>

		<p>
			{{ language === 'en' ? 'Account holder' : 'Kontoinhaber' }}:</strong> <blank :key="uid('bankAccountNameBlankDe')" placeholder="Full name">{{ bankAccountName || people[0]?.fullName }}</blank>
			<br>
			IBAN: <blank :key="uid('ibanBlankDe')" placeholder="Account IBAN" key="bankAccountIBAN">{{ bankAccountIBAN }}</blank>
		</p>

		<p v-if="language === 'en'">
			Please confirm receipt of this termination and the effective end date of the lease in writing.
		</p>
		<p v-if="language === 'de'">
			Bitte bestätigen Sie den Erhalt dieser Kündigung und das Datum des Inkrafttretens der Kündigung schriftlich.
		</p>

		<p v-if="futureAddress && language === 'en'">
			In the future, you can reach {{ en.us }} at the following address: {{ futureAddress }}
		</p>
		<p v-if="futureAddress && language === 'de'">
			In Zukunft erreichen Sie {{ de.uns }} unter folgender Adresse: {{ futureAddress }}
		</p>

		<p v-if="language === 'en'">
			Best regards,<br>
			<blank :key="uid('fullNameBlankEn')" placeholder="Your full name">{{ people[0]?.fullName }}</blank>
		</p>
		<p v-if="language === 'de'">
			Mit freundlichen Grüßen,<br>
			<blank :key="uid('fullNameBlankDe')" placeholder="Your full name">{{ people[0]?.fullName }}</blank>
		</p>

		<p v-for="person in people" :key="person.fullName"
			class="signature"
			v-if="stage === 'printPreview'"
			v-text="person.fullName"></p>
	</template>

	<template v-slot:form="{ language }">
		<div class="form-group">
			<label :for="uid('address')">Apartment address</label>
			<address-input :id="uid('address')" v-model="address" home required></address-input>
			<span class="input-instructions">The address of the apartment you are leaving</span>
		</div>
		<div class="form-group show-errors">
			<label :for="uid('moveOutDate') + '-day'">Move-out date</label>
			<tabs
				aria-label="Move-out date"
				v-model="customMoveOutDate"
				:id="uid('customMoveOutDate')"
				:options="[{label: 'As soon as possible', value: false}, {label: 'Choose a date', value: true}]"
				required>
			</tabs>
			<date-picker
				ref="moveOutDateInput"
				v-if="customMoveOutDate"
				v-model="moveOutDate"
				:id="uid('moveOutDate')"></date-picker>
			<span class="input-instructions" v-if="moveOutDate && isMoveOutDateValid">
				Deliver this letter before {{ formatLongDate(maximumNoticeDate) }} to move out on {{ formatLongDate(moveOutDate) }}.
			</span>
			<span class="input-instructions error" v-if="moveOutDate && !isMoveOutDateValid">
				The earliest move-out date is {{ formatLongDate(minimumMoveOutDate) }}. Try <a target="_blank" href="/guides/moving-out#end-your-lease-sooner">negotiating an earlier date</a>.
			</span>
			</span>
			<span class="input-instructions" v-if="!moveOutDate">
				Deliver this letter before {{ formatLongDate(maximumNoticeDate) }} to move out on {{ formatLongDate(minimumMoveOutDate) }}.
			</span>
		</div>
		<hr>
		<div class="form-group">
			<label :for="uid('fullName')">{{ people.length > 1 ? "Tenants' names" : "Your full name"}}</label>
			<full-name-input v-for="person in people" :id="uid('fullName')" v-model="person.fullName" required></full-name-input>
			<span class="input-instructions">
				Every tenant who signed the lease must sign this letter.
			</span>
			<a class="input-instructions" href="#" @click.prevent="addPerson">
				Add another tenant
			</a>
		</div>
		<hr>
		<div class="form-group">
			<label :for="uid('landlordCompanyName')">Landlord's name</label>
			<input
				:id="uid('landlordCompanyName')"
				type="text"
				v-model="landlordCompanyName"
				placeholder="Hausverwaltung Musterfirma"
				autocomplete="organization"
				required>
		</div>
		<div class="form-group">
			<label :for="uid('landlordAddress')">Landlord's address</label>
			<address-input :id="uid('landlordAddress')" v-model="landlordAddress" required></address-input>
		</div>
		<div class="form-group">
			<span class="label">Letter recipient</span>
			<div class="input-group">
				<gender-input v-model="recipientGender"></gender-input>
				<first-name-input
					v-model="recipientFirstName" autocomplete="off"></first-name-input>
				<last-name-input
					v-model="recipientLastName" autocomplete="off"></last-name-input>
				<span class="input-instructions">If you don't know your landlord's name, leave this field empty.</span>
			</div>
		</div>
		<hr>
		<div class="form-group no-label">
			<checkbox v-model="askForDepositReturn"><span>Ask for your <glossary term="Kaution">deposit</glossary> back</span></checkbox>
		</div>
		<template v-if="askForDepositReturn">
			<hr>
			<p>Where should your landlord refund your deposit? Deposits are usually paid by <glossary term="SEPA-Überweisung">bank transfer</glossary>.</p>
			<div class="form-group">
				<label :for="uid('bankAccountName')">Bank account holder</label>
				<full-name-input :id="uid('bankAccountName')" v-model="bankAccountName" :placeholder="fullName"></full-name-input>
			</div>
			<div class="form-group">
				<label :for="uid('bankAccountIBAN')"><glossary>IBAN</glossary></label>
				<input type="text"
					:id="uid('bankAccountIBAN')"
					v-model="bankAccountIBAN"
					placeholder="DE00 0000 0000 0000 0000 00">
			</div>
		</template>
	</template>
{% endraw %}
</letter-generator>