{% include '_js/vue.js' %}
{% include '_js/vue/components/collapsible.js' %}
{% include '_js/vue/components/date-picker.js' %}
{% include '_js/vue/components/glossary.js' %}
{% include '_js/vue/mixins/uniqueIdsMixin.js' %}
{% include '_js/utils/date.js' %}
{% include '_js/utils/lease.js' %}
{% js %}
	document.querySelectorAll('collapsible.lease-notice-period-calculator').forEach(
		el => new Vue({
			el: el,
			mixins: [uniqueIdsMixin],
			data() {
				return {
					inputNoticeDate: '',  // YYYY-MM-DD string
				};
			},
			mounted(){
				this.inputNoticeDate = isoDay(new Date())
			},
			computed: {
				inputMoveOutDate: {
					get(){
						const noticeDate = dateFromString(this.inputNoticeDate);
						return noticeDate ? isoDay(getMoveOutDate(noticeDate)) : '';
					},
					set(dateString){
						const moveOutDate = dateFromString(dateString);
						this.inputNoticeDate = moveOutDate ? isoDay(getNoticeDate(moveOutDate)) : '';
					}
				},
			},
		})
	);
{% endjs %}

<collapsible aria-label="Lease notice period calculator" class="lease-notice-period-calculator" ref="collapsible" {% if static|default %}static{% endif %}>
{% raw %}
	<template v-slot:header>Lease notice period calculator</template>
	<div class="form-group show-errors">
		<label :for="uid('noticeDate')">Notice date</label>
		<date-picker v-model="inputNoticeDate" :id="uid('noticeDate')"></date-picker>
	</div>
	<div class="form-group show-errors">
		<label :for="uid('moveOutDate')">Move-out date</label>
		<date-picker v-model="inputMoveOutDate" :id="uid('moveOutDate')"></date-picker>
	</div>
{% endraw %}
</collapsible>