{% extends "tests/component/index.html.jinja" %}
{% include '_js/vue/components/eur.js' %}

{% js %}
    new Vue({ el: document.querySelector('main .article-body') })
{% endjs %}

{% block component %}
    <p>
        <eur cents amount="12345.67123"></eur> (with cents)
        <br><eur amount="12345.67123"></eur> (no cents)
        <br><eur locale="de-DE" cents amount="12345.67123"></eur> (German, with cents)
        <br><eur locale="de-DE" amount="12345.67123"></eur> (German, no cents)
    </p>
{% endblock %}