{% extends "tests/component/index.html.jinja" %}
{% block component %}
	{% with occupation = 'studentUnemployed' %}{% include '_blocks/healthInsuranceCalculatorStatic.html' %}{% endwith %}
{% endblock %}