{% extends "_layout.html" %}
{% set metatitle = "Component test" %}

{% block postHead %}
	<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
	<h1>{{ metatitle }}</h1>
	<div class="article-body">
		{% block component %}
			<ul>
				<li><a href="/tests/component/health-insurance-calculator">Health insurance calculator</a></li>
			</ul>
		{% endblock %}
	</div>
{% endblock %}